.root {
  all: unset;
  display: block;
  box-sizing: border-box;
  padding: 4px 8px;
  border-radius: var(--radius-md);
  cursor: pointer;
}

.text {
  color: var(--color-foreground);

  &:hover {
    background-color: var(--color-gray-100);
  }
}

.fullWidth {
  width: calc(100% + 16px);
  margin-left: -8px;
  margin-right: -8px;
}
