.playground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  border: 1px solid var(--gray-outline-2);
  border-radius: 12px 12px 0 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border: 1px var(--gray-outline-2);
  border-style: none solid none solid;
  background: var(--gray-surface-1);
}

.source {
  border: 1px var(--gray-outline-2);
  border-style: solid;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
  margin-bottom: 1em;

  pre {
    border: none !important;
    border-radius: 0;
  }
}

.scrollArea {
  max-height: 300px;
  overflow-y: scroll;
}

.buttons {
  display: flex;
  align-items: end;
  gap: 4px;
}

.iconButton {
  all: unset;
  line-height: 1;
  vertical-align: middle;
  background-clip: padding-box;
  box-sizing: border-box;
  flex-shrink: 0;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--br-circle);
  color: var(--gray-text-1);
  width: var(--space-7);
  height: var(--space-7);

  @media screen and (hover: hover) {
    &:hover {
      background-color: var(--gray-container-2);
    }
  }
}
