.root {
  color: var(--gray-text-1);
  font-weight: var(--fw-1);
  font-size: var(--fs-5);
  line-height: 23px;
  letter-spacing: -0.012em;
  margin: 0;
  font-family: var(--ff-sans);
  scroll-margin-top: 80px;
}
