.Control {
  box-sizing: border-box;
  display: flex;
  touch-action: none;
  user-select: none;

  &[data-orientation='vertical'] {
    height: 8rem;
    padding-inline: 0.75rem;
  }
}

.Track {
  background-color: light-dark(var(--color-gray-200), var(--color-gray-800));
  user-select: none;

  &[data-orientation='vertical'] {
    height: 100%;
    width: 0.25rem;
  }
}

.Indicator {
  background-color: light-dark(var(--color-gray-950), white);
  user-select: none;
}

.Thumb {
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  border: 1px solid light-dark(var(--color-gray-950), white);
  background-color: light-dark(white, var(--color-gray-950));
  user-select: none;

  &:has(:focus-visible) {
    outline: 2px solid var(--color-blue-800);
    outline-offset: 2px;
  }
}
