.Badge {
  box-sizing: border-box;
  user-select: none;
  display: inline-flex;
  align-items: center;
  height: var(--space-5);
  padding-left: var(--space-1);
  padding-right: var(--space-1);
  font-family: var(--ff-sans);
  font-size: var(--fs-1);
  border-radius: 6px;
  font-weight: var(--fw-2);
  color: hsl(23 100% 40%);
}
