.Callout {
  background-color: white;
  border-radius: 6px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: 2px solid hsl(202 100% 50%);
  gap: var(--space-3);
  color: var(--gray-text-1);
}
