.Code {
  box-sizing: border-box;
  font-family: var(--ff-code);
  color: var(--gray-text-2);
  font-size: 0.89em;
  padding-right: var(--space-1);
  padding-bottom: 2px;
  padding-left: var(--space-1);
  white-space: break-spaces;
  border: 1px solid var(--gray-outline-1);
  border-radius: 6px;
  position: relative;
  top: -0.5px;
}

.Text .Code {
  margin-left: 1px;
  margin-right: 1px;
}
