.DialogBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(0deg 0% 100% / 75%);
  z-index: 1;
  backdrop-filter: grayscale(50%);
}

.DialogPopup {
  background-color: white;
  box-sizing: border-box;
  padding: var(--space-6);
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.025),
    0 8px 36px -6px rgba(0, 0, 0, 0.025),
    0 12px 64px -6px rgba(0, 0, 0, 0.1),
    0 16px 64px -8px rgba(0, 0, 0, 0.1),
    0 16px 36px -8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  z-index: 2;
}
