.GrowingChevron {
  display: block;
  vertical-align: middle;
}

.GrowingChevron.direction-left .GrowingChevronTip {
  transform: rotateZ(180deg) translateX(-100%) translateY(-16px);
}

@media screen and (hover: hover) {
  .GrowingChevronLine,
  .GrowingChevronTip {
    transition-property: transform, opacity;
    transition-duration: 175ms;
    transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  }

  .GrowingChevronLine {
    opacity: 0;
  }

  .GrowingChevron.direction-left .GrowingChevronTip {
    transform: rotateZ(180deg) translateX(-125%) translateY(-16px);
  }

  .GrowingChevron.direction-right .GrowingChevronTip {
    transform: translateX(-25%);
  }

  .Button:hover .GrowingChevronLine,
  .LinkBlock:hover .GrowingChevronLine {
    opacity: 1;
  }

  .Button:hover .GrowingChevron.direction-left .GrowingChevronTip,
  .LinkBlock:hover .GrowingChevron.direction-left .GrowingChevronTip {
    transform: rotateZ(180deg) translateX(-100%) translateY(-16px);
  }

  .Button:hover .GrowingChevron.direction-right .GrowingChevronTip,
  .LinkBlock:hover .GrowingChevron.direction-right .GrowingChevronTip {
    transform: translateX(0);
  }
}