.Kbd {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  background-clip: padding-box;
  background-color: white;
  font-weight: var(--fw-2);
  padding-left: var(--space-2);
  padding-right: var(--space-2);
  border-radius: var(--br-pill);
  font-size: var(--fs-2);
  font-family: var(--ff-sans);
  height: var(--space-6);
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.05);
  border: 1px solid hsl(0deg 0% 0% / 5%);
  color: var(--gray-text-1);
}
