.LinkBlock {
  all: unset;
  line-height: 1;
  vertical-align: middle;
  background-clip: padding-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  flex-shrink: 0;
  user-select: none;
  display: flex;
  padding: var(--space-3);
  border-radius: 6px;
  height: var(--space-7);
  align-items: center;
  font-family: var(--ff-sans);
  font-size: var(--fs-3);
  cursor: pointer;
  color: var(--gray-text-2);
}

@media screen and (hover: hover) {
  .LinkBlock:hover {
    background-color: var(--gray-container-1);
  }
}

.LinkBlock:focus-visible {
  outline-width: 2px;
  outline-style: solid;
  outline-color: black;
  outline-offset: 2px;
}

.LinkBlock.active {
  background-color: var(--gray-container-2);
}
