.Pre {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  padding: var(--space-3) var(--space-4);
  font-family: var(--ff-code);
  font-size: var(--fs-2);
  line-height: 20px;
  white-space: pre;
  color: var(--gray-text-1);
}
