.SearchButton {
  all: unset;
  line-height: 1;
  vertical-align: middle;
  background-clip: padding-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  flex-shrink: 0;
  user-select: none;
  display: inline-flex;
  align-items: center;
  height: var(--space-7);
  justify-content: space-between;
  border-radius: var(--br-pill);
  font-family: var(--ff-sans);
  font-size: var(--fs-3);
  color: var(--gray-text-1);
  width: 200px;
  gap: var(--space-2);
  padding-left: var(--space-2);
  padding-right: var(--space-1);
  background-color: var(--gray-container-1);
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.025),
    inset 0 1px 4px -2px rgba(0, 0, 0, 0.025),
    0 1px 0 white;
  border: 1px solid hsl(0deg 0% 0% / 8%);
  border-top: 1px solid hsl(0deg 0% 0% / 13%);
}

.SearchButton:focus-visible {
  outline-width: 2px;
  outline-style: solid;
  outline-color: black;
  outline-offset: 2px;
}
