.SelectRoot {
  position: relative;
}

.SelectTrigger {
  all: unset;
  line-height: 1;
  vertical-align: middle;
  background-clip: padding-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  flex-shrink: 0;
  user-select: none;
  display: inline-flex;
  align-items: center;
  font-family: var(--ff-sans);
  font-weight: var(--fw-2);
  background-color: white;
  border-width: 1px;
  border-style: solid;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.05),
    0 4px 8px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid hsl(0deg 0% 0% / 5%);
  border-radius: 6px;
  color: var(--gray-text-2);
}
.SelectTrigger::after {
  content: 'efew';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  pointer-events: none;
}

.SelectTrigger:focus-visible {
  outline-width: 2px;
  outline-style: solid;
  outline-color: black;
  outline-offset: 2px;
}

@media screen and (hover: hover) {
  .SelectTrigger:hover {
    border-color: hsl(0deg 0% 0% / 13%);
  }
}

.SelectTrigger.size-1 {
  height: var(--space-6);
  padding-left: var(--space-2);
  padding-right: var(--space-5);
  font-size: var(--fs-2);
}

.SelectTrigger.size-2 {
  height: var(--space-7);
  padding-left: var(--space-3);
  padding-right: var(--space-6);
  font-size: var(--fs-3);
}

.SelectAdornment {
  top: 0;
  right: 4px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: absolute;
}
