@layer components {
  .Text {
    margin: 0;
    font-family: var(--ff-sans);
    font-weight: var(--fw-1);
    color: var(--gray-text-2);
    scroll-margin-top: 80px;
  }

  .Text.s-1 {
    font-size: var(--fs-1);
    line-height: 1;
  }

  .Text.s-2 {
    font-size: var(--fs-2);
    line-height: 1;
  }

  .Text.s-3 {
    font-size: var(--fs-3);
    line-height: 20px;
  }

  .Text.s-4 {
    font-size: var(--fs-4);
    line-height: 23px;
  }

  .Text.s-5 {
    font-size: var(--fs-5);
    line-height: 23px;
    font-weight: 500;
    letter-spacing: -0.012em;
  }

  .Text.s-6 {
    font-size: var(--fs-6);
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.018em;
  }

  .Text.s-7 {
    font-size: var(--fs-7);
    line-height: 28px;
    font-weight: 500;
    letter-spacing: -0.031em;
  }

  .Text.s-8 {
    font-size: var(--fs-8);
    line-height: 37px;
    font-weight: 500;
    letter-spacing: -0.042em;
    text-indent: -1.1px;
  }

  .Text.s-9 {
    font-size: var(--fs-9);
    line-height: 1;
    font-weight: 500;
  }

  .Text.weight-1 {
    font-weight: var(--fw-1);
  }

  .Text.weight-2 {
    font-weight: var(--fw-2);
  }

  .Text.color-gray {
    color: var(--gray-text-1);
  }
}
