.Textarea {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  min-height: 132px;
  border: 1px solid var(--gray-outline-2);
  padding: 12px;
  background-clip: padding-box;
  font-family: var(--ff-sans);
  font-size: var(--fs-3);
  color: var(--gray-text-2);
  border-radius: 6px;
  line-height: 20px;
  display: block;
  vertical-align: bottom;
}

.Textarea:focus-visible {
  outline-width: 2px;
  outline-style: solid;
  outline-color: black;
  outline-offset: 2px;
}

.Textarea::placeholder {
  color: var(--gray-text-1);
}