.Accordion {
  box-sizing: border-box;
  display: flex;
  width: 20rem;
  max-width: 100%;
  flex-direction: column;
  border-bottom: 1px solid light-dark(var(--color-gray-900), var(--color-gray-50));
  color: light-dark(var(--color-gray-900), var(--color-gray-50));
}

.Header {
  margin: 0;
}

.Trigger {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 0;
  margin: 0;
  border: none;
  border-top: 1px solid light-dark(var(--color-gray-900), var(--color-gray-50));
  border-radius: 0;
  background-color: transparent;
  color: light-dark(var(--color-gray-900), var(--color-gray-50));
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: left;
  user-select: none;

  &:focus-visible {
    outline-width: 2px;
    outline-style: solid;
    z-index: 1;
  }
}

.TriggerIcon {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 0.75rem;
  height: 0.75rem;
  transition: transform 100ms ease-out;

  [data-panel-open] > & {
    transform: rotate(45deg);
  }
}

.Panel {
  box-sizing: border-box;
  height: var(--accordion-panel-height);
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition: height 150ms ease-out;

  &[data-starting-style],
  &[data-ending-style] {
    height: 0;
  }
}

.Content {
  padding: 0.5rem 0;
}
