.root {
  border: 1px solid var(--gray-outline-2);
  border-radius: 12px;
  overflow: hidden;
}

.playground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 64px;

  &:focus {
    box-shadow: 0 0 0 1px var(--gray-outline-2) inset;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-1);
  border-top: 1px var(--gray-outline-2) solid;
  background: var(--gray-surface-1);
}

.source {
  border-top: 1px var(--gray-outline-2) solid;
  overflow: hidden;

  pre {
    border: none !important;
    border-radius: 0;
    overflow: visible;
  }
}

.scrollArea {
  transition:
    max-height 200ms,
    overflow 0 200ms;
  max-height: 600px;
  overflow: auto;

  .codeClosed & {
    transition: max-height 200ms;
    max-height: 0;
    overflow: hidden;
  }
}

.buttons {
  display: flex;
  align-items: end;
  gap: var(--space-1);
}

.toggleCodeVisibility {
  & svg {
    transition: rotate 200ms;

    .codeOpen & {
      rotate: 180deg;
    }
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--collapsible-content-height);
  }
  to {
    height: 0;
  }
}

.collapsible {
  overflow: hidden;

  &[data-state='open'] {
    animation: slideDown 200ms ease-out;
  }

  &[data-state='closed'] {
    animation: slideUp 200ms ease-in;
  }
}
