.playground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  border: 1px solid var(--gray-outline-2);
  border-radius: 12px 12px 0 0;

  &:focus {
    box-shadow: 0 0 0 1px var(--gray-outline-2) inset;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border: 1px var(--gray-outline-2);
  border-style: none solid none solid;
  background: var(--gray-surface-1);
}

.source {
  border: 1px var(--gray-outline-2);
  border-style: solid;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
  margin-bottom: 1em;

  pre {
    border: none !important;
    border-radius: 0;
  }
}

.scrollArea {
  transition:
    max-height 0.2s,
    overflow 0 0.2s;
  max-height: 600px;
  overflow-y: scroll;

  .codeClosed & {
    transition: max-height 0.2s;
    max-height: 0;
    overflow: hidden;
  }
}

.buttons {
  display: flex;
  align-items: end;
  gap: 4px;
}

.toggleCodeVisibility {
  min-width: 18ex;
  padding-left: 21px;

  & svg {
    transition: rotate 0.2s;

    .codeOpen & {
      rotate: 180deg;
    }
  }
}

.fileTabs {
  .codeClosed & {
    display: none;
  }
}
