.root {
  display: flex;
  gap: var(--space-2);
  align-items: center;
}

.variantSelector {
  all: unset;
  line-height: 1;
  vertical-align: middle;
  background-clip: padding-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  flex-shrink: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  font-family: var(--ff-sans);
  font-weight: var(--fw-2);
  background-color: white;
  border-width: 1px;
  border-style: solid;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.05),
    0 4px 8px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid hsl(0deg 0% 0% / 5%);
  border-radius: 6px;
  color: var(--gray-text-2);
  height: var(--space-7);
  padding-left: var(--space-3);
  padding-right: var(--space-6);
  font-size: var(--fs-3);
}

.separator {
  display: inline-flex;
  box-sizing: border-box;
  width: 1px;
  height: 16px;
  background-color: var(--gray-outline-2);
  flex-shrink: 0;
}

.languages {
  box-sizing: border-box;
  background-color: var(--gray-container-2);
  border-radius: var(--br-pill);
  display: inline-flex;
  height: var(--space-7);
  padding: 1px;
  flex-shrink: 0;
}
