@layer components {
  .DemoRoot {
    background-color: var(--color-content);
    border: 1px solid var(--color-gray-200);
    border-radius: var(--radius-md);
  }

  .DemoPlayground {
    background-color: var(--color-content);
    min-height: 10rem;
    padding: 3rem 1.5rem;
    border-top-left-radius: var(--radius-md);
    border-top-right-radius: var(--radius-md);

    /* Scroll */
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scrollbar-width: thin;

    /* Scroll containers may be focusable */
    &:focus-visible {
      position: relative;
      outline: 2px solid var(--color-blue);
      outline-offset: -1px;
      z-index: 1;
    }

    /* Center the contents */
    display: grid;
    place-content: center;

    /* Debugging red text? You just forgot to set the text color in your demo. */
    color: red;
  }

  .DemoToolbar {
    @apply text-xs;
    white-space: nowrap;
    color: var(--color-gray);
    background-color: var(--color-gray-50);
    background-clip: padding-box;
    border-block: 1px solid var(--color-gray-200);
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 2.25rem;
    padding: 0 0.75rem;
    -webkit-user-select: none;
    user-select: none;

    /* Scroll */
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    /* Scroll containers may be focusable */
    &:focus-visible {
      position: relative;
      outline: 2px solid var(--color-blue);
      outline-offset: -1px;
      z-index: 1;
    }
  }

  .DemoFilename {
    font-family: var(--font-mono);
    letter-spacing: normal;
    color: var(--color-foreground);
    font-weight: bold;
    -webkit-user-select: text;
    user-select: text;
  }

  .DemoTabsList {
    display: flex;
    gap: 1rem;
  }

  .DemoTab {
    font-family: var(--font-mono);
    letter-spacing: normal;
    cursor: default;
    position: relative;
    z-index: 0;
    outline: 0;

    @media (hover: hover) {
      &:hover {
        &::before {
          background-color: var(--color-gray-100);
        }
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
    }

    &::before {
      inset: -0.125rem -0.375rem;
      border-radius: var(--radius-sm);
    }

    /* Increase the clickable size  */
    &::after {
      inset: -0.375rem -0.5rem;
    }

    &[data-selected] {
      color: var(--color-foreground);
      font-weight: bold;

      &::before {
        background-color: white;
        outline: 1px solid var(--color-gray-300);
        outline-offset: -1px;
        box-shadow:
          0px 2px 3px -2px var(--color-gray-300),
          inset 0px -1px 1px var(--color-gray-200);
      }
      @media (prefers-color-scheme: dark) {
        &::before {
          outline: none;
          background-color: var(--color-gray-50);
          box-shadow:
            0px 0px 3px 0px var(--color-gray-300),
            inset 0px 0px 0px 1px var(--color-gray-400);
        }
      }
    }

    &:focus-visible::before {
      outline: 2px solid var(--color-blue);
      outline-offset: -1px;
    }
  }

  .DemoCodeBlockContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    outline: 0;

    & pre {
      @apply text-xs;
      padding: 0.5rem 0.75rem;
      display: flex;
      cursor: text;

      /* Closed state */
      overflow: hidden;
      max-height: 12.5rem;
    }

    /* Scroll containers may be focusable */
    & pre:focus-visible {
      position: relative;
      outline: 2px solid var(--color-blue);
      outline-offset: -1px;
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      pointer-events: none;
      height: 7.5rem;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to bottom, rgb(255 255 255 / 0), rgb(255 255 255 / 60%));
    }
    @media (prefers-color-scheme: dark) {
      &::before {
        background: linear-gradient(to bottom, rgb(0 0 0 / 0), rgb(0 0 0 / 60%));
      }
    }

    &[data-open] {
      & pre {
        max-height: none;

        /* Scroll */
        overflow: auto;
        overscroll-behavior-x: contain;
        scrollbar-width: thin;

        /* Scroll containers may be focusable */
        &:focus-visible {
          position: relative;
          outline: 2px solid var(--color-blue);
          outline-offset: -1px;
          z-index: 1;
        }
      }
      &::before {
        content: none;
      }
    }

    & code {
      /* Different fonts may introduce vertical alignment issues */
      display: block;
      /* Make sure selection highlight spans full container width in Safari */
      flex-grow: 1;
    }
  }

  .DemoCollapseButton {
    @apply text-xs;
    background-color: var(--color-gray-50);
    cursor: default;
    width: 100%;
    color: var(--color-gray);
    height: 2.25rem;
    border-top: 1px solid var(--color-gray-200);
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    border-bottom: 1px solid transparent;
    background-clip: padding-box;
    margin-bottom: -1px;
    -webkit-user-select: none;
    user-select: none;

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-gray-75);
      }
    }

    &:active {
      background-color: var(--color-gray-100);
    }

    &:focus-visible {
      outline: 2px solid var(--color-blue);
      outline-offset: -1px;
      z-index: 1;
      position: relative;
    }
  }
}
