.Control {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 14rem;
  padding-block: 0.75rem;
  touch-action: none;
  user-select: none;
}

.Track {
  width: 100%;
  height: 0.25rem;
  background-color: var(--color-neutral-200);
  user-select: none;

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-neutral-800);
  }
}

.Indicator {
  background-color: var(--color-neutral-950);
  user-select: none;

  @media (prefers-color-scheme: dark) {
    background-color: white;
  }
}

.Thumb {
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--color-neutral-950);
  background-color: white;
  user-select: none;

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    background-color: var(--color-neutral-950);
  }

  &:has(:focus-visible) {
    outline: 2px solid var(--color-neutral-950);
    outline-offset: 2px;

    @media (prefers-color-scheme: dark) {
      outline-color: white;
    }
  }
}
