@import 'docs/src/css/custom-media.css';

@layer components {
  .QuickNavContainer {
    /* Quick Nav's container shouldn't have any paddings to maintain correct positioning */
    padding: 0;
    position: relative;
  }

  .QuickNavContent {
    padding-top: 1.5rem;
    padding-bottom: 5rem;

    @media (--sm) {
      padding-top: 2rem;
    }

    @media (--show-side-nav) {
      padding-bottom: 8rem;
    }
  }

  .QuickNavRoot {
    --quick-nav-margin-x: 2rem;
    --quick-nav-scrollbar-thumb-width: 0.25rem;
    --quick-nav-scrollbar-width: 1.5rem;

    /* Use line height instead of fixed item height in case text breaks into multiple lines */
    --quick-nav-item-height: 2rem;
    --quick-nav-item-line-height: var(--text-md--line-height);
    --quick-nav-item-padding-y: calc(
      var(--quick-nav-item-height) / 2 - var(--quick-nav-item-line-height) / 2
    );

    font-size: var(--text-md);
    line-height: var(--text-md--line-height);
    z-index: 1;
    position: sticky;
    top: 0;
    width: 0;
    float: right;
    contain: layout;
    display: none;

    @media (--show-quick-nav) {
      display: block;
    }
  }

  .QuickNavInner {
    position: relative;
    left: var(--quick-nav-margin-x);
    width: calc(var(--sidebar-width) - var(--quick-nav-margin-x));
  }

  .QuickNavViewport {
    max-height: 100dvh;
    padding-top: 0.75rem;
    padding-right: var(--quick-nav-scrollbar-width);
    padding-bottom: 4.5rem;
    padding-left: 0;

    /* Scroll containers are focusable */
    outline: 0;
  }

  .QuickNavScrollbar {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 4.5rem;

    /* Click target width */
    width: var(--quick-nav-scrollbar-width);

    opacity: 0;
    transition: opacity 200ms 500ms;

    &:active,
    &[data-scrolling],
    .QuickNavViewport:focus-visible + & {
      transition-duration: 0ms;
      transition-delay: 0ms;
      opacity: 1;
    }
  }

  .QuickNavScrollbarThumb {
    display: flex;
    justify-content: center;
    width: 100%;

    &::before {
      content: '';
      display: block;
      height: 100%;
      /* Visible thumb width */
      width: var(--quick-nav-scrollbar-thumb-width);
      border-radius: var(--radius-sm);
      background-color: var(--color-gray-400);
    }
  }

  .QuickNavList {
    color: var(--color-gray);
    display: flex;
    flex-direction: column;
    align-items: start;

    & & {
      padding-left: 0.75rem;
    }
  }

  .QuickNavLink {
    display: flex;
    padding: var(--quick-nav-item-padding-y) 0.5rem;
    margin-inline: 0 -0.5rem;
    border-radius: var(--radius-md);

    &:focus-visible {
      z-index: 1;
      outline: 2px solid var(--color-blue);
      outline-offset: -2px;
    }

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-thickness: 1px;
        text-decoration-color: var(--color-gray-500);
      }
    }
  }
}
