@import 'docs/src/css/custom-media.css';

@layer components {
  .QuickNavContainer {
    /* Quick Nav's container shouldn't have any paddings to maintain correct positioning */
    padding: 0;
    position: relative;
    display: grid;
    gap: var(--content-layout-gap);
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .QuickNavContent {
    grid-column: 1 / -1;
    grid-row: 1;
    min-width: 0;
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;

    @media (--show-side-nav) {
      grid-column: 3 / 9;
      padding-top: 0;
    }

    @media (--xl) {
      grid-column: 3 / 7;
    }
  }

  .QuickNavRoot {
    --quick-nav-scrollbar-thumb-width: 0.25rem;
    --quick-nav-scrollbar-width: 1.5rem;

    /* Use line height instead of fixed item height in case text breaks into multiple lines */
    --quick-nav-item-height: 1.75rem;
    --quick-nav-item-line-height: 1.375rem;
    --quick-nav-item-padding-y: calc(
      var(--quick-nav-item-height) / 2 - var(--quick-nav-item-line-height) / 2
    );

    font-size: var(--font-size-14);
    line-height: 1.375rem;
    z-index: 1;
    grid-column: 7 / 9;
    grid-row: 1;
    align-self: start;
    min-width: 0;
    contain: layout;
    display: none;

    @media (--xl) {
      display: block;
      position: fixed;
      top: var(--header-height);
      right: var(--content-layout-inline-offset);
      bottom: 0;
      width: var(--content-layout-sidebar-width);
      /* Avoid links' focus outline from being cut */
      margin-top: -3px;
      margin-left: -3px;
    }
  }

  .QuickNavInner {
    position: relative;
    width: 100%;
  }

  .QuickNavViewport {
    max-height: calc(100dvh - var(--header-height));
    padding-right: var(--quick-nav-scrollbar-width);
    padding-bottom: 0.75rem;
    padding-left: 0;

    /* Scroll containers are focusable */
    outline: 0;

    &:focus-visible {
      outline: 2px solid var(--gray-t2);
      outline-offset: 1px;
    }
  }

  .QuickNavScrollbar {
    display: flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    /* Click target width */
    width: var(--quick-nav-scrollbar-width);

    opacity: 0;
    transition: opacity 200ms 500ms;

    &:active,
    &[data-scrolling],
    .QuickNavViewport:focus-visible + & {
      transition-duration: 0ms;
      transition-delay: 0ms;
      opacity: 1;
    }
  }

  .QuickNavScrollbarThumb {
    display: flex;
    justify-content: center;
    width: 100%;

    &::before {
      content: '';
      display: block;
      height: 100%;
      /* Visible thumb width */
      width: var(--quick-nav-scrollbar-thumb-width);
      border-radius: var(--radius-4);
      background-color: var(--gray-p2);
    }
  }

  .QuickNavList {
    color: var(--gray-t1);
    display: flex;
    flex-direction: column;
    align-items: start;

    & & {
      padding-left: 0.75rem;
    }
  }

  .QuickNavViewport > .QuickNavList {
    /* Avoid links' focus outline from being cut */
    margin-top: 3px;
    margin-left: 3px;
  }

  .QuickNavLink {
    display: inline-flex;
    padding-block: var(--quick-nav-item-padding-y);
    border-radius: var(--radius-6);

    &:focus-visible {
      z-index: 1;
      outline: 2px solid var(--gray-t2);
      outline-offset: 1px;
    }

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-thickness: 1px;
        text-decoration-color: var(--gray-p1);
      }
    }
  }
}
