# Default/Fallback
# `npx browserslist --mobile-to-desktop "> 0.5%, last 2 versions, Firefox ESR, not dead"` when the last major is released.
# On update, sync references where "#stable-snapshot" is mentioned in the codebase.
[stable]
and_chr 121
and_chr 120
and_ff 122
and_ff 121
and_qq 13.1
and_uc 15.5
android 121
android 120
chrome 121
chrome 120
chrome 119
chrome 109
edge 121
edge 120
firefox 122
firefox 121
firefox 115
ios_saf 17.3
ios_saf 17.2
ios_saf 17.1
ios_saf 16.6-16.7
ios_saf 16.3
ios_saf 16.1
ios_saf 15.6-15.8
kaios 3.0-3.1
kaios 2.5
op_mini all
op_mob 73
opera 106
opera 105
safari 17.3
safari 17.2
safari 17.1
safari 16.6
samsung 23
samsung 22

# snapshot of `npx browserslist "maintained node versions"`
# On update check all #stable-snapshot markers
[node]
node 18.0

# same as `node`
[coverage]
node 18.0

# same as `node`
[development]
node 18.0

# same as `node`
[test]
node 18.0

# same as `node`
[benchmark]
node 18.0
