/*
 * README
 * - Use plain CSS to create docs component styles
 *   - Component CSS must use "@layer components" to work correctly with Tailwind
 *   - Use component name as the prefix to avoid conflicts, e.g. ".SelectTriggerIcon"
 *   - Prefix CSS variables with component name too, e.g. "--root-layout-padding-x"
 * - Use Tailwind for layout utils
 * - There is two reset layers:
 *   - "@layer all" is a truly global reset
 *   - "@layer base" is Tailwind’s reset that is reverted in non-Tailwind demos
 *   - We rely on both to build the docs docs
 * - Docs and demos are built using the same theme
 *   - Theme tokens use Tailwind v4 "@theme" naming convention
 *   - Don't use our custom tokens in the demos – only what's available in the default theme.
 */

@layer all;
@layer base;
@layer theme;
@layer components;
@layer utilities;

@import 'tailwindcss/preflight' layer(base);
@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/utilities' layer(utilities);

@import './breakpoints.css';
@import './fonts/index.css';
@import './syntax-highlighting/index.css';
@import './components/Code.css';
@import './components/CodeBlock.css';
@import './components/demo/Demo.css';
@import './components/GhostButton.css';
@import './components/Header.css';
@import './components/Link.css';
@import './components/MobileNav.css';
@import './components/Popup.css';
@import './components/quick-nav/QuickNav.css';
@import './components/Select.css';
@import './components/SideNav.css';
@import './components/subtitle/Subtitle.css';
@import './components/Table.css';

/* Handy link to the default Tailwind theme:
/* https://github.com/tailwindlabs/tailwindcss/blob/next/packages/tailwindcss/theme.css */

@theme {
  --color-*: initial;
  --color-white: white;
  --color-black: black;

  /* Gray scale that is roughly compatible with Tailwind's grays */
  --color-gray-50: oklch(98% 0.25% 264);
  --color-gray-75: oklch(97% 0.325% 264); /* Not a Tailwind step, don't use it in the demos */
  --color-gray-100: oklch(12% 9.5% 264 / 5%);
  --color-gray-200: oklch(12% 9% 264 / 7%);
  --color-gray-300: oklch(12% 8.5% 264 / 17%);
  --color-gray-400: oklch(12% 8% 264 / 38%);
  --color-gray-500: oklch(12% 7.5% 264 / 50%);
  --color-gray-600: oklch(12% 7% 264 / 67%);
  --color-gray-700: oklch(12% 6% 264 / 77%);
  --color-gray-800: oklch(12% 5% 264 / 85%);
  --color-gray-900: oklch(12% 5% 264 / 90%);
  --color-gray-950: oklch(12% 5% 264 / 95%);

  /* Other colors used in Tailwind demos */
  --color-blue-800: var(--color-blue);
  --color-red-800: var(--color-red);

  /* Functional colors for the docs */
  --color-content: white;
  --color-background: var(--color-gray-50);
  --color-foreground: var(--color-gray-900);
  --color-popup: white;
  --color-gridline: oklch(91.6% 1% 264);
  --color-highlight: var(--color-blue);
  --color-selection: oklch(80% 50% 264 / 25%);

  /* Text colors for the docs */
  --color-gray: var(--color-gray-600);
  --color-navy: oklch(31% 25% 264);
  --color-blue: oklch(45% 50% 264);
  --color-green: oklch(46% 30% 150);
  --color-purple: oklch(40% 45% 360);
  --color-violet: oklch(40% 60% 300);
  --color-red: oklch(50% 55% 31);

  /* Typography */
  --font-mono: 'SF Mono', 'Menlo', 'DejaVu Sans Mono', 'Consolas', 'Inconsolata', monospace;
  --font-sans: 'Unica 77', system-ui, sans-serif;

  --text-xs: 0.8125rem;
  --text-xs--line-height: 1.25rem;
  --text-xs--letter-spacing: 0.001em;

  --text-sm: 0.9375rem;
  --text-sm--line-height: 1.375rem;
  --text-sm--letter-spacing: 0em;

  --text-base: 1rem;
  --text-base--line-height: 1.5rem;
  --text-base--letter-spacing: 0em;

  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-lg--letter-spacing: -0.0025em;

  --text-xl: 1.3125rem;
  --text-xl--line-height: 1.75rem;
  --text-xl--letter-spacing: -0.005em;

  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.25;
  --text-2xl--letter-spacing: -0.0125em;

  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.2;
  --text-3xl--letter-spacing: -0.015em;

  --text-4xl: 2.25rem;
  --text-4xl--line-height: 2.5rem;
  --text-4xl--letter-spacing: -0.015em;

  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-5xl--letter-spacing: -0.015em;

  --text-6xl: 3.75rem;
  --text-6xl--line-height: 0.95;
  --text-6xl--letter-spacing: -0.015em;

  --ease-out-fast: cubic-bezier(0.45, 1.005, 0, 1.005);
  --ease-in-slow: cubic-bezier(0.375, 0.015, 0.545, 0.455);
  --header-height: 3rem;
}

:root {
  @media (prefers-color-scheme: dark) {
    --color-gray-50: oklch(17% 0.25% 264);
    --color-gray-75: oklch(19% 0.5% 264); /* Not a Tailwind step, don't use it in the demos */
    --color-gray-100: oklch(28% 0.75% 264 / 65%);
    --color-gray-200: oklch(29% 0.75% 264 / 80%);
    --color-gray-300: oklch(35% 0.75% 264 / 80%);
    --color-gray-400: oklch(47% 0.875% 264 / 80%);
    --color-gray-500: oklch(64% 1% 264 / 80%);
    --color-gray-600: oklch(82% 1% 264 / 80%);
    --color-gray-700: oklch(92% 1.125% 264 / 80%);
    --color-gray-800: oklch(92% 1.125% 264 / 80%);
    --color-gray-800: oklch(93% 0.875% 264 / 85%);
    --color-gray-900: oklch(95% 0.5% 264 / 90%);
    --color-gray-950: oklch(94% 0.375% 264 / 95%);

    /* Functional colors */
    --color-content: black;
    --color-background: black;
    --color-foreground: oklch(90% 2% 264);
    --color-popup: var(--color-gray-50);
    --color-gridline: oklch(24% 1% 264);
    --color-highlight: oklch(45% 40% 264);
    --color-selection: oklch(50% 50% 264 / 40%);

    /* Text colors */
    --color-gray: var(--color-gray-600);
    --color-blue: oklch(69% 50% 264);
    --color-green: oklch(75% 25% 150);
    --color-navy: oklch(85% 25% 264);
    --color-purple: oklch(85% 30% 360);
    --color-red: oklch(80% 55% 31);
    --color-violet: oklch(80% 60% 280);
  }
}

/* Disable docs-specific variables in the demos. Keep this in sync with the "@theme" block above */
@layer theme {
  [data-demo] {
    --color-gray: initial;
    --color-navy: initial;
    --color-green: initial;
    --color-purple: initial;
    --color-violet: initial;
    --color-content: initial;
    --color-background: initial;
    --color-foreground: initial;
    --color-popup: initial;
    --color-gridline: initial;
    --color-highlight: initial;
    --color-gray-75: initial;
    --ease-out-fast: initial;
    --ease-in-slow: initial;
    --header-height: initial;

    /* These variables are available in the default Tailwind theme */
    &:not([data-demo='tailwind']) {
      --color-white: initial;
      --color-black: initial;
    }
    /* These variables are exposed in "demo-colors.css" for CSS Modules demos */
    &:not([data-demo='css-modules']) {
      --color-blue: initial;
      --color-red: initial;
    }
  }
}

/* Remove the Tailwind reset in non-Tailwind demos */
@layer base {
  [data-demo]:not([data-demo='tailwind']) * {
    all: revert-layer;
  }
}

@layer all {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  svg {
    /* Safari messes up geometry of many basic SVGs, such as check icons in checkboxes or chevrons on menus */
    /* Putting them on the GPU fixes that */
    transform: translateZ(0);
  }

  /* Debugging red text? You just forgot to set or inherit color in your demo. */
  [data-demo] {
    &,
    :where(&) :where(button, input, textarea) {
      color: red;
    }
  }
}
