@import 'tailwindcss';
@import './fonts/index.css';
@import './syntax-highlighting/index.css';
@import './components/demo/index.css';
@import './components/quick-nav/QuickNav.css';
@import './components/CodeBlock.css';
@import './components/Table.css';
@import './components/ToolbarButton.css';

/* Handy link to the default Tailwind theme:
/* https://github.com/tailwindlabs/tailwindcss/blob/next/packages/tailwindcss/theme.css */

@theme {
  /* --container-content: 768px; */

  --font-family-mono: 'SF Mono', 'Menlo', 'DejaVu Sans Mono', 'Consolas', 'Inconsolata', monospace;
  --font-family-sans: 'Unica 77', system-ui, sans-serif;

  --color-background: oklch(98% 0.25% 264);
  --color-foreground: oklch(21% 2% 264);
  --color-border: oklch(20% 12% 264 / 10%);
  --color-content: #fff;
  --color-gridline: oklch(91.6% 1% 264);
  --color-panel: oklch(98% 0.25% 264);
  --color-selection: oklch(80% 0.2 264 / 25%);

  --color-blue: oklch(45% 50% 264);
  --color-gray: oklch(12.7% 6% 264 / 67%);
  --color-green: oklch(46% 30% 150);
  --color-navy: oklch(31% 25% 264);
  --color-purple: oklch(40% 45% 360);
  --color-red: oklch(50% 55% 31);
  --color-violet: oklch(40% 60% 300);

  --font-size-xs: 0.8125rem;
  --font-size-xs--line-height: 1rem;
  --font-size-xs--letter-spacing: 0.0015em;

  --font-size-sm: 0.9375rem;
  --font-size-sm--line-height: 1.25rem;
  --font-size-sm--letter-spacing: 0.001em;

  --font-size-base: 1.0625rem;
  --font-size-base--line-height: 1.5rem;

  --font-size-lg: 1.1875rem;
  --font-size-lg--line-height: 1.75rem;
  --font-size-lg--letter-spacing: -0.0025em;

  --font-size-xl: 1.3125rem;
  --font-size-xl--line-height: 1.75rem;
  --font-size-lg--letter-spacing: -0.005em;

  --font-size-2xl: 1.5rem;
  --font-size-2xl--line-height: 1.25;
  --font-size-2xl--letter-spacing: -0.0125em;

  --font-size-3xl: 1.875rem;
  --font-size-3xl--line-height: 1.2;
  --font-size-3xl--letter-spacing: -0.015em;

  --font-size-4xl: 2.25rem;
  --font-size-4xl--line-height: 2.5rem;
  --font-size-4xl--letter-spacing: -0.015em;

  --font-size-5xl: 3rem;
  --font-size-5xl--line-height: 1;
  --font-size-5xl--letter-spacing: -0.015em;

  --font-size-6xl: 3.75rem;
  --font-size-6xl--line-height: 0.95;
  --font-size-6xl--letter-spacing: -0.015em;
}

:root {
  @media (prefers-color-scheme: dark) {
    --color-background: #000;
    --color-foreground: oklch(90% 2% 264);
    --color-border: oklch(90% 12% 264 / 20%);
    --color-content: #000;
    --color-gridline: oklch(24% 1% 264);
    --color-panel: oklch(15% 1% 264);
    --color-selection: oklch(50% 0.2 264 / 40%);

    --color-blue: oklch(69% 50% 264);
    --color-gray: oklch(90% 6% 264 / 70%);
    --color-green: oklch(75% 25% 150);
    --color-navy: oklch(85% 25% 264);
    --color-purple: oklch(85% 30% 360);
    --color-red: oklch(80% 55% 31);
    --color-violet: oklch(80% 60% 300);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
