@import 'tailwindcss';
@import './fonts/index.css';
@import './syntax-highlighting/index.css';
@import './components/demo/index.css';
@import './components/quick-nav/QuickNav.css';
@import './components/Code.css';
@import './components/CodeBlock.css';
@import './components/Popup.css';
@import './components/Table.css';
@import './components/ToolbarButton.css';

/* Handy link to the default Tailwind theme:
/* https://github.com/tailwindlabs/tailwindcss/blob/next/packages/tailwindcss/theme.css */

@theme {
  --color-background: oklch(98% 0.25% 264);
  --color-foreground: oklch(21% 2% 264);
  --color-border: oklch(20% 12% 264 / 10%);
  --color-border-strong: oklch(20% 12% 264 / 20%);
  --color-content: #fff;
  --color-gridline: oklch(91.6% 1% 264);
  --color-popup: #fff;
  --color-popup-border: rgba(19, 28, 58, 0.08);
  --color-panel: oklch(98% 0.25% 264);
  --color-selection: oklch(80% 0.2 264 / 25%);

  --color-blue: oklch(45% 50% 264);
  --color-gray: oklch(12.7% 6% 264 / 67%);
  --color-pale: oklch(12.7% 6% 264 / 45%);
  --color-green: oklch(46% 30% 150);
  --color-navy: oklch(31% 25% 264);
  --color-purple: oklch(40% 45% 360);
  --color-red: oklch(50% 55% 31);
  --color-violet: oklch(40% 60% 300);

  /* Typography */
  --font-mono: 'SF Mono', 'Menlo', 'DejaVu Sans Mono', 'Consolas', 'Inconsolata', monospace;
  --font-sans: 'Unica 77', system-ui, sans-serif;

  --text-xs: 0.8125rem;
  --text-xs--line-height: 1rem;
  --text-xs--tracking: 0.0015em;

  --text-sm: 0.9375rem;
  --text-sm--line-height: 1.25rem;
  --text-sm--tracking: 0.001em;

  --text-base: 1rem;
  --text-base--line-height: 1.5rem;
  --text-base--tracking: 0em;

  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-lg--tracking: -0.0025em;

  --text-xl: 1.3125rem;
  --text-xl--line-height: 1.75rem;
  --text-xl--tracking: -0.005em;

  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.25;
  --text-2xl--tracking: -0.0125em;

  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.2;
  --text-3xl--tracking: -0.015em;

  --text-4xl: 2.25rem;
  --text-4xl--line-height: 2.5rem;
  --text-4xl--tracking: -0.015em;

  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-5xl--tracking: -0.015em;

  --text-6xl: 3.75rem;
  --text-6xl--line-height: 0.95;
  --text-6xl--tracking: -0.015em;
}

:root {
  @media (prefers-color-scheme: dark) {
    --color-background: #000;
    --color-foreground: oklch(90% 2% 264);
    --color-border: oklch(90% 12% 264 / 20%);
    --color-border-strong: oklch(90% 12% 264 / 30%);
    --color-content: #000;
    --color-gridline: oklch(24% 1% 264);
    --color-popup: oklch(15% 1% 264);
    --color-popup-border: oklch(90% 12% 264 / 16%);
    --color-panel: oklch(16.5% 1% 264);
    --color-selection: oklch(50% 0.2 264 / 40%);

    --color-blue: oklch(69% 50% 264);
    --color-gray: oklch(90% 6% 264 / 70%);
    --color-pale: oklch(90% 6% 264 / 45%);
    --color-green: oklch(75% 25% 150);
    --color-navy: oklch(85% 25% 264);
    --color-purple: oklch(85% 30% 360);
    --color-red: oklch(80% 55% 31);
    --color-violet: oklch(80% 60% 280);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
