@import 'tailwindcss';

@layer base {
  html {
    color-scheme: light dark;
  }

  body {
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .root {
    isolation: isolate;
  }
}
