.Menubar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid light-dark(var(--color-gray-950), white);
  background-color: light-dark(white, var(--color-gray-950));
  padding: 1px;
}

.MenuTrigger {
  box-sizing: border-box;
  height: 2rem;
  padding: 0 0.75rem;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: light-dark(var(--color-gray-950), white);
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  user-select: none;

  &[data-pressed],
  &[data-popup-open] {
    background-color: light-dark(var(--color-gray-100), var(--color-gray-800));
  }

  &[data-disabled] {
    color: light-dark(var(--color-gray-500), var(--color-gray-400));
  }

  &:focus-visible {
    background-color: light-dark(var(--color-gray-100), var(--color-gray-800));
    outline: 2px solid var(--color-blue-800);
    outline-offset: -2px;
  }
}

.MenuPositioner {
  outline: 0;
}

.MenuPopup {
  box-sizing: border-box;
  outline: 0;
  padding-block: 0.25rem;
  border: 1px solid light-dark(var(--color-gray-950), white);
  background-color: light-dark(white, var(--color-gray-950));
  color: light-dark(var(--color-gray-950), white);
  filter: drop-shadow(0.25rem 0.25rem 0 rgb(0 0 0 / 12%));
  transform-origin: var(--transform-origin);
  transition:
    transform 100ms ease-out,
    opacity 100ms ease-out;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.98);
  }

  &[data-instant] {
    transition: none;
  }

  @media (prefers-color-scheme: dark) {
    filter: none;
  }
}

.MenuItem {
  outline: 0;
  cursor: default;
  user-select: none;
  padding-block: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  &[data-popup-open] {
    z-index: 0;
    position: relative;
  }

  &[data-highlighted] {
    z-index: 0;
    position: relative;
    color: light-dark(white, var(--color-gray-950));
  }

  &[data-popup-open]::before,
  &[data-highlighted]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
  }

  &[data-popup-open]::before {
    background-color: light-dark(var(--color-gray-100), var(--color-gray-800));
  }

  &[data-highlighted]::before {
    background-color: light-dark(var(--color-gray-950), white);
  }

  &[data-highlighted][data-popup-open]::before {
    background-color: light-dark(var(--color-gray-950), white);
  }
}

.MenuSeparator {
  margin: 0.25rem;
  height: 1px;
  background-color: light-dark(var(--color-gray-950), white);
}
