.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.Label {
  font-size: 0.9375rem;
  line-height: 1.375rem;
  font-weight: 500;
  color: var(--color-gray-900);
}

.TextInput {
  box-sizing: border-box;
  padding: 0.5rem 0.875rem;
  margin: 0;
  border: 1px solid var(--color-gray-200);
  width: 16rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  font-family: inherit;
  font-size: 1rem;
  color: var(--color-gray-900);

  &:focus {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }
}

.Error {
  font-size: 0.9375rem;
  line-height: 1.375rem;
  color: var(--color-red-800);
}

.Description {
  margin: 0;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  color: var(--color-gray-600);
}
