.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: light-dark(var(--color-gray-950), white);
  user-select: none;

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: light-dark(var(--color-gray-100), var(--color-gray-800));
    }
  }

  &:active:not([data-disabled]) {
    background-color: light-dark(var(--color-gray-200), var(--color-gray-700));
  }

  &[data-pressed] {
    color: light-dark(var(--color-gray-950), white);
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue-800);
    outline-offset: -2px;
  }
}

.Icon {
  width: 1rem;
  height: 1rem;
}
