.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: var(--color-neutral-950);
  user-select: none;

  @media (prefers-color-scheme: dark) {
    color: white;
  }

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: var(--color-neutral-100);

      @media (prefers-color-scheme: dark) {
        background-color: var(--color-neutral-800);
      }
    }
  }

  &:active:not([data-disabled]) {
    background-color: var(--color-neutral-200);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-neutral-700);
    }
  }

  &[data-pressed] {
    color: var(--color-neutral-950);

    @media (prefers-color-scheme: dark) {
      color: white;
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-neutral-950);
    outline-offset: -2px;

    @media (prefers-color-scheme: dark) {
      outline-color: white;
    }
  }
}
