.trigger {
  display: flex;
  width: 320px;
  align-items: center;
  padding-left: 0;
}

.icon {
  transform: rotate(-90deg);
}

.trigger[data-panel-open] .icon {
  transform: rotate(0);
}

.panel {
  overflow: hidden;
  box-sizing: border-box;
  width: 320px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: buttonface;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.panel p {
  margin: 1.5rem auto 1rem;
}
