.panel[data-open] {
  height: var(--collapsible-panel-height);
  transition: height 200ms ease-out;
}

.panel {
  height: 0;
  transition: height 200ms ease-in;
}

.panel[data-starting-style] {
  height: 0;
}
