.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
  width: 100%;
  max-width: 20rem;
}

.Label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: light-dark(var(--color-gray-950), white);
}

.Root {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.Input {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid light-dark(var(--color-gray-950), white);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  background-color: transparent;
  color: light-dark(var(--color-gray-950), white);

  &::placeholder {
    color: light-dark(var(--color-gray-500), var(--color-gray-400));
  }

  &:focus {
    outline: 2px solid var(--color-blue-800);
    outline-offset: -2px;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.Description {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: light-dark(var(--color-gray-500), var(--color-gray-400));
}
