.Trigger {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 0 0.75rem;
  margin: 0;
  outline: 0;
  border: 1px solid var(--color-neutral-950);
  background-color: white;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: var(--color-neutral-950);
  user-select: none;

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    background-color: var(--color-neutral-950);
    color: white;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-neutral-100);

      @media (prefers-color-scheme: dark) {
        background-color: var(--color-neutral-800);
      }
    }
  }

  &:active {
    background-color: var(--color-neutral-200);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-neutral-700);
    }
  }

  &[data-popup-open] {
    background-color: var(--color-neutral-100);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-neutral-800);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-neutral-950);
    outline-offset: -1px;

    @media (prefers-color-scheme: dark) {
      outline-color: white;
    }
  }
}

.Positioner {
  width: var(--positioner-width);
  height: var(--positioner-height);
  max-width: var(--available-width);
}

.Popup {
  box-sizing: border-box;
  padding: 0.75rem 1rem;
  border: 1px solid var(--color-neutral-950);
  background-color: white;
  color: var(--color-neutral-950);
  font-size: 0.875rem;
  line-height: 1.25rem;
  transform-origin: var(--transform-origin);
  box-shadow: 0.25rem 0.25rem 0 rgb(0 0 0 / 12%);
  width: var(--popup-width, auto);
  height: var(--popup-height, auto);
  max-width: 500px;
  outline: none;

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    background-color: var(--color-neutral-950);
    color: white;
    box-shadow: none;
  }
}
