.Trigger {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 0 0.75rem;
  margin: 0;
  outline: 0;
  border: 1px solid light-dark(var(--color-neutral-950), white);
  background-color: light-dark(white, var(--color-neutral-950));
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: light-dark(var(--color-neutral-950), white);
  user-select: none;

  @media (hover: hover) {
    &:hover {
      background-color: light-dark(var(--color-neutral-100), var(--color-neutral-800));
    }
  }

  &:active {
    background-color: light-dark(var(--color-neutral-200), var(--color-neutral-700));
  }

  &[data-popup-open] {
    background-color: light-dark(var(--color-neutral-100), var(--color-neutral-800));
  }

  &:focus-visible {
    outline: 2px solid light-dark(var(--color-neutral-950), white);
    outline-offset: -2px;
  }
}

.Positioner {
  width: var(--positioner-width);
  height: var(--positioner-height);
  max-width: var(--available-width);
}

.Popup {
  box-sizing: border-box;
  padding: 0.75rem 1rem;
  border: 1px solid light-dark(var(--color-neutral-950), white);
  background-color: light-dark(white, var(--color-neutral-950));
  color: light-dark(var(--color-neutral-950), white);
  font-size: 0.875rem;
  line-height: 1.25rem;
  transform-origin: var(--transform-origin);
  box-shadow: 0.25rem 0.25rem 0 rgb(0 0 0 / 12%);

  width: var(--popup-width, auto);
  height: var(--popup-height, auto);
  max-width: 500px;

  @media (prefers-color-scheme: dark) {
    box-shadow: none;
  }
}
