/*
 * Standalone runtime for demos and test harnesses.
 * Imported by test/e2e/main.tsx, test/regressions/main.tsx,
 * and by docs/src/css/index.css (which layers docs-only content on top).
 */

@layer all;
@layer base;
@layer theme;
@layer components;
@layer utilities;

@import 'tailwindcss/preflight' layer(base);
@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/utilities' layer(utilities);

@import './fonts/index.css';

/* Handy link to the default Tailwind theme:
/* https://github.com/tailwindlabs/tailwindcss/blob/next/packages/tailwindcss/theme.css */

/* We defined grays, red, and blue in the theme used for demos. */
/* Uses gray scale that is roughly compatible with Tailwind's grays */
@import '../demo-data/theme/css-modules/theme.css' layer(theme);

/* ═══ Demo isolation ═══ */

/* Undo `tailwindcss/preflight` in non-Tailwind demos */
@layer base {
  [data-demo]:not([data-demo='tailwind']) * {
    all: revert-layer;
  }

  [data-demo='tailwind'] {
    --text-sm--letter-spacing: 0em;
    --text-md--letter-spacing: 0em;
  }
}

/* ═══ Global rules ═══ */

@layer all {
  html {
    word-break: break-word;
  }

  body {
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Stable scrollbar */
    overflow-y: scroll;
  }

  /* Debugging red text? You just forgot to set or inherit color in your demo. */
  :where([data-demo]) {
    color: red;
  }
  /* Controls usually have #000 text that needs to be explicitly overridden; only Tailwind reset handles it */
  :where([data-demo]:not([data-demo='tailwind'])) :where(button, input, textarea) {
    color: red;
  }
}
