.root {
  border: 1px solid;
  border-radius: 8px;
  padding: var(--space-4);
  margin: var(--space-6) 0;

  & p {
    color: var(--gray-text-1);
    font-size: var(--fs-3);
    line-height: 20px;
    margin-bottom: var(--space-2);
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.info {
  background-color: #f9feff;
  border-color: #a9daed;
}

.warning {
  background-color: #fefdfb;
  border-color: #f3d768;
}

.success {
  background-color: #fbfefd;
  border-color: #acdec8;
}

.error {
  background-color: #fffcfc;
  border-color: #fdbdbe;
}
