.tabsList {
  box-sizing: border-box;
  background-color: var(--gray-container-1);
  border-radius: var(--br-pill);
  display: inline-flex;
  height: var(--space-7);
  padding: 1px;
  flex-shrink: 0;
}

.tab {
  all: unset;
  line-height: 1;
  vertical-align: middle;
  background-clip: padding-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  flex-shrink: 0;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-left: var(--space-3);
  padding-right: var(--space-3);
  font-family: var(--ff-sans);
  font-weight: 500;
  border-radius: var(--br-pill);
  font-size: var(--fs-2);
  color: var(--gray-text-2);
  width: var(--space-9);
  letter-spacing: 0.18px;

  &[data-selected] {
    border-radius: var(--br-pill);
    background-color: white;
    box-shadow:
      0 1px 2px rgba(0, 0, 0, 0.05),
      0 2px 4px -1px rgba(0, 0, 0, 0.05),
      0 4px 8px -2px rgba(0, 0, 0, 0.05);
    border: 1px solid hsl(0deg 0% 0% / 5%);
  }

  @media (hover: hover) {
    &:not([data-selected]):hover {
      background-color: var(--gray-container-3);
    }
  }
}
