.d-f {
  display: flex;
}

.d-if {
  display: inline-flex;
}

.d-b {
  display: block;
}

.d-i {
  display: inline;
}

.d-ib {
  display: inline-block;
}

.d-g {
  display: grid;
}

.d-ig {
  display: inline-grid;
}

.d-n {
  display: none;
}
