.g-1 {
  gap: var(--space-1);
}

.g-2 {
  gap: var(--space-2);
}

.g-3 {
  gap: var(--space-3);
}

.g-4 {
  gap: var(--space-4);
}

.g-5 {
  gap: var(--space-5);
}

.g-6 {
  gap: var(--space-6);
}

.g-7 {
  gap: var(--space-7);
}

.g-8 {
  gap: var(--space-8);
}

.g-9 {
  gap: var(--space-9);
}
