.Control {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 14rem;
  padding-block: 0.75rem;
  touch-action: none;
  user-select: none;
}

.Track {
  width: 100%;
  height: 0.25rem;
  background-color: light-dark(var(--color-gray-200), var(--color-gray-800));
  user-select: none;
}

.Indicator {
  background-color: light-dark(var(--color-gray-900), white);
  user-select: none;
}

.Thumb {
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  border: 1px solid light-dark(var(--color-gray-900), white);
  background-color: light-dark(white, var(--color-gray-900));
  user-select: none;

  &:has(:focus-visible) {
    outline: 2px solid var(--color-blue-800);
    outline-offset: 2px;
  }
}
