.RadioGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
  color: light-dark(var(--color-gray-900), white);
}

.Caption {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.Item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.Radio {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  align-items: center;
  justify-content: center;
  border: 1px solid light-dark(var(--color-gray-900), white);
  border-radius: 100%;
  background-color: light-dark(white, var(--color-gray-900));
  color: light-dark(white, var(--color-gray-900));
  padding: 0;
  margin: 0;

  &[data-checked] {
    background-color: light-dark(var(--color-gray-900), white);
    color: light-dark(white, var(--color-gray-900));
  }

  &:focus-visible {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 2px;
  }
}

.Indicator {
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-unchecked] {
    display: none;
  }

  &::before {
    content: '';
    border-radius: 100%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: currentcolor;
  }
}
