.Panel {
  display: flex;
  gap: 1px;
  padding: 1px;
  border: 1px solid var(--color-neutral-950);

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
  }
}

.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: var(--color-neutral-950);
  user-select: none;

  @media (prefers-color-scheme: dark) {
    color: white;
  }

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: var(--color-neutral-100);

      @media (prefers-color-scheme: dark) {
        background-color: var(--color-neutral-800);
      }
    }
  }

  &:active:not([data-disabled], [data-pressed]) {
    background-color: var(--color-neutral-200);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-neutral-700);
    }
  }

  &[data-pressed] {
    background-color: var(--color-neutral-950);
    color: white;

    @media (prefers-color-scheme: dark) {
      background-color: white;
      color: var(--color-neutral-950);
    }
  }

  @media (hover: hover) {
    &[data-pressed]:hover:not([data-disabled]) {
      background-color: var(--color-neutral-950);
      color: white;

      @media (prefers-color-scheme: dark) {
        background-color: white;
        color: var(--color-neutral-950);
      }
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-neutral-950);
    outline-offset: 1px;

    @media (prefers-color-scheme: dark) {
      outline-color: white;
    }
  }
}
