.Container {
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.Label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-gray-900);
}

.Chips {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.125rem;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  padding: 0.25rem 0.375rem;
  width: 16rem;

  &:focus-within {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }

  @media (min-width: 500px) {
    width: 22rem;
  }
}

.Chip {
  display: flex;
  align-items: center;
  background-color: var(--color-gray-100);
  color: var(--color-gray-900);
  border-radius: 0.375rem;
  font-size: 0.875rem;
  padding: 0.2rem 0.2rem 0.2rem 0.4rem;
  overflow: hidden;
  gap: 0.25rem;
  outline: 0;
  cursor: default;

  &:focus-within {
    background-color: var(--color-blue);
    color: var(--color-gray-50);
  }

  @media (hover: hover) {
    &[data-highlighted] {
      background-color: var(--color-blue);
      color: var(--color-gray-50);
    }
  }
}

.ChipButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0.125rem 0.25rem 0.125rem 0.5rem;
  font-size: inherit;
  color: inherit;
  cursor: default;
  flex: 1;
  outline: 0;
}

.ChipRemove {
  border: none;
  background: none;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  border-radius: 0.375rem;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-200);
    }
  }
}

.Input {
  flex: 1;
  box-sizing: border-box;
  padding-left: 0.5rem;
  margin: 0;
  border: none;
  height: 2rem;
  border-radius: 0.375rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
  color: var(--color-gray-900);
  min-width: 3rem;

  &:focus {
    outline: none;
  }
}

.Trigger {
  box-sizing: border-box;
  position: absolute;
  right: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background: none;
  color: var(--color-gray-500);
  border-radius: 0.25rem;

  &:hover {
    color: var(--color-gray-700);
    background-color: var(--color-gray-100);
  }

  &:focus {
    outline: 2px solid var(--color-blue-500);
    outline-offset: 2px;
  }
}

.TriggerIcon {
  width: 1rem;
  height: 1rem;
}

.Positioner {
  outline: 0;
  z-index: 50;
}

.Popup {
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding-block: 0.5rem;
  background-color: canvas;
  color: var(--color-gray-900);
  width: var(--anchor-width);
  max-width: var(--available-width);
  max-height: min(var(--available-height), 24rem);
  overflow-y: auto;
  scroll-padding-block: 0.5rem;
  overscroll-behavior: contain;
  transition:
    opacity 0.1s,
    transform 0.1s;
  transform-origin: var(--transform-origin);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.95);
  }

  @media (prefers-color-scheme: light) {
    outline: 1px solid var(--color-gray-200);
    box-shadow:
      0 10px 15px -3px var(--color-gray-200),
      0 4px 6px -4px var(--color-gray-200);
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-gray-300);
    outline-offset: -1px;
  }
}

.Item {
  box-sizing: border-box;
  outline: 0;
  cursor: default;
  user-select: none;
  padding-block: 0.5rem;
  padding-left: 1rem;
  padding-right: 2rem;
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: 0.75rem 1fr;
  font-size: 1rem;
  line-height: 1rem;

  &[data-selected] {
    z-index: 0;
    position: relative;
    color: var(--color-gray-900);
  }

  &[data-selected]::before,
  &[data-highlighted]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.5rem;
    border-radius: 0.25rem;
  }

  @media (hover: hover) {
    &[data-highlighted] {
      z-index: 0;
      position: relative;
      color: var(--color-gray-50);
    }

    &[data-highlighted]::before {
      background-color: var(--color-gray-900);
    }
  }
}

.ItemText {
  grid-column-start: 2;
}

.ItemIndicator {
  grid-column-start: 1;
}

.ItemIndicatorIcon {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
}

.ItemName {
  font-weight: 500;
  color: inherit;
}

.Empty:not(:empty) {
  box-sizing: border-box;
  font-size: 0.925rem;
  line-height: 1rem;
  color: var(--color-gray-600);
  padding: 0.5rem 1rem;
}
