.Trigger {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 12rem;
  outline: 0;
  border: 1px solid light-dark(var(--color-gray-950), white);
  border-radius: 0;
  background-color: light-dark(white, var(--color-gray-950));
  font-weight: 400;
  color: light-dark(var(--color-gray-950), white);
  -webkit-user-select: none;
  user-select: none;

  &:focus-visible {
    outline: 2px solid var(--color-blue-800);
    outline-offset: -2px;
  }
}

.Positioner {
  outline: 0;
}

.Popup,
.SubmenuPopup {
  box-sizing: border-box;
  outline: 0;
  padding-block: 0.25rem;
  border: 1px solid light-dark(var(--color-gray-950), white);
  border-radius: 0;
  background-color: light-dark(white, var(--color-gray-950));
  color: light-dark(var(--color-gray-950), white);
  filter: drop-shadow(0.25rem 0.25rem 0 rgb(0 0 0 / 12%));
  transform-origin: var(--transform-origin);
  transition:
    transform 100ms ease-out,
    opacity 100ms ease-out;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.98);
  }

  @media (prefers-color-scheme: dark) {
    filter: none;
  }
}

.Arrow {
  display: flex;

  &[data-side='top'] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}

.ArrowFill {
  fill: light-dark(white, var(--color-gray-950));
}

.ArrowOuterStroke {
  fill: light-dark(var(--color-gray-950), white);
}

.ArrowInnerStroke {
  fill: light-dark(white, var(--color-gray-950));
}

.Item,
.SubmenuTrigger {
  outline: 0;
  cursor: default;
  user-select: none;
  padding-block: 0.5rem;
  padding-left: 1rem;
  padding-right: 2rem;
  display: flex;
  font-size: 0.875rem;
  line-height: 1rem;

  &[data-popup-open] {
    z-index: 0;
    position: relative;
  }

  &[data-popup-open]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
    background-color: light-dark(var(--color-gray-100), var(--color-gray-800));
  }

  &[data-highlighted] {
    z-index: 0;
    position: relative;
    color: light-dark(white, var(--color-gray-950));
  }

  &[data-highlighted]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
    background-color: light-dark(var(--color-gray-950), white);
  }

  &[data-highlighted][data-popup-open]::before {
    background-color: light-dark(var(--color-gray-950), white);
  }

  &[data-disabled] {
    color: light-dark(var(--color-gray-500), var(--color-gray-400));
  }
}

.SubmenuTrigger {
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 1rem;
}

.Separator {
  margin: 0.25rem;
  height: 1px;
  background-color: light-dark(var(--color-gray-950), white);
}
