.Root {
  --bleed: 3rem;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.Indent {
  --indent-radius: calc(1rem * (1 - var(--drawer-swipe-progress)));
  --indent-transition: calc(1 - clamp(0, calc(var(--drawer-swipe-progress) * 100000), 1));
  position: relative;
  min-height: 20rem;
  transition:
    transform 0.4s cubic-bezier(0.32, 0.72, 0, 1),
    border-radius 0.25s cubic-bezier(0.32, 0.72, 0, 1);
  transform-origin: center top;
  will-change: transform;
  border: 1px solid oklch(14.5% 0 0deg);
  contain: layout;
  padding: 1rem;
  color: oklch(14.5% 0 0deg);
  background-color: white;
  transition-duration:
    calc(400ms * var(--indent-transition)), calc(250ms * var(--indent-transition));

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    color: white;
    background-color: oklch(14.5% 0 0deg);
  }

  &[data-active] {
    transform: scale(calc(0.98 + (0.02 * var(--drawer-swipe-progress))))
      translateY(calc(0.5rem * (1 - var(--drawer-swipe-progress))));
    border-top-left-radius: var(--indent-radius);
    border-top-right-radius: var(--indent-radius);
  }
}

.Center {
  min-height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.IndentBackground {
  position: absolute;
  inset: 0;
  background-color: black;

  @media (prefers-color-scheme: dark) {
    background-color: oklch(87% 0 0deg);
  }
}

.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 2rem;
  padding: 0 0.75rem;
  margin: 0;
  border: 1px solid oklch(14.5% 0 0deg);
  background-color: white;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  color: oklch(14.5% 0 0deg);
  -webkit-user-select: none;
  user-select: none;

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    background-color: oklch(14.5% 0 0deg);
    color: white;
  }

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: oklch(97% 0 0deg);

      @media (prefers-color-scheme: dark) {
        background-color: oklch(26.9% 0 0deg);
      }
    }
  }

  &:active:not([data-disabled]) {
    background-color: oklch(92.2% 0 0deg);

    @media (prefers-color-scheme: dark) {
      background-color: oklch(37.1% 0 0deg);
    }
  }

  &[data-disabled] {
    color: oklch(55.6% 0 0deg);
    border-color: oklch(55.6% 0 0deg);

    @media (prefers-color-scheme: dark) {
      color: oklch(70.8% 0 0deg);
      border-color: oklch(70.8% 0 0deg);
    }
  }

  &:focus-visible {
    outline: 2px solid oklch(14.5% 0 0deg);
    outline-offset: -1px;

    @media (prefers-color-scheme: dark) {
      outline-color: white;
    }
  }
}

.Backdrop {
  --backdrop-opacity: 0.2;
  --bleed: 3rem;
  position: absolute;
  min-height: 100dvh;
  inset: 0;
  background-color: black;
  opacity: calc(var(--backdrop-opacity) * (1 - var(--drawer-swipe-progress)));
  transition-duration: 450ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);

  @media (prefers-color-scheme: dark) {
    --backdrop-opacity: 0.7;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }

  &[data-swiping] {
    transition-duration: 0ms;
  }

  &[data-ending-style] {
    transition-duration: calc(var(--drawer-swipe-strength) * 400ms);
  }
}

.Viewport {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.Popup {
  box-sizing: border-box;
  width: 100%;
  max-height: calc(80vh + var(--bleed));
  margin-bottom: calc(-1 * var(--bleed));
  padding: 1rem 1.5rem 1.5rem;
  padding-bottom: calc(1.5rem + env(safe-area-inset-bottom, 0px) + var(--bleed));
  border-top: 1px solid oklch(14.5% 0 0deg);
  background-color: white;
  color: oklch(14.5% 0 0deg);
  outline: 0;
  box-shadow: 0.25rem 0.25rem 0 rgb(0 0 0 / 12%);
  overflow-y: auto;
  overscroll-behavior: contain;
  transition: transform 450ms cubic-bezier(0.32, 0.72, 0, 1);
  will-change: transform;
  transform: translateY(var(--drawer-swipe-movement-y));

  @media (prefers-color-scheme: dark) {
    border-top: 1px solid white;
    background-color: oklch(14.5% 0 0deg);
    color: white;
    box-shadow: none;
  }

  &[data-starting-style],
  &[data-ending-style] {
    transform: translateY(calc(100% - var(--bleed) + 2px));
  }

  &[data-ending-style] {
    transition-duration: calc(var(--drawer-swipe-strength) * 400ms);
  }
}

.Content {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
}

.Handle {
  width: 3rem;
  height: 0.25rem;
  margin: 0 auto 1rem;
  background-color: oklch(87% 0 0deg);

  @media (prefers-color-scheme: dark) {
    background-color: oklch(37.1% 0 0deg);
  }
}

.Title {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.Description {
  margin: 0 0 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: oklch(43.9% 0 0deg);
  text-align: center;

  @media (prefers-color-scheme: dark) {
    color: oklch(70.8% 0 0deg);
  }
}

.Actions {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}
