.Root {
  --bleed: 3rem;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.Indent {
  --indent-progress: var(--drawer-swipe-progress);
  --indent-radius: calc(1rem * (1 - var(--indent-progress)));
  --indent-transition: calc(1 - clamp(0, calc(var(--drawer-swipe-progress) * 100000), 1));
  position: relative;
  min-height: 320px;
  transition:
    transform 0.4s cubic-bezier(0.32, 0.72, 0, 1),
    border-radius 0.25s cubic-bezier(0.32, 0.72, 0, 1);
  transform-origin: center top;
  will-change: transform;
  border: 1px solid var(--color-gray-200);
  contain: layout;
  padding: 1rem;
  color: var(--color-gray-900);
  background-color: var(--color-gray-50);
  transition-duration:
    calc(400ms * var(--indent-transition)), calc(250ms * var(--indent-transition));

  &[data-active] {
    transform: scale(calc(0.98 + (0.02 * var(--indent-progress))))
      translateY(calc(0.5rem * (1 - var(--indent-progress))));
    border-top-left-radius: var(--indent-radius);
    border-top-right-radius: var(--indent-radius);
  }
}

.Center {
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.IndentBackground {
  position: absolute;
  inset: 0;
  background-color: black;

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-gray-300);
  }
}

.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0 0.875rem;
  margin: 0;
  outline: 0;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  background-color: var(--color-gray-50);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--color-gray-900);
  user-select: none;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-100);
    }
  }

  &:active {
    background-color: var(--color-gray-100);
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }
}

.Backdrop {
  --backdrop-opacity: 0.2;
  --bleed: 3rem;
  position: absolute;
  min-height: 100dvh;
  inset: 0;
  background-color: black;
  opacity: calc(var(--backdrop-opacity) * (1 - var(--drawer-swipe-progress)));
  transition-duration: 450ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);

  @media (prefers-color-scheme: dark) {
    --backdrop-opacity: 0.7;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }

  &[data-swiping] {
    transition-duration: 0ms;
  }

  &[data-ending-style] {
    transition-duration: calc(var(--drawer-swipe-strength) * 400ms);
  }
}

.Viewport {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.Popup {
  box-sizing: border-box;
  width: 100%;
  max-height: calc(80vh + var(--bleed));
  margin-bottom: calc(-1 * var(--bleed));
  padding: 1rem 1.5rem 1.5rem;
  padding-bottom: calc(1.5rem + env(safe-area-inset-bottom, 0px) + var(--bleed));
  border-radius: 1rem 1rem 0 0;
  outline: 1px solid var(--color-gray-200);
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  overflow-y: auto;
  overscroll-behavior: contain;
  transition: transform 450ms cubic-bezier(0.32, 0.72, 0, 1);
  will-change: transform;
  transform: translateY(var(--drawer-swipe-movement-y));

  &[data-swiping] {
    user-select: none;
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-gray-300);
  }

  &[data-starting-style],
  &[data-ending-style] {
    transform: translateY(calc(100% - var(--bleed)));
  }

  &[data-ending-style] {
    transition-duration: calc(var(--drawer-swipe-strength) * 400ms);
  }
}

.Content {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
}

.Handle {
  width: 3rem;
  height: 0.25rem;
  margin: 0 auto 1rem;
  border-radius: 9999px;
  background-color: var(--color-gray-300);
}

.Title {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.0025em;
  font-weight: 500;
  text-align: center;
}

.Description {
  margin: 0 0 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-gray-600);
  text-align: center;
}

.Actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
