.root {
  display: flex;
  min-height: 100vh;
  font-family:
    ui-sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI Variable Display',
    'Segoe UI',
    Helvetica,
    'Apple Color Emoji',
    Arial,
    sans-serif;

  & h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
}
