.Root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;

  &:focus-visible {
    outline: none;
  }

  &[data-orientation='vertical'] {
    flex-direction: column;
    align-items: stretch;
  }
}

.Item {
  outline: 0;
  cursor: default;
  user-select: none;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  z-index: 0;
  position: relative;

  &:focus-visible {
    outline: none;
  }

  &:hover,
  &[data-popup-open] {
    color: var(--color-gray-50);
  }

  &:disabled {
    color: var(--color-gray-400);
  }

  &[data-popup-open]::before,
  &:hover::before,
  &:focus-visible::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0.15rem;
    inset-inline: 0.15rem;
    border-radius: 0.25rem;
  }

  &:hover::before,
  &:focus-visible::before {
    background-color: var(--color-gray-600);
  }

  &:disabled:hover::before {
    background-color: var(--color-gray-300);
  }

  &[data-popup-open]::before {
    background-color: var(--color-gray-900);
  }
}

.Separator {
  color: var(--color-gray-200);
  margin-block: 2rem;
}

.Input {
  border: 1px solid var(--color-gray-200);
}
