.tabs {
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;

  &[data-orientation='vertical'] {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    box-shadow: inset -1px 0 var(--color-gray-200);
    min-width: 400px;
  }
}

.list {
  display: flex;
  position: relative;
  z-index: 0;
  padding-inline: 0.25rem;
  gap: 0.25rem;
  box-shadow: inset 0 -1px var(--color-gray-200);

  &[data-orientation='vertical'] {
    flex-direction: column;
    padding: 0.5rem;
    box-shadow: inset -1px 0 var(--color-gray-200);
  }
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  margin: 0;
  outline: 0;
  background: none;
  appearance: none;
  color: var(--color-gray-600);
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  user-select: none;
  padding-inline: 0.5rem;
  padding-block: 0;
  height: 2rem;

  &[data-selected] {
    color: var(--color-gray-900);
  }

  &[data-disabled] {
    color: var(--color-gray-400);
  }

  @media (hover: hover) {
    &:not([data-disabled]):hover {
      color: var(--color-gray-900);
    }
  }

  &:focus-visible {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0.25rem 0;
      border-radius: 0.25rem;
      outline: 2px solid var(--color-blue);
      outline-offset: -1px;
    }
  }
}

.indicator {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 50%;
  translate: var(--active-tab-left) -50%;
  width: var(--active-tab-width);
  height: 1.5rem;
  border-radius: 0.25rem;
  background-color: var(--color-gray-100);
  transition-property: translate, width;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;

  &[data-orientation='vertical'] {
    top: 0;
    translate: var(--active-tab-left) var(--active-tab-top);
    height: var(--active-tab-height);
  }
}

.panel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  flex: 1 0 auto;

  &[data-orientation='horizontal'] {
    height: 8rem;
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
    border-radius: 0.375rem;
  }
}
