.Meter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  width: 15rem;
  max-width: 100%;
}

.Label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--color-neutral-950);

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.Value {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-neutral-950);
  text-align: right;

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.Track {
  grid-column: 1 / 3;
  overflow: hidden;
  height: 0.75rem;
  background-color: var(--color-neutral-200);

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-neutral-800);
  }
}

.Indicator {
  background-color: var(--color-neutral-950);
  transition: width 500ms;

  @media (prefers-color-scheme: dark) {
    background-color: white;
  }
}
