.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.Label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: var(--color-neutral-950);
  cursor: default;

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.Value[data-placeholder] {
  color: var(--color-neutral-500);

  @media (prefers-color-scheme: dark) {
    color: var(--color-neutral-400);
  }
}

.Select {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0;
  outline: 0;
  border: 1px solid var(--color-neutral-950);
  background-color: white;
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1;
  white-space: nowrap;
  font-weight: 400;
  color: var(--color-neutral-950);
  user-select: none;
  min-width: 14rem;

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    background-color: var(--color-neutral-950);
    color: white;
  }

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: var(--color-neutral-100);

      @media (prefers-color-scheme: dark) {
        background-color: var(--color-neutral-800);
      }
    }
  }

  &[data-popup-open] {
    background-color: var(--color-neutral-100);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-neutral-800);
    }
  }

  &:active:not([data-disabled]) {
    background-color: var(--color-neutral-200);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-neutral-700);
    }
  }

  &[data-disabled] {
    color: var(--color-neutral-500);
    border-color: var(--color-neutral-500);

    @media (prefers-color-scheme: dark) {
      color: var(--color-neutral-400);
      border-color: var(--color-neutral-400);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-neutral-950);
    outline-offset: -2px;

    @media (prefers-color-scheme: dark) {
      outline-color: white;
    }
  }
}

.SelectIcon {
  display: flex;

  & svg {
    width: 0.75rem;
    height: 0.75rem;
  }
}

.Positioner {
  outline: none;
  z-index: 10;
}

.Popup {
  box-sizing: border-box;
  outline: 0;
  padding-block: 0.25rem;
  border: 1px solid var(--color-neutral-950);
  background-color: white;
  background-clip: padding-box;
  color: var(--color-neutral-950);
  min-width: var(--anchor-width);
  transform-origin: var(--transform-origin);
  box-shadow: 0.25rem 0.25rem 0 rgb(0 0 0 / 12%);
  transition:
    transform 100ms ease-out,
    opacity 100ms ease-out;
  overflow-y: auto;
  max-height: var(--available-height);

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    background-color: var(--color-neutral-950);
    color: white;
    box-shadow: none;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.98);
  }

  &[data-side='none'] {
    transition: none;
    transform: none;
    opacity: 1;
    min-width: calc(var(--anchor-width) + 1rem);
  }
}

.Item {
  box-sizing: border-box;
  outline: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-block: 0.375rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: 0.75rem 1fr;
  cursor: default;
  user-select: none;
  scroll-margin-block: 0.25rem;

  @media (hover: hover) {
    &[data-highlighted] {
      background-color: var(--color-neutral-950);
      color: white;

      @media (prefers-color-scheme: dark) {
        background-color: white;
        color: var(--color-neutral-950);
      }
    }
  }
}

.ItemIndicator {
  grid-column-start: 1;
}

.ItemIndicatorIcon {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
}

.ItemText {
  grid-column-start: 2;
}
