.container {
  max-width: 700px;
}

.rows {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.row {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray-300);
}

.actions {
  display: flex;
  gap: 8px;
}
