.root {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}
.root:focus-within {
  border-color: #1976d2;
  border-width: 2px;
  margin: -1px;
}

.content {
  position: relative;
  flex: 1;
}

.placeholder {
  color: #9e9e9e;
  position: absolute;
  inset: 12px 0 0 12px;
  user-select: none;
  pointer-events: none;
  font-size: 14px;
}
.textBold {
  font-weight: bold;
}
.textItalic {
  font-style: italic;
}
.textUnderline {
  text-decoration: underline;
}
.textStrikethrough {
  text-decoration: line-through;
}
