.page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;
  font-family: IBM Plex Sans;

  h1 {
    font-family: General Sans;
    font-weight: 600;
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  label {
    font-size: 0.8333rem;
  }

  label + label {
    margin-left: 16px;
  }

  input[type='text'],
  input[type='password'],
  textarea {
    padding: 8px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    font-family: inherit;
    box-sizing: border-box;
  }

  textarea {
    resize: vertical;
    min-height: 100px;
    width: 100%;
    font-family: inherit;
    box-sizing: border-box;
  }
}

@keyframes dialog-opening {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dialog-closing {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backdrop-opening {
  0% {
    backdrop-filter: blur(1px);
    opacity: 0;
  }
  100% {
    backdrop-filter: blur(6px);
    opacity: 1;
  }
}

@keyframes backdrop-closing {
  0% {
    backdrop-filter: blur(6px);
    opacity: 1;
  }
  100% {
    backdrop-filter: blur(1px);
    opacity: 0;
  }
}

.dialog {
  background: #fff;
  border: 1px solid #f5f5f5;
  min-width: 300px;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  padding: 16px;
  z-index: 1;

  &[data-status='unmounted'] {
    display: none;
  }

  &.withTransitions {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;

    &[data-status='opening'] {
      opacity: 1;
    }

    &[data-status='closing'] {
      opacity: 0;
    }
  }

  &.withAnimations {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &[data-status='initial'] {
      opacity: 0;
    }

    &[data-status='opening'] {
      animation: dialog-opening 1s ease-out forwards;
    }

    &[data-status='closing'] {
      animation: dialog-closing 1s ease-in forwards;
    }
  }

  &.withReactSpringTransition {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
}

.springWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.backdrop {
  background: radial-gradient(#cecdcf36, #8b94ab47);
  z-index: 0;

  &[data-status='initial'] {
    backdrop-filter: blur(1px);
    opacity: 0;
  }

  &.withTransitions {
    position: fixed;
    inset: 0;

    &[data-status='opening'] {
      backdrop-filter: blur(6px);
      opacity: 1;
      transition:
        backdrop-filter 2s ease-out,
        opacity 0.3s ease-out;
    }

    &[data-status='closing'] {
      backdrop-filter: blur(1px);
      opacity: 0;
      transition:
        backdrop-filter 1s ease-in,
        opacity 0.8s ease-in;
    }
  }

  &.withAnimations {
    position: fixed;
    inset: 0;

    &[data-status='opening'] {
      animation: backdrop-opening 1s ease-out forwards;
    }

    &[data-status='closing'] {
      animation: backdrop-closing 1s ease-in forwards;
    }
  }
}

.button {
  background: #eee;
  padding: 8px 16px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  font-family: inherit;

  &:hover {
    background: #ffbf2b;
  }

  &:focus-visible {
    outline: 2px solid #ffbf2b;
  }

  &:active {
    background: #cc9922;
    border-color: #cc9922;

    &:focus-visible {
      outline-color: #cc9922;
    }
  }

  & + &,
  input + & {
    margin-left: 8px;
  }
}

.form {
  display: flex;
  gap: 16px;
  margin-top: 24px;

  & > * {
    flex: 1;
    margin: 0;
  }
}

.demo {
  margin-right: 8px;
}
