.CheckboxGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
  color: var(--color-neutral-950);

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.Caption {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.Item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.Checkbox {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-neutral-950);
  border-radius: 0;
  background-color: white;
  color: white;
  padding: 0;
  margin: 0;

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    background-color: var(--color-neutral-950);
    color: var(--color-neutral-950);
  }

  &[data-checked],
  &[data-indeterminate] {
    background-color: var(--color-neutral-950);
    color: white;

    @media (prefers-color-scheme: dark) {
      background-color: white;
      color: var(--color-neutral-950);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-neutral-950);
    outline-offset: 2px;

    @media (prefers-color-scheme: dark) {
      outline-color: white;
    }
  }
}

.Indicator {
  display: flex;

  &[data-unchecked] {
    display: none;
  }
}
