@layer base {
  html {
    color-scheme: light dark;

    /* macOS overscroll background */
    background-color: var(--color-gray-50);
  }

  body {
    min-width: 360px;
    line-height: 1.5;
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  ::selection {
    background-color: var(--color-selection);
  }
}
