@import 'docs/src/breakpoints.css';

@layer base {
  html {
    color-scheme: light dark;

    /* macOS overscroll background */
    background-color: var(--color-gray-50);
  }

  body {
    min-width: 360px;
    line-height: 1.5;
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  ::selection {
    background-color: var(--color-selection);
  }
}

@layer components {
  .RootLayout {
    z-index: 0;
    position: relative;

    --root-layout-padding-x: 0rem;
    padding-inline: var(--root-layout-padding-x);

    @media (--show-side-nav) {
      --root-layout-padding-x: 3rem;

      &::before,
      &::after {
        content: '';
        position: absolute;
        background-color: var(--color-gridline);
        height: 1px;
        right: 0;
        left: 0;
      }

      &::before {
        top: 3rem;
        margin-top: -1px;
      }

      &::after {
        bottom: 3rem;
        margin-bottom: -1px;
      }
    }
  }

  .RootLayoutContainer {
    position: relative;
    display: flex;
    margin-inline: auto;
    min-height: 100dvh;
    max-width: calc(var(--breakpoint-max-layout-width) - var(--root-layout-padding-x) * 2);
    flex-direction: column;
    padding-bottom: 3rem;

    @media (--show-side-nav) {
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: var(--color-gridline);
      }

      &::before {
        left: 0;
        margin-left: -1px;
      }
      &::after {
        right: 0;
        margin-right: -1px;
      }
    }
  }

  .RootLayoutContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: var(--color-content);
  }
}
