.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0 0.875rem;
  margin: 0;
  outline: 0;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  background-color: var(--color-gray-50);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--color-gray-900);
  user-select: none;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-100);
    }
  }

  &:active {
    background-color: var(--color-gray-100);
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }
}

.Backdrop {
  --backdrop-opacity: 1;
  position: fixed;
  inset: 0;
  min-height: 100dvh;
  transition-duration: 600ms;
  transition-property: -webkit-backdrop-filter, backdrop-filter, opacity;
  transition-timing-function: var(--ease-out-fast);
  backdrop-filter: blur(1.5px);
  background-image: linear-gradient(to bottom, rgb(0 0 0 / 5%) 0, rgb(0 0 0 / 10%) 50%);
  opacity: calc(var(--backdrop-opacity) * (1 - var(--drawer-swipe-progress)));

  @supports (-webkit-touch-callout: none) {
    position: absolute;
  }

  @media (prefers-color-scheme: dark) {
    --backdrop-opacity: 0.7;
  }

  &[data-starting-style],
  &[data-ending-style] {
    backdrop-filter: blur(0);
    opacity: 0;
  }

  &[data-ending-style] {
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.375, 0.015, 0.545, 0.455);
  }
}

.Viewport {
  position: fixed;
  inset: 0;
}

.ScrollAreaRoot {
  box-sizing: border-box;
  height: 100%;
  overscroll-behavior: contain;
  transition: transform 600ms cubic-bezier(0.45, 1.005, 0, 1.005);

  [data-ending-style] & {
    pointer-events: none;
  }

  [data-starting-style] & {
    transform: translateY(100dvh);
  }
}

.ScrollAreaViewport {
  box-sizing: border-box;
  height: 100%;
  overscroll-behavior: contain;
  touch-action: auto;
}

.ScrollContent {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100%;
  padding-top: 2rem;

  @media (min-width: 768px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-inline: 4rem;
  }
}

.Content {
  width: 100%;
}

.Popup {
  box-sizing: border-box;
  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
  outline: 0;
  transition: transform 600ms cubic-bezier(0.45, 1.005, 0, 1.005);
  will-change: transform;
  transform: translateY(var(--drawer-swipe-movement-y));

  &[data-swiping] {
    user-select: none;
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  &[data-ending-style] {
    transform: translateY(max(100dvh, 100%));
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.375, 0.015, 0.545, 0.455);
  }
}

.Panel {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 1.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  outline: 1px solid var(--color-gray-200);
  background-color: var(--color-gray-50);
  box-shadow:
    0 10px 64px -10px rgb(36 40 52 / 20%),
    0 0.25px 0 1px var(--color-gray-200);
  color: var(--color-gray-900);
  transition: box-shadow 350ms cubic-bezier(0.375, 0.015, 0.545, 0.455);
}

@media (prefers-color-scheme: dark) {
  .Panel {
    outline: 1px solid var(--color-gray-300);
    box-shadow: 0 0 0 1px var(--color-gray-200);
  }
}

.Popup[data-ending-style] .Panel {
  box-shadow:
    0 10px 64px -10px rgb(36 40 52 / 0%),
    0 0.25px 0 1px rgb(0 0 0 / 0%);
}

@media (prefers-color-scheme: dark) {
  .Popup[data-ending-style] .Panel {
    box-shadow: 0 0 0 1px rgb(0 0 0 / 0%);
  }
}

@media (min-width: 768px) {
  .Panel {
    border-radius: 0.75rem;
  }
}

.Header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin-bottom: 0.75rem;
}

.HeaderSpacer {
  width: 2.25rem;
  height: 2.25rem;
}

.Handle {
  width: 3rem;
  height: 0.25rem;
  border-radius: 9999px;
  background-color: var(--color-gray-300);
  justify-self: center;
}

.CloseButton {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: 1px solid var(--color-gray-200);
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  justify-self: end;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-100);
    }
  }

  &:active {
    background-color: var(--color-gray-100);
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }
}

.Title {
  margin: 0 0 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.0025em;
  font-weight: 500;
}

.Description {
  margin: 0 0 1.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-gray-600);
}

.ScrollArea {
  padding-bottom: 2rem;
}

.List {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 0.25rem;
}

.LongList {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0 0;
  display: grid;
  gap: 0.25rem;
}

.Item {
  display: flex;
}

.Link {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  color: inherit;
  text-decoration: none;
  background-color: var(--color-gray-100);

  &:focus-visible {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }
}

.Scrollbar {
  position: absolute;
  display: flex;
  width: 0.25rem;
  margin: 0.4rem;
  justify-content: center;
  border-radius: 1rem;
  opacity: 0;
  transition: opacity 250ms;
  pointer-events: none;

  &:hover,
  &[data-scrolling] {
    opacity: 1;
    transition-duration: 75ms;
    transition-delay: 0ms;
    pointer-events: auto;
  }

  [data-ending-style] & {
    transition-duration: 250ms;
    opacity: 0;
  }

  @media (min-width: 768px) {
    width: 0.4375rem;
  }
}

.ScrollbarThumb {
  width: 100%;
  border-radius: inherit;
  background-color: var(--color-gray-500);

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 1rem);
    height: calc(100% + 1rem);
  }
}
