.slider {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
  height: 100%;
  width: 5rem;
  align-items: center;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-flow: column-reverse nowrap;
  gap: 1rem;
}

.output {
  font-size: 1.125rem;
}

.control {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  width: 16px;
  height: 300px;
  border-radius: 9999px;
  touch-action: none;
}

.track {
  height: 100%;
  width: 2px;
  border-radius: 9999px;
  background-color: var(--color-gray-400);
  touch-action: none;
}

.dark .track {
  background-color: var(--color-gray-700);
}

.control[data-disabled] {
  cursor: not-allowed;
}

.indicator {
  border-radius: 9999px;
  background-color: var(--color-gray-900);
}

.dark .indicator {
  position: absolute;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--color-gray-900);
  transform: translateY(50%);
  touch-action: none;
}

.thumb {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--color-gray-900);
  touch-action: none;

  &:focus-visible {
    outline: 2px solid var(--color-gray-900);
    outline-offset: 2px;
  }

  &[data-dragging] {
    background-color: pink;
  }

  &[data-disabled] {
    background-color: var(--color-gray-300);
  }
}

.dark .thumb {
  background-color: var(--color-gray-100);

  &:focus-visible {
    outline-color: var(--color-gray-300);
    outline-width: 1px;
    outline-offset: 3px;
  }

  &[data-disabled] {
    background-color: var(--color-gray-600);
  }
}

.label {
  cursor: unset;
  font-weight: 700;
  font-size: 1rem;
  color: inherit;
}

.label[data-disabled] {
  color: var(--color-gray-600);
}
