.d-n {
  display: none;
}

.d-b {
  display: block;
}

.d-if {
  display: inline-flex;
}

.d-f {
  display: flex;
}

.d-g {
  display: grid;
}

.d-c {
  display: contents;
}

@media (min-width: 768px) {
  .bp2\:d-n {
    display: none;
  }

  .bp2\:d-b {
    display: block;
  }

  .bp2\:d-if {
    display: inline-flex;
  }

  .bp2\:d-f {
    display: flex;
  }

  .bp2\:d-g {
    display: grid;
  }

  .bp2\:d-c {
    display: contents;
  }
}

@media (min-width: 1024px) {
  .bp3\:d-n {
    display: none;
  }

  .bp3\:d-b {
    display: block;
  }

  .bp3\:d-if {
    display: inline-flex;
  }

  .bp3\:d-f {
    display: flex;
  }

  .bp3\:d-g {
    display: grid;
  }

  .bp3\:d-c {
    display: contents;
  }
}
