.g-1 {
  gap: 4px;
}

.g-2 {
  gap: 8px;
}

.g-4 {
  gap: 16px;
}

.g-5 {
  gap: 20px;
}

.g-6 {
  gap: 24px;
}

.g-8 {
  gap: 40px;
}

.g-9 {
  gap: 48px;
}

@media (min-width: 520px) {
  .bp1\:g-1 {
    gap: 4px;
  }

  .bp1\:g-2 {
    gap: 8px;
  }

  .bp1\:g-4 {
    gap: 16px;
  }

  .bp1\:g-5 {
    gap: 20px;
  }

  .bp1\:g-6 {
    gap: 24px;
  }

  .bp1\:g-8 {
    gap: 40px;
  }

  .bp1\:g-9 {
    gap: 48px;
  }
}

@media (min-width: 768px) {
  .bp2\:g-1 {
    gap: 4px;
  }

  .bp2\:g-2 {
    gap: 8px;
  }

  .bp2\:g-4 {
    gap: 16px;
  }

  .bp2\:g-5 {
    gap: 20px;
  }

  .bp2\:g-6 {
    gap: 24px;
  }

  .bp2\:g-8 {
    gap: 40px;
  }

  .bp2\:g-9 {
    gap: 48px;
  }
}

@media (min-width: 1024px) {
  .bp3\:g-1 {
    gap: 4px;
  }

  .bp3\:g-2 {
    gap: 8px;
  }

  .bp3\:g-4 {
    gap: 16px;
  }

  .bp3\:g-5 {
    gap: 20px;
  }

  .bp3\:g-6 {
    gap: 24px;
  }

  .bp3\:g-8 {
    gap: 40px;
  }

  .bp3\:g-9 {
    gap: 48px;
  }
}

@media (min-width: 1280px) {
  .bp4\:g-1 {
    gap: 4px;
  }

  .bp4\:g-2 {
    gap: 8px;
  }

  .bp4\:g-4 {
    gap: 16px;
  }

  .bp4\:g-5 {
    gap: 20px;
  }

  .bp4\:g-6 {
    gap: 24px;
  }

  .bp4\:g-8 {
    gap: 40px;
  }

  .bp4\:g-9 {
    gap: 48px;
  }
}

@media (min-width: 1640px) {
  .bp5\:g-1 {
    gap: 4px;
  }

  .bp5\:g-2 {
    gap: 8px;
  }

  .bp5\:g-4 {
    gap: 16px;
  }

  .bp5\:g-5 {
    gap: 20px;
  }

  .bp5\:g-6 {
    gap: 24px;
  }

  .bp5\:g-8 {
    gap: 40px;
  }

  .bp5\:g-9 {
    gap: 48px;
  }
}
