.gce-1 {
  grid-column-end: 1;
}

.gce-2 {
  grid-column-end: 2;
}

.gce-3 {
  grid-column-end: 3;
}

.gce-4 {
  grid-column-end: 4;
}

.gce-5 {
  grid-column-end: 5;
}

.gce-6 {
  grid-column-end: 6;
}

.gce-7 {
  grid-column-end: 7;
}

.gce-8 {
  grid-column-end: 8;
}

.gce-9 {
  grid-column-end: 9;
}

@media (min-width: 520px) {
  .bp1\:gce-1 {
    grid-column-end: 1;
  }

  .bp1\:gce-2 {
    grid-column-end: 2;
  }

  .bp1\:gce-3 {
    grid-column-end: 3;
  }

  .bp1\:gce-4 {
    grid-column-end: 4;
  }

  .bp1\:gce-5 {
    grid-column-end: 5;
  }

  .bp1\:gce-6 {
    grid-column-end: 6;
  }

  .bp1\:gce-7 {
    grid-column-end: 7;
  }

  .bp1\:gce-8 {
    grid-column-end: 8;
  }

  .bp1\:gce-9 {
    grid-column-end: 9;
  }
}

@media (min-width: 768px) {
  .bp2\:gce-1 {
    grid-column-end: 1;
  }

  .bp2\:gce-2 {
    grid-column-end: 2;
  }

  .bp2\:gce-3 {
    grid-column-end: 3;
  }

  .bp2\:gce-4 {
    grid-column-end: 4;
  }

  .bp2\:gce-5 {
    grid-column-end: 5;
  }

  .bp2\:gce-6 {
    grid-column-end: 6;
  }

  .bp2\:gce-7 {
    grid-column-end: 7;
  }

  .bp2\:gce-8 {
    grid-column-end: 8;
  }

  .bp2\:gce-9 {
    grid-column-end: 9;
  }
}

@media (min-width: 1024px) {
  .bp3\:gce-1 {
    grid-column-end: 1;
  }

  .bp3\:gce-2 {
    grid-column-end: 2;
  }

  .bp3\:gce-3 {
    grid-column-end: 3;
  }

  .bp3\:gce-4 {
    grid-column-end: 4;
  }

  .bp3\:gce-5 {
    grid-column-end: 5;
  }

  .bp3\:gce-6 {
    grid-column-end: 6;
  }

  .bp3\:gce-7 {
    grid-column-end: 7;
  }

  .bp3\:gce-8 {
    grid-column-end: 8;
  }

  .bp3\:gce-9 {
    grid-column-end: 9;
  }
}

@media (min-width: 1280px) {
  .bp4\:gce-1 {
    grid-column-end: 1;
  }

  .bp4\:gce-2 {
    grid-column-end: 2;
  }

  .bp4\:gce-3 {
    grid-column-end: 3;
  }

  .bp4\:gce-4 {
    grid-column-end: 4;
  }

  .bp4\:gce-5 {
    grid-column-end: 5;
  }

  .bp4\:gce-6 {
    grid-column-end: 6;
  }

  .bp4\:gce-7 {
    grid-column-end: 7;
  }

  .bp4\:gce-8 {
    grid-column-end: 8;
  }

  .bp4\:gce-9 {
    grid-column-end: 9;
  }
}

@media (min-width: 1640px) {
  .bp5\:gce-1 {
    grid-column-end: 1;
  }

  .bp5\:gce-2 {
    grid-column-end: 2;
  }

  .bp5\:gce-3 {
    grid-column-end: 3;
  }

  .bp5\:gce-4 {
    grid-column-end: 4;
  }

  .bp5\:gce-5 {
    grid-column-end: 5;
  }

  .bp5\:gce-6 {
    grid-column-end: 6;
  }

  .bp5\:gce-7 {
    grid-column-end: 7;
  }

  .bp5\:gce-8 {
    grid-column-end: 8;
  }

  .bp5\:gce-9 {
    grid-column-end: 9;
  }
}
