.gtc-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gtc-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gtc-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gtc-8 {
  grid-template-columns: repeat(8, 1fr);
}

@media (min-width: 520px) {
  .bp1\:gtc-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .bp1\:gtc-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .bp1\:gtc-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .bp1\:gtc-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 768px) {
  .bp2\:gtc-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .bp2\:gtc-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .bp2\:gtc-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .bp2\:gtc-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 1024px) {
  .bp3\:gtc-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .bp3\:gtc-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .bp3\:gtc-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .bp3\:gtc-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 1280px) {
  .bp4\:gtc-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .bp4\:gtc-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .bp4\:gtc-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .bp4\:gtc-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 1640px) {
  .bp5\:gtc-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .bp5\:gtc-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .bp5\:gtc-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .bp5\:gtc-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}
