.gcs-1 {
  grid-column-start: 1;
}

.gcs-2 {
  grid-column-start: 2;
}

.gcs-3 {
  grid-column-start: 3;
}

.gcs-4 {
  grid-column-start: 4;
}

.gcs-5 {
  grid-column-start: 5;
}

.gcs-6 {
  grid-column-start: 6;
}

.gcs-7 {
  grid-column-start: 7;
}

.gcs-8 {
  grid-column-start: 8;
}

.gcs-9 {
  grid-column-start: 9;
}

@media (min-width: 520px) {
  .bp1\:gcs-1 {
    grid-column-start: 1;
  }

  .bp1\:gcs-2 {
    grid-column-start: 2;
  }

  .bp1\:gcs-3 {
    grid-column-start: 3;
  }

  .bp1\:gcs-4 {
    grid-column-start: 4;
  }

  .bp1\:gcs-5 {
    grid-column-start: 5;
  }

  .bp1\:gcs-6 {
    grid-column-start: 6;
  }

  .bp1\:gcs-7 {
    grid-column-start: 7;
  }

  .bp1\:gcs-8 {
    grid-column-start: 8;
  }

  .bp1\:gcs-9 {
    grid-column-start: 9;
  }
}

@media (min-width: 768px) {
  .bp2\:gcs-1 {
    grid-column-start: 1;
  }

  .bp2\:gcs-2 {
    grid-column-start: 2;
  }

  .bp2\:gcs-3 {
    grid-column-start: 3;
  }

  .bp2\:gcs-4 {
    grid-column-start: 4;
  }

  .bp2\:gcs-5 {
    grid-column-start: 5;
  }

  .bp2\:gcs-6 {
    grid-column-start: 6;
  }

  .bp2\:gcs-7 {
    grid-column-start: 7;
  }

  .bp2\:gcs-8 {
    grid-column-start: 8;
  }

  .bp2\:gcs-9 {
    grid-column-start: 9;
  }
}

@media (min-width: 1024px) {
  .bp3\:gcs-1 {
    grid-column-start: 1;
  }

  .bp3\:gcs-2 {
    grid-column-start: 2;
  }

  .bp3\:gcs-3 {
    grid-column-start: 3;
  }

  .bp3\:gcs-4 {
    grid-column-start: 4;
  }

  .bp3\:gcs-5 {
    grid-column-start: 5;
  }

  .bp3\:gcs-6 {
    grid-column-start: 6;
  }

  .bp3\:gcs-7 {
    grid-column-start: 7;
  }

  .bp3\:gcs-8 {
    grid-column-start: 8;
  }

  .bp3\:gcs-9 {
    grid-column-start: 9;
  }
}

@media (min-width: 1280px) {
  .bp4\:gcs-1 {
    grid-column-start: 1;
  }

  .bp4\:gcs-2 {
    grid-column-start: 2;
  }

  .bp4\:gcs-3 {
    grid-column-start: 3;
  }

  .bp4\:gcs-4 {
    grid-column-start: 4;
  }

  .bp4\:gcs-5 {
    grid-column-start: 5;
  }

  .bp4\:gcs-6 {
    grid-column-start: 6;
  }

  .bp4\:gcs-7 {
    grid-column-start: 7;
  }

  .bp4\:gcs-8 {
    grid-column-start: 8;
  }

  .bp4\:gcs-9 {
    grid-column-start: 9;
  }
}

@media (min-width: 1640px) {
  .bp5\:gcs-1 {
    grid-column-start: 1;
  }

  .bp5\:gcs-2 {
    grid-column-start: 2;
  }

  .bp5\:gcs-3 {
    grid-column-start: 3;
  }

  .bp5\:gcs-4 {
    grid-column-start: 4;
  }

  .bp5\:gcs-5 {
    grid-column-start: 5;
  }

  .bp5\:gcs-6 {
    grid-column-start: 6;
  }

  .bp5\:gcs-7 {
    grid-column-start: 7;
  }

  .bp5\:gcs-8 {
    grid-column-start: 8;
  }

  .bp5\:gcs-9 {
    grid-column-start: 9;
  }
}
