.p-1 {
  padding: 4px;
}

.p-4 {
  padding: 16px;
}

.p-5 {
  padding: 20px;
}

.p-6 {
  padding: 24px;
}

.py-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.px-6 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-7 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.px-9 {
  padding-left: 48px;
  padding-right: 48px;
}

@media (min-width: 520px) {
  .bp1\:p-1 {
    padding: 4px;
  }

  .bp1\:p-4 {
    padding: 16px;
  }

  .bp1\:p-5 {
    padding: 20px;
  }

  .bp1\:py-6 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .bp1\:px-6 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .bp1\:py-7 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .bp1\:px-9 {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (min-width: 768px) {
  .bp2\:p-1 {
    padding: 4px;
  }

  .bp2\:p-4 {
    padding: 16px;
  }

  .bp2\:p-5 {
    padding: 20px;
  }

  .bp2\:py-6 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .bp2\:px-6 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .bp2\:py-7 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .bp2\:px-9 {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (min-width: 1024px) {
  .bp3\:p-1 {
    padding: 4px;
  }

  .bp3\:p-4 {
    padding: 16px;
  }

  .bp3\:p-5 {
    padding: 20px;
  }

  .bp3\:py-6 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .bp3\:px-6 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .bp3\:py-7 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .bp3\:px-9 {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (min-width: 1280px) {
  .bp4\:p-1 {
    padding: 4px;
  }

  .bp4\:p-4 {
    padding: 16px;
  }

  .bp4\:p-5 {
    padding: 20px;
  }

  .bp4\:py-6 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .bp4\:px-6 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .bp4\:py-7 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .bp4\:px-9 {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (min-width: 1640px) {
  .bp5\:p-1 {
    padding: 4px;
  }

  .bp5\:p-4 {
    padding: 16px;
  }

  .bp5\:p-5 {
    padding: 20px;
  }

  .bp5\:py-6 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .bp5\:px-6 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .bp5\:py-7 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .bp5\:px-9 {
    padding-left: 48px;
    padding-right: 48px;
  }
}
