.search-button-hidden {
  opacity: 0;
  pointer-events: none;
}

.search-results-scroll-viewport {
  &::before,
  &::after {
    content: '';
    display: block;
    left: 0;
    width: 100%;
    position: absolute;
    pointer-events: none;
    border-radius: 0.375rem;
    transition: height 0.1s ease-out;
    z-index: 100;
  }
  &::before {
    --scroll-area-overflow-y-start: inherit;
    top: 0;
    height: min(80px, var(--scroll-area-overflow-y-start));
    background: linear-gradient(to bottom, var(--color-gray-50), transparent);
  }
  &::after {
    --scroll-area-overflow-y-end: inherit;
    bottom: 0;
    height: min(80px, var(--scroll-area-overflow-y-end, 80px));
    background: linear-gradient(to top, var(--color-gray-50), transparent);
  }
}

@supports (view-transition-name: none) {
  /* Disable built-in Dialog transitions when view transitions are supported */
  .search-dialog-popup {
    transition: none !important;
    transform: none !important;
    opacity: 1 !important;
    scale: 1 !important;
  }
}
