.root {
  all: unset;
  line-height: 1;
  vertical-align: middle;
  background-clip: padding-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  flex-shrink: 0;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-1);
  padding-left: var(--space-3);
  padding-right: var(--space-3);
  border-radius: 6px;
  height: var(--space-7);
  font-family: var(--ff-sans);
  font-size: var(--fs-3);
  font-weight: var(--fw-2);
  color: var(--gray-text-2);
  background-color: var(--gray-container-2);

  @media screen and (hover: hover) {
    &:hover {
      background-color: var(--gray-container-3);
    }
  }

  &:focus-visible {
    outline-width: 2px;
    outline-style: solid;
    outline-color: black;
    outline-offset: 2px;
  }
}

.accent {
  background-color: var(--gray-text-2);
  color: white;

  @media screen and (hover: hover) {
    &:hover {
      background-color: black;
    }
  }
}
