.root {
  all: unset;
  line-height: 1;
  vertical-align: middle;
  background-clip: padding-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  flex-shrink: 0;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--br-circle);
  color: var(--gray-text-1);

  @media screen and (hover: hover) {
    &:hover {
      background-color: var(--gray-container-2);
    }
  }

  &:focus-visible {
    outline-width: 2px;
    outline-style: solid;
    outline-color: black;
    outline-offset: 2px;
  }
}

.size-1 {
  width: var(--space-6);
  height: var(--space-6);
}

.size-2 {
  width: var(--space-7);
  height: var(--space-7);
}

.size-3 {
  width: var(--space-8);
  height: var(--space-8);
}
