.popup {
  background: var(--color-gray-900);
  color: white;
  padding: 8px;
  border-radius: 6px;
  font-size: var(--fs-1);
  cursor: default;
  font-family: var(--ff-sans);
  line-height: 1;
}

.arrow {
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background: var(--color-gray-900);

  &[data-side='top'] {
    bottom: -11px;
  }

  &[data-side='bottom'] {
    top: -11px;
  }

  &[data-side='left'] {
    right: -11px;
  }

  &[data-side='right'] {
    left: -11px;
  }
}
