@layer components {
  .AccordionWebsiteRoot {
    border-top: 1px solid var(--border);
  }

  .AccordionWebsiteItem {
    box-sizing: border-box;
    border-bottom: 1px solid var(--border);
  }

  .AccordionWebsiteHeader {
    margin: 0;
  }

  .AccordionWebsiteTrigger {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    font-family: inherit;
    background-color: transparent;
    font-size: 1rem;
    padding-block: 0.75rem;
    padding-inline: 0;
    line-height: 1.5rem;
    border: none;
    outline: none;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
  }

  .AccordionWebsiteTrigger:focus-visible {
    outline: 2px solid currentColor;
  }

  .AccordionWebsiteIconMinus {
    display: none;
  }

  .AccordionWebsiteIconPlus {
    display: block;
  }

  .AccordionWebsiteTrigger[data-panel-open] .AccordionWebsiteIconPlus {
    display: none;
  }

  .AccordionWebsiteTrigger[data-panel-open] .AccordionWebsiteIconMinus {
    display: block;
  }

  .AccordionWebsitePanel {
    padding-block-start: 4px;
    padding-block-end: 12px;
  }
}
