.Button {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 4px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1;
  vertical-align: middle;
  font-family: 'test die grotesk a', sans-serif;
  padding-left: 12px;
  padding-right: 12px;
  z-index: 0;
  background: linear-gradient(to bottom, hsl(0deg 0% 0% / 5%), hsl(0deg 0% 0% / 12%));
}

.Button::before,
.Button::after {
  content: '';
  position: absolute;
  inset: 1px;
}

.Button::before {
  border-radius: 7px;
  background: linear-gradient(to bottom, white, hsl(0deg 0% 98%));
  box-shadow: inset 0 0 0 1px white;
  z-index: -1;
}

.Button::after {
  border-radius: 8px;
  z-index: -2;
  box-shadow:
    0 0.5px 1px hsl(0deg 0% 0% / 12%),
    0 1px 3px -1px hsl(0deg 0% 0% / 5%),
    0 2px 4px -1px hsl(0deg 0% 0% / 5%);
}
