.Popup {
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  z-index: 0;
  background: linear-gradient(to bottom, hsl(0deg 0% 0% / 5%), hsl(0deg 0% 0% / 12%));
}

.Popup::before,
.Popup::after {
  content: '';
  position: absolute;
  inset: 1px;
}

.Popup::before {
  border-radius: 7px;
  background: linear-gradient(to bottom, white, hsl(0deg 0% 98%));
  box-shadow: inset 0 0 0 1px white;
  z-index: -1;
}

.Popup::after {
  border-radius: 8px;
  z-index: -2;
  box-shadow:
    0 0.5px 1px hsl(0deg 0% 0% / 12%),
    0 1px 3px hsl(0deg 0% 0% / 5%),
    0 2px 4px -1px hsl(0deg 0% 0% / 5%),
    0 4px 12px -2px hsl(0deg 0% 0% / 5%),
    0 8px 24px -4px hsl(0deg 0% 0% / 5%),
    0 16px 48px -4px hsl(0deg 0% 0% / 5%);
}
