@layer components {
  .Text {
    box-sizing: border-box;
    font-family:
      'die grotesk a',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      arial,
      sans-serif;
    margin: 0;
    font-weight: var(--font-weight-400);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-wrap: pretty;
  }

  .Text.sz-1 {
    font-size: 15px;
    line-height: 22px;
  }

  .Text.sz-2 {
    font-size: 18px;
    line-height: 25px;
  }

  .Text.sz-3 {
    font-size: var(--font-size-34);
    line-height: 34px;
    text-wrap: balance;
    font-family:
      'die grotesk b',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      arial,
      sans-serif;
  }

  .Text.sz-4 {
    font-size: 42px;
    line-height: 44px;
    text-wrap: balance;
    font-family:
      'die grotesk b',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      arial,
      sans-serif;
  }

  @media (min-width: 48rem) {
    .Text.bp2\:sz-1 {
      font-size: 15px;
      line-height: 22px;
    }

    .Text.bp2\:sz-2 {
      font-size: 18px;
      line-height: 25px;
    }

    .Text.bp2\:sz-3 {
      font-size: var(--font-size-34);
      line-height: 34px;
      text-wrap: balance;
      font-family:
        'die grotesk b',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Helvetica Neue',
        arial,
        sans-serif;
    }

    .Text.bp2\:sz-4 {
      font-size: 42px;
      line-height: 44px;
      text-wrap: balance;
      font-family:
        'die grotesk b',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Helvetica Neue',
        arial,
        sans-serif;
    }
  }
}
