.Text {
  box-sizing: border-box;
  font-family:
    'die grotesk a',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    arial,
    sans-serif;
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-wrap: pretty;
}

.Text.size-1 {
  font-size: 15px;
  line-height: 22px;
}

.Text.size-2 {
  font-size: 18px;
  line-height: 25px;
}

.Text.size-3 {
  font-size: 36px;
  line-height: 38px;
  text-wrap: balance;
  font-family:
    'die grotesk b',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    arial,
    sans-serif;
}

.Text.size-4 {
  font-size: 42px;
  line-height: 44px;
  text-wrap: balance;
  font-family:
    'die grotesk b',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    arial,
    sans-serif;
}

@media (min-width: 768px) {
  .Text.bp2\:size-1 {
    font-size: 15px;
    line-height: 22px;
  }

  .Text.bp2\:size-2 {
    font-size: 18px;
    line-height: 25px;
  }

  .Text.bp2\:size-3 {
    font-size: 36px;
    line-height: 38px;
    text-wrap: balance;
    font-family:
      'die grotesk b',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      arial,
      sans-serif;
  }

  .Text.bp2\:size-4 {
    font-size: 42px;
    line-height: 44px;
    text-wrap: balance;
    font-family:
      'die grotesk b',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      arial,
      sans-serif;
  }
}
