.Container {
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.Label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: light-dark(var(--color-neutral-950), white);
}

.InputGroup {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.125rem;
  border: 1px solid light-dark(var(--color-neutral-950), white);
  background-color: light-dark(white, var(--color-neutral-950));
  min-height: 2rem;
  padding: 0.25rem 0.5rem;
  width: 16rem;
  cursor: text;

  @media (min-width: 32rem) {
    width: 22rem;
  }

  &:has(.Chip) {
    padding-inline: 0.25rem;
  }

  &:focus-within {
    outline: 2px solid var(--color-blue-800);
    outline-offset: -2px;
  }
}

.Chips {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
}

.Chip {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: calc(1.5rem - 2px);
  background-color: light-dark(var(--color-neutral-100), var(--color-neutral-800));
  color: light-dark(var(--color-neutral-950), white);
  font-size: 0.875rem;
  line-height: 1;
  padding: 0 0.2rem 0 0.4rem;
  overflow: hidden;
  gap: 0.25rem;
  outline: 0;
  cursor: default;

  &:focus-within {
    background-color: light-dark(var(--color-neutral-950), white);
    color: light-dark(white, var(--color-neutral-950));
  }

  @media (hover: hover) {
    &[data-highlighted] {
      background-color: light-dark(var(--color-neutral-950), white);
      color: light-dark(white, var(--color-neutral-950));
    }
  }
}

.ChipRemove {
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;

  @media (hover: hover) {
    &:hover {
      background-color: light-dark(var(--color-neutral-200), var(--color-neutral-700));
    }
  }
}

.Chip:focus-within .ChipRemove {
  @media (hover: hover) {
    &:hover {
      background-color: light-dark(var(--color-neutral-700), var(--color-neutral-200));
    }
  }
}

.ChipRemoveIcon {
  width: 0.75rem;
  height: 0.75rem;
}

.Input {
  flex: 1;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  height: calc(1.5rem - 2px);
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 400;
  background-color: light-dark(white, var(--color-neutral-950));
  color: light-dark(var(--color-neutral-950), white);
  min-width: 3rem;

  &:focus {
    outline: none;
  }
}

.Positioner {
  outline: 0;
  z-index: 50;
}

.Popup {
  box-sizing: border-box;
  padding-block: 0.5rem;
  background-color: light-dark(white, var(--color-neutral-950));
  color: light-dark(var(--color-neutral-950), white);
  width: var(--anchor-width);
  max-width: var(--available-width);
  max-height: min(var(--available-height), 24rem);
  overflow-y: auto;
  scroll-padding-block: 0.5rem;
  overscroll-behavior: contain;
  transition:
    opacity 0.1s,
    transform 0.1s;
  transform-origin: var(--transform-origin);
  border: 1px solid light-dark(var(--color-neutral-950), white);
  box-shadow: 0.25rem 0.25rem 0 rgb(0 0 0 / 12%);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.95);
  }

  @media (prefers-color-scheme: dark) {
    box-shadow: none;
  }
}

.Status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: light-dark(var(--color-neutral-500), var(--color-neutral-400));
}

.Spinner {
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 10rem;
  border: 1px solid currentColor;
  border-right-color: transparent;
  animation: comboboxSpinner 0.75s linear infinite;
}

@keyframes comboboxSpinner {
  100% {
    transform: rotate(360deg);
  }
}

.Empty {
  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1rem;
  color: light-dark(var(--color-neutral-500), var(--color-neutral-400));
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.Item {
  box-sizing: border-box;
  outline: 0;
  cursor: default;
  user-select: none;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  padding-right: 0.5rem;
  display: grid;
  gap: 0.5rem;
  align-items: flex-start;
  grid-template-columns: 0.75rem 1fr;
  font-size: 0.875rem;
  line-height: 1.2rem;

  @media (hover: hover) {
    &[data-highlighted] {
      z-index: 0;
      position: relative;
      color: light-dark(var(--color-neutral-950), white);
    }

    &[data-highlighted]::before {
      content: '';
      z-index: -1;
      position: absolute;
      inset-block: 0;
      inset-inline: 0;
      background-color: light-dark(var(--color-neutral-100), var(--color-neutral-800));
    }
  }
}

.ItemIndicator {
  grid-column-start: 1;
  margin-top: 0.25rem;
}

.ItemIndicatorIcon {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
}

.ItemText {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.ItemTitle {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.ItemSubtitle {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.75rem;
  color: light-dark(var(--color-neutral-500), var(--color-neutral-400));
}

.ItemEmail {
  font-size: 0.75rem;
}
