.DayWeekNumber {
  height: 36px;
  width: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: var(--calendar-day-grid-header-color);
  /* Avoid the bold front weight from the th element */
  font-weight: 500;
  padding: 0;
}
