.Form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 16rem;
}

.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.Label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: light-dark(var(--color-neutral-950), white);
}

.Input {
  box-sizing: border-box;
  padding-inline: 0.5rem;
  margin: 0;
  border: 1px solid light-dark(var(--color-neutral-950), white);
  width: 100%;
  height: 2rem;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  background-color: transparent;
  color: light-dark(var(--color-neutral-950), white);

  &::placeholder {
    color: light-dark(var(--color-neutral-500), var(--color-neutral-400));
  }

  &:focus {
    outline: 2px solid var(--color-blue-800);
    outline-offset: -2px;
  }
}

.Error {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: light-dark(var(--color-red-700), var(--color-red-400));
}

.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 0 0.75rem;
  margin: 0;
  outline: 0;
  border: 1px solid light-dark(var(--color-neutral-950), white);
  border-radius: 0;
  background-color: light-dark(white, var(--color-neutral-950));
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: light-dark(var(--color-neutral-950), white);
  user-select: none;

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: light-dark(var(--color-neutral-100), var(--color-neutral-800));
    }
  }

  &:active:not([data-disabled]) {
    background-color: light-dark(var(--color-neutral-200), var(--color-neutral-700));
  }

  &[data-disabled] {
    color: light-dark(var(--color-neutral-500), var(--color-neutral-400));
    border-color: light-dark(var(--color-neutral-500), var(--color-neutral-400));
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue-800);
    outline-offset: -2px;
  }
}
