.Trigger,
.Close {
  box-sizing: border-box;
  display: flex;
  padding: 0.5rem 0.875rem;
  margin: 0;
  border: none;
  border-radius: 0.375rem;
  background-color: var(--color-gray-50);
  font: inherit;
  font-weight: 500;
  color: var(--color-gray-950);
  outline: 1px solid var(--color-gray-200);
  user-select: none;

  &:focus-visible {
    outline: 2px solid var(--color-blue);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-100);
    }
  }

  &:active {
    background-color: var(--color-gray-100);
  }
}

.Close {
  margin-left: auto;
}

.Backdrop {
  box-sizing: border-box;
  position: fixed;
  inset: 0;
  background-color: black;
  opacity: 0.2;
  transition: opacity 150ms cubic-bezier(0.55, 0.9, 0.01, 1.02);

  @media (prefers-color-scheme: dark) {
    opacity: 0.7;
  }

  &[data-entering],
  &[data-exiting] {
    opacity: 0;
  }
}

.Popup {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: calc(100vw - 48px);
  margin-top: -2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-gray-50);
  color: var(--color-gray-950);
  outline: 0;
  transition: all 150ms;

  &[data-entering],
  &[data-exiting] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.Title {
  box-sizing: border-box;
  margin-top: -0.375rem;
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.0025em;
  font-weight: 500;
}

.Description {
  box-sizing: border-box;
  margin: 0 0 1rem;
  color: var(--color-gray-600);
}
