/* Website CSS Entry Point */

/* Reset specific Tailwind utilities that leak from docs */
/* Add more selectors here as you encounter leaking utilities */
body:not(:has(.RootLayout)) .size-3 {
  width: revert;
  height: revert;
}

/* Import utilities */
/* @import './utilities/...'; */

/* Import components */
@import './components/Link.css';
@import './components/Text.css';
