/* Theme variables and styles */

:root {
  --gray-s1: white;
  --gray-s2: hsl(0deg 0% 97%);
  --gray-t2: hsl(0deg 0% 18%);
  --selection: hsl(0deg 0% 92%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray-s1: hsl(0deg 0% 10%);
    --gray-s2: hsl(0deg 0% 14%);
    --gray-t2: hsl(0deg 0% 93%);
    --selection: hsl(0deg 0% 18%);
  }
}
