.container {
  max-width: 500px;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.row {
  color: #000;
  padding: 8px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  corner-shape: superellipse(1.5);
  border: 1px solid #e0e0e0;
}
