.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 0 0.875rem;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: light-dark(var(--color-gray-200), var(--color-gray-800));
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: light-dark(var(--color-gray-950), white);
  user-select: none;

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: light-dark(var(--color-gray-300), var(--color-gray-700));
    }
  }

  &[data-disabled] {
    color: light-dark(var(--color-gray-500), var(--color-gray-400));
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue-800);
    outline-offset: 2px;
  }
}
