.Container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.Label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-gray-900);
}

.Editor {
  min-height: 160px;
}
