.popup {
  background: var(--gray-50);
  border: 1px solid var(--gray-100);
  min-width: 400px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  position: fixed;
  top: 50%;
  left: 50%;
  font-family: IBM Plex Sans;
  transform: translate(-50%, -50%);
  padding: 16px;
  z-index: 2100;

  :global(.dark) & {
    color: var(--gray-900);
    border-color: var(--gray-700);
  }
}

.trigger {
  background-color: var(--gray-900);
  color: var(--gray-50);
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-family:
    IBM Plex Sans,
    sans-serif;

  &:hover {
    background-color: var(--gray-700);

    :global(.dark) & {
      background-color: var(--gray-200);
    }
  }

  :global(.dark) & {
    background-color: var(--gray-50);
    color: var(--gray-900);
  }
}

.close {
  background-color: transparent;
  border: 1px solid var(--gray-500);
  color: var(--gray-900);
  padding: 8px 16px;
  border-radius: 4px;
  font-family:
    IBM Plex Sans,
    sans-serif;
  min-width: 80px;

  &:hover {
    background-color: var(--gray-200);

    :global(.dark) & {
      background-color: var(--gray-700);
    }
  }

  :global(.dark) & {
    border-color: var(--gray-300);
    color: var(--gray-50);
  }
}

.controls {
  display: flex;
  flex-direction: row-reverse;
  background: var(--gray-100);
  gap: 8px;
  padding: 16px;
  margin: 32px -16px -16px;

  :global(.dark) & {
    background: var(--gray-800);
  }
}

.title {
  font-size: 1.25rem;
}

.backdrop {
  background: rgba(0, 0, 0, 0.35);
  position: fixed;
  inset: 0;
  z-index: 2000;
}
.textfield {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--gray-300);
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 16px 0;
  width: 100%;
  box-sizing: border-box;
}
