.wrapper {
  --width: 320px;
  --duration: 600ms;

  font-family: system-ui, sans-serif;
  line-height: 1.4;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 3rem;

  & h3 {
    margin-bottom: -2rem;
  }
}

.grid {
  --width: 20rem;
  --height: 11.25rem;

  display: grid;
  grid-template-columns: repeat(2, var(--width));
  grid-template-rows: repeat(2, minmax(var(--height), 1fr));
  grid-gap: 3rem;
}

.collapsible {
  width: var(--width);

  /* trigger  */
  & [type='button'] {
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 0;
  }

  & [type='button']:not(:first-of-type) {
    margin-top: 3rem;
  }

  & [type='button'] svg {
    transform: rotate(-90deg);
    transition: transform var(--duration) ease-in;
  }

  & [type='button'][data-panel-open] svg {
    transform: rotate(0);
    transition: transform var(--duration) ease-out;
  }

  /* panel  */
  & [type='button'] + div {
    background-color: #eaeaea;
    overflow: hidden;
    box-sizing: border-box;
    width: var(--width);
    padding-left: 1rem;
    padding-right: 1rem;
  }

  & [type='button'] + div p {
    margin: 1.25rem auto;
    overflow-wrap: break-word;
  }
}

.transition .collapsible {
  & [type='button'] + div[data-open] {
    height: var(--collapsible-panel-height);
    transition: height var(--duration) ease-out;
  }

  & [type='button'] + div {
    height: 0;
    transition: height var(--duration) ease-in;
  }

  & [type='button'] + div[data-entering] {
    height: 0;
  }
}

.animation .collapsible {
  & [type='button'] + div[data-open] {
    animation: slideDown var(--duration) ease-out;
  }

  & [type='button'] + div {
    animation: slideUp var(--duration) ease-in;
  }
}

.framer .collapsible {
  & [type='button'] + div {
    display: flex;
    flex-direction: column;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--collapsible-panel-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--collapsible-panel-height);
  }
  to {
    height: 0;
  }
}

.pre {
  line-height: 1.5;
  max-width: 75ch;
  white-space: pre-wrap;
  margin: 1rem 1rem 2rem;
}
