.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-sans);
  padding: 20px;
}

.h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  & a {
    text-decoration: none;
    color: var(--color-foreground);
    margin: 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
