.Label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: light-dark(var(--color-gray-900), var(--color-gray-50));
}

.Switch {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  border: 1px solid light-dark(var(--color-gray-900), var(--color-gray-50));
  padding: 0.125rem;
  width: 2.25rem;
  height: 1.25rem;
  background-color: light-dark(var(--color-gray-50), var(--color-gray-900));

  &[data-checked] {
    background-color: light-dark(var(--color-gray-900), var(--color-gray-50));
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue-800);
    outline-offset: 2px;
  }
}

.Thumb {
  width: 0.875rem;
  height: 0.875rem;
  background-color: light-dark(var(--color-gray-900), var(--color-gray-50));
  transition: translate 150ms ease;

  &[data-checked] {
    translate: 1rem 0;
    background-color: light-dark(var(--color-gray-50), var(--color-gray-900));
  }
}
