.Progress {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  width: 15rem;
  max-width: 100%;
}

.Label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: oklch(14.5% 0 0deg);

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.Value {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: oklch(14.5% 0 0deg);
  text-align: right;

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.Track {
  grid-column: 1 / 3;
  overflow: hidden;
  height: 0.25rem;
  background-color: oklch(92.2% 0 0deg);

  @media (prefers-color-scheme: dark) {
    background-color: oklch(26.9% 0 0deg);
  }
}

.Indicator {
  background-color: oklch(14.5% 0 0deg);
  transition: width 500ms;

  @media (prefers-color-scheme: dark) {
    background-color: white;
  }
}
