.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
  width: 100%;
  max-width: 20rem;
}

.Label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: light-dark(var(--color-neutral-950), white);
}

.Root {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.Group {
  display: flex;
  gap: 0.5rem;
}

.Input {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid light-dark(var(--color-neutral-950), white);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  background-color: transparent;
  color: light-dark(var(--color-neutral-950), white);

  &:focus {
    outline: 2px solid var(--color-blue-800);
    outline-offset: -2px;
  }
}

.Separator {
  width: 1rem;
  height: 1px;
  background-color: currentColor;
  color: light-dark(var(--color-neutral-950), white);
}
