.Label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: light-dark(var(--color-gray-900), white);
}

.Checkbox {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  align-items: center;
  justify-content: center;
  border: 1px solid light-dark(var(--color-gray-900), white);
  border-radius: 0;
  background-color: light-dark(white, var(--color-gray-900));
  color: light-dark(white, var(--color-gray-900));
  padding: 0;
  margin: 0;

  &[data-checked],
  &[data-indeterminate] {
    background-color: light-dark(var(--color-gray-900), white);
    color: light-dark(white, var(--color-gray-900));
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue-800);
    outline-offset: 2px;
  }
}

.Indicator {
  display: flex;

  &[data-unchecked] {
    display: none;
  }
}

.Icon {
  width: 0.75rem;
  height: 0.75rem;
}
