.root {
  border: 1px solid;
  border-radius: 8px;
  padding: var(--space-4);
  margin: var(--space-6) 0;

  p {
    color: var(--gray-text-1);
    font-size: var(--fs-3);
    line-height: 20px;
    margin-bottom: var(--space-2);
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.info {
  background-color: #F9FEFF;
  border-color: #A9DAED;
}

.warning {
  background-color: #FEFDFB;
  border-color: #F3D768;
}

.success {
  background-color: #FBFEFD;
  border-color: #ACDEC8;
}

.error {
  background-color: #fffcfc;
  border-color: #FDBDBE;
}
