.Page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Root {
  display: flex;
  border: 1px solid var(--color-gray-200);
  padding: 4px 8px;
  height: 2.5rem;
  line-height: calc(2.5rem - 8px);
  font-size: 1rem;
  border-radius: 0.375rem;
  color: var(--color-gray-900);
  outline: none;
}

.Section {
  outline: none;
  font-family: monospace;

  &[data-empty] {
    color: var(--color-gray-700);
  }
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 24rem;
}

.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.Label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-gray-900);
}
