.root {
  width: 38px;
  height: 24px;
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  background: var(--color-gray-50);
  border: 1px solid var(--color-gray-200);
  border-radius: 24px;
  display: inline-block;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 120ms;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05);

  :global(.dark) & {
    background: var(--color-gray-900);
    border-color: var(--color-gray-800);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5);
  }

  &[data-disabled] {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &:hover:not([data-disabled]) {
    background: var(--color-gray-100);
    border-color: var(--color-gray-300);

    :global(.dark) & {
      background: var(--color-gray-800);
      border-color: var(--color-gray-600);
    }
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px var(--cyan-200);

    :global(.dark) & {
      box-shadow: 0 0 0 3px var(--cyan-700);
    }
  }

  &[data-checked] {
    border: none;
    background: var(--cyan-500);
  }

  &[data-checked]:not([data-disabled]):hover {
    background: var(--cyan-700);
  }
}

.thumb {
  box-sizing: border-box;
  border: 1px solid var(--color-gray-200);
  display: block;
  width: 16px;
  height: 16px;
  left: 4px;
  border-radius: 16px;
  background-color: #fff;
  position: relative;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 120ms;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

  :global(.dark) & {
    border-color: var(--color-gray-800);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  }
}

.thumb[data-checked] {
  left: 18px;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
