.propTable {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid var(--gray-outline-2);
  background-clip: padding-box;

  & table {
    all: unset;
    box-sizing: border-box;
    display: table;
    border-collapse: collapse;
    vertical-align: top;
    width: 100%;
    font-family: var(--ff-sans);
    font-size: var(--fs-3);
    color: var(--gray-text-2);
    line-height: 18px;
    table-layout: fixed;
  }

  & tr {
    vertical-align: inherit;
    box-sizing: border-box;
  }

  & thead th {
    background-color: var(--gray-surface-2);
    font-weight: var(--fw-2);
    text-align: start;
    padding-top: var(--space-3);
    padding-right: var(--space-4);
    padding-bottom: var(--space-3);
    padding-left: var(--space-4);
  }

  & tbody th,
  & td {
    text-align: start;
    padding-top: var(--space-3);
    padding-right: var(--space-4);
    padding-bottom: var(--space-3);
    padding-left: var(--space-4);
  }
}
