.root {
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  backdrop-filter: blur(4.25px) saturate(125%);
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
  padding-left: var(--space-6);
  padding-right: var(--space-3);
  border-bottom: 1px solid var(--gray-outline-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.secondary {
  display: flex;
  align-items: center;
}
