@layer components {
  .Code {
    font-family: var(--font-mono);
    letter-spacing: normal;
    color: var(--color-blue);
  }

  /* Variants */
  .Code-component {
    color: var(--color-blue);
    background-color: color-mix(in oklab, var(--color-blue), transparent 88%);
    border-radius: var(--radius-sm);
    padding-inline: 0.25em;
  }

  .Code-prop {
    color: var(--color-orange);
  }

  .Code-html {
    color: var(--color-green);
  }

  .Code-js {
    color: var(--color-pink);
  }

  .Code-css {
    color: var(--color-violet);
  }

  /* Inside a link */
  a .Code,
  .Link .Code {
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
  }
}
