@layer components {
  .CodeBlockRoot {
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 0.375rem;
  }

  .CodeBlockPanel {
    @apply text-xs;
    line-height: 1;
    color: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    padding: 0 0.75rem;
    height: 2.25rem;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: 1px solid var(--color-border);

    /* Scroll */
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .CodeBlockPanelTitle {
    color: var(--color-foreground);
    font-weight: 500;
  }

  .CodeBlockPre {
    cursor: text;
    color: var(--color-foreground);
    background-color: var(--color-content);
    padding: 0.5rem 0.75rem;
    border-radius: inherit;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    outline: 0;

    /* Scroll */
    display: flex;
    overflow: auto;
    overscroll-behavior-x: contain;
    scrollbar-width: thin;

    &:focus-visible {
      outline: 2px solid var(--color-blue);
      outline-offset: -1px;
    }

    & code {
      /* Different fonts may introduce vertical alignment issues */
      display: block;
      /* Make sure selection highlight spans full container width in Safari */
      flex-grow: 1;
    }

    .CodeBlockPanel + & {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
