@layer components {
  .Code {
    letter-spacing: normal;

    /* In a code block */
    pre & {
      white-space: normal;
    }

    & mark {
      display: inline-block;
    }

    & a {
      text-decoration: underline;
      text-decoration-color: color-mix(in oklab, currentColor, transparent);
      text-underline-offset: 2px;
      text-decoration-thickness: 1px;

      @media (hover: hover) {
        &:hover {
          text-decoration-color: currentColor;
        }
      }
    }
  }
}
