@layer components {
  .DescriptionList {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: --spacing(2);
  }

  .DescriptionListItem {
    @media (--xs) {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: span 3;
      align-items: start;
    }
  }

  .DescriptionListSeparator {
    border-top: 1px solid var(--color-gray-200);
    padding-top: --spacing(2);
    display: flex;
    align-items: center;

    @media (--xs) {
      border-top: 0;
      padding-top: 0;
    }
  }

  .DescriptionTerm {
    @apply text-sm;
    letter-spacing: -0.00625em;
    color: inherit;
    white-space: nowrap;
    word-break: keep-all;
    display: flex;
    align-items: center;
    margin-bottom: --spacing(1);

    @media (--xs) {
      margin-bottom: --spacing(0);
    }
  }

  .DescriptionDetails {
    @apply text-sm;
    color: var(--color-foreground);

    display: flex;
    gap: 0.5rem;
    grid-column: span 2;
  }

  .DescriptionListInner {
    min-height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0.5rem 0.75rem;
  }
}
