.trigger {
  all: unset;
  position: relative;
  line-height: 1;
  vertical-align: middle;
  background-clip: padding-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  flex-shrink: 0;
  user-select: none;
  display: inline-flex;
  align-items: center;
  font-family: var(--ff-sans);
  font-weight: var(--fw-2);
  background-color: white;
  border-width: 1px;
  border-style: solid;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.05),
    0 4px 8px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid hsl(0deg 0% 0% / 5%);
  border-radius: 6px;
  color: var(--gray-text-2);
  height: var(--space-6);
  padding-left: var(--space-2);
  padding-right: var(--space-5);
  font-size: var(--fs-2);

  &:focus-visible {
    outline-width: 2px;
    outline-style: solid;
    outline-color: black;
    outline-offset: 2px;
  }
}

@media screen and (hover: hover) {
  .trigger:hover {
    border-color: hsl(0deg 0% 0% / 13%);
  }
}

.adornment {
  top: 0;
  right: 4px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: absolute;
}

.popup {
  font-family: var(--ff-sans);
  font-weight: var(--fw-2);
  background-color: white;
  border-width: 1px;
  border-style: solid;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.05),
    0 4px 8px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid hsl(0deg 0% 0% / 5%);
  border-radius: 6px;
  color: var(--gray-text-2);
  font-size: var(--fs-2);
}

.positioner:focus-visible {
  outline: none;
}

.item {
  display: block;
  text-decoration: none;
  padding: var(--space-2);
  color: inherit;

  &:focus-visible {
    outline: none;
  }

  &:focus {
    background-color: hsl(0deg 0% 0% / 5%);
  }

  @media screen and (hover: hover) {
    &:hover {
      background-color: hsl(0deg 0% 0% / 5%);
    }
  }
}
