.root {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: calc(0.1em + 3px);
  color: inherit;
  position: relative;
  z-index: 0;
  font-size: var(--fs-3);
  line-height: 20px;

  @media screen and (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}
