@import 'docs/src/css/custom-media.css';

@layer components {
  .Header {
    font-size: var(--font-size-14);
    line-height: 1.375rem;
    position: fixed;
    left: 0;
    top: 0;
    height: var(--header-height);
    width: 100%;
    background-color: var(--color-content);
    z-index: 3;

    @media (--lg) {
      background-color: transparent;
    }

    @media print {
      /* Prevent the header to be visible on each printed page */
      position: absolute;
    }
  }

  .Header::before {
    content: '';
    position: absolute;
    inset: 0;
    display: none;
    pointer-events: none;
    background: linear-gradient(
      to bottom,
      var(--color-content) 0%,
      color-mix(in oklab, var(--color-content), transparent 12%) 10%,
      transparent 100%
    );

    @media (--lg) {
      display: block;
    }
  }

  .HeaderInner {
    position: relative;
    z-index: 1;
    height: inherit;
    width: calc(100% - var(--root-layout-padding-inline) - var(--root-layout-padding-inline));
    max-width: var(--content-layout-max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;

    @media (--lg) {
      align-items: start;
      padding-top: var(--space-32);
      padding-inline: 0;
    }
  }

  .HeaderLink,
  .HeaderButton {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    height: var(--space-32);
    padding: 0.25rem 0.5rem;
    margin: -0.25rem -0.5rem;
    border-radius: var(--radius-6);

    @media not (hover: hover) {
      &:active {
        color: var(--gray-p1);
      }
    }

    &:focus-visible {
      z-index: 1;
      outline: 2px solid var(--gray-t2);
      outline-offset: -2px;
    }

    & > * {
      flex-shrink: 0;
    }
  }

  .HeaderButton {
    @media (hover: hover) {
      &:hover {
        background-color: var(--gray-c1);
      }
    }

    @media not (hover: hover) {
      &:active {
        background-color: var(--gray-c1);
      }
    }
  }

  .HeaderLink {
    flex-shrink: 0;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
        text-decoration-color: var(--gray-p1);
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
      }
    }
  }

  .HeaderLogoLink {
    display: flex;
    padding: 0.25rem 0.5rem;
    margin: -0.25rem -0.5rem;

    &:active {
      color: var(--gray-p1);
    }

    &:focus-visible {
      border-radius: var(--radius-6);
      outline: 2px solid var(--gray-t2);
      outline-offset: -1px;
    }
  }

  .HeaderDesktopActions {
    display: none;

    @media (--lg) {
      display: flex;
      justify-content: flex-end;
      width: calc(
        (
            100% - var(--content-layout-gap) - var(--content-layout-gap) -
              var(--content-layout-gap) - var(--content-layout-gap) - var(--content-layout-gap) -
              var(--content-layout-gap) - var(--content-layout-gap)
          ) /
          4 + var(--content-layout-gap)
      );
    }

    @media (--xl) {
      justify-content: start;
      padding-left: 0.5rem;
    }
  }

  .HeaderMobileActions {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @media (--lg) {
      display: none;
    }
  }

  .HeaderMobileSearch {
    display: flex;
    padding-inline: 1rem;
  }

  .HeaderNavTrigger {
    white-space: nowrap;
  }

  .HeaderNavTriggerBars {
    display: flex;
    width: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }

  .HeaderNavTriggerBars::before,
  .HeaderNavTriggerBars::after {
    content: '';
    display: block;
    width: 0.875rem;
    height: 2px;
    background-color: currentColor;
  }
}
