@layer components {
  .Logo {
    /*
     * Snap logo letters to whole pixels when the logo is rendered on @1x screens.
     * (It's designed to be pixel-perfect on @2x screens out of the box).
     */
    @media (max-resolution: 1dppx) {
      & path:nth-child(2) {
        transform: translate(0.5px);
      }
      & path:nth-child(3) {
        transform: translate(1px);
      }
      & path:nth-child(4) {
        transform: translate(1.5px);
      }
    }
  }
}
