@layer components {
  .MenuPositioner {
    /* The outline is sometimes seen in Safari when the positioner is focused intermittently */
    outline: 0;

    @media (prefers-color-scheme: light) {
      filter: drop-shadow(0 0 1px var(--color-gray-200))
        drop-shadow(0 0.5px 1px var(--color-gray-200)) drop-shadow(0 1px 2px var(--color-gray-200))
        drop-shadow(0 3px 8px var(--color-gray-300));
    }
  }

  .MenuPopup {
    outline: 0;
    max-width: var(--available-width);
    max-height: var(--available-height);
    border-radius: var(--radius-md);
    background-color: var(--color-popup);
    overflow: hidden;
    cursor: default;
    user-select: none;
    padding-block: 0.25rem;

    /* Make sure the layout doesn't fall apart on extreme zoom on mobile */
    min-width: min-content;

    @media (prefers-color-scheme: dark) {
      box-shadow: inset 0 0 0 1px var(--color-gray-300);
    }
  }

  .MenuItem {
    @apply text-xs;
    outline: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 1.75rem;
    padding-inline: 0.5rem;
    white-space: nowrap;
    z-index: 0;
    color: var(--color-foreground);
    text-decoration: none;
    cursor: default;

    &[data-highlighted] {
      position: relative;
      color: white;

      &::before {
        content: '';
        position: absolute;
        inset-inline: 0.25rem;
        inset-block: 0;
        z-index: -1;
        border-radius: var(--radius-sm);
        background-color: var(--color-highlight);
      }
    }

    @media (pointer: coarse) {
      @apply text-md;
      height: 2.25rem;
    }
  }

  .MenuSeparator {
    height: 1px;
    margin-block: 0.25rem;
    margin-inline: 0.25rem;
    background-color: var(--color-gray-200);
  }
}
