.root {
  box-sizing: border-box;
  position: fixed;
  top: 49px;
  width: 240px;
  height: calc(100% - 49px);
  padding: 12px;
  overflow-y: auto;

  @media (max-width: 1002px) {
    display: none;
  }
}

.section {
  padding-bottom: var(--space-4);
}

.sectionTitle {
  height: var(--space-7);
  display: flex;
  align-items: center;
  font-weight: var(--fw-2);
  font-size: var(--fs-3);
  font-family: var(--ff-sans);
  line-height: 20px;
  padding-left: var(--space-3);
  margin: 0;
}

.link {
  all: unset;
  line-height: 1;
  vertical-align: middle;
  background-clip: padding-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  flex-shrink: 0;
  user-select: none;
  display: flex;
  padding: var(--space-3);
  border-radius: 6px;
  height: var(--space-7);
  align-items: center;
  font-family: var(--ff-sans);
  font-size: var(--fs-3);
  cursor: pointer;
  color: var(--gray-text-2);

  @media screen and (hover: hover) {
    &:hover {
      background-color: var(--gray-container-1);
    }
  }
}

.sublink {
  composes: link;
  padding-left: var(--space-6);
}
