@layer components {
  .ScrollAreaViewport {
    height: 100%;

    /* Scroll containers may be focusable */
    &:focus-visible {
      position: relative;
      outline: 2px solid var(--color-blue);
      outline-offset: -1px;
      z-index: 1;
    }
  }

  .ScrollAreaScrollbar {
    display: flex;
    background-color: var(--color-gray-200);
    border-radius: 0.375rem;
    margin: 0.5rem;

    opacity: 0;
    transition: opacity 150ms 300ms;

    &[data-scrolling] {
      opacity: 1;
      transition-duration: 75ms;
      transition-delay: 0ms;
    }

    @media (hover: hover) {
      &:hover {
        transition-duration: 75ms;
        transition-delay: 25ms;
        opacity: 1;
      }
    }

    &[data-orientation='horizontal'] {
      height: 0.25rem;
    }

    &[data-orientation='vertical'] {
      width: 0.25rem;
    }

    &[data-orientation='vertical'] {
      width: 0.25rem;
    }

    &::before {
      content: '';
      position: absolute;
    }

    &[data-orientation='horizontal']::before {
      align-self: center;
      height: 1.25rem;
      width: 100%;
    }

    &[data-orientation='vertical']::before {
      justify-self: center;
      width: 1.25rem;
      height: 100%;
    }
  }

  .ScrollAreaThumb {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-color: var(--color-gray-400);

    &::before {
      content: '';
      position: absolute;
      inset: -0.5rem;
    }
  }
}
