@layer components {
  .SelectPositioner {
    /* The outline is sometimes seen in Safari when the positioner is focused intermittently */
    outline: 0;
    z-index: 1;
  }

  .SelectPopup {
    outline: 0;
    max-width: var(--available-width);
    max-height: var(--available-height);
    border-radius: var(--radius-8);
    background-color: var(--color-popup);
    overflow: hidden;
    cursor: default;
    user-select: none;
    padding-block: 0.25rem;

    /* Make sure the layout doesn't fall apart on extreme zoom on mobile */
    min-width: min-content;

    @media (prefers-color-scheme: light) {
      box-shadow:
        0 0 1px var(--blackA-4),
        0 0.5px 1px var(--blackA-3),
        0 1px 3px var(--blackA-1),
        0 2px 4px -1px var(--blackA-1),
        0 4px 12px -2px var(--blackA-1),
        0 4px 16px -4px var(--blackA-1);
    }

    @media (prefers-color-scheme: dark) {
      box-shadow: inset 0 0 0 1px var(--gray-c3);
    }
  }

  .SelectItem {
    font-size: var(--font-size-13);
    outline: 0;
    display: grid;
    align-items: center;
    height: 1.75rem;
    line-height: 1;
    white-space: nowrap;
    z-index: 0;

    /* Spacing is built into the grid (it's a bit easier this way) */
    grid-template-columns: 0.625rem 0.75rem 0.375rem auto 1.75rem;

    &[data-highlighted] {
      position: relative;
      color: white;

      @media (prefers-color-scheme: dark) {
        color: black;
      }

      &::before {
        content: '';
        position: absolute;
        inset-inline: 0.25rem;
        inset-block: 0;
        z-index: -1;
        border-radius: var(--radius-4);
        background-color: var(--gray-t2);

        @media (prefers-color-scheme: dark) {
          background-color: white;
        }
      }
    }

    @media (pointer: coarse) {
      font-size: var(--font-size-15);
      height: 2.25rem;
      grid-template-columns: 0.5rem 0.75rem 0.5rem auto 1.5rem;
    }
  }

  .SelectItemIndicator {
    grid-column: 2;
    margin-top: -1px;
    width: 100%;
    height: auto;
  }

  .SelectItemText {
    grid-column: 4;
  }
}
