@import 'docs/src/css/custom-media.css';

@layer components {
  .SideNavRoot {
    /* Match quick nav spacing so side nav and quick nav are visually aligned */
    --side-nav-item-height: 1.75rem;
    --side-nav-item-line-height: 1.375rem;
    --side-nav-item-padding-y: calc(
      var(--side-nav-item-height) / 2 - var(--side-nav-item-line-height) / 2
    );

    font-size: var(--font-size-14);
    line-height: 1.375rem;
    z-index: 1;
    grid-column: 1 / 3;
    grid-row: 1;
    min-width: 0;

    display: none;

    @media (--show-side-nav) {
      display: block;
      position: fixed;
      top: var(--header-height);
      bottom: 0;
      left: var(--content-layout-inline-offset);
      width: var(--content-layout-sidebar-width);
    }
  }

  .SideNavViewport {
    max-height: calc(100dvh - var(--header-height));
    padding: 0 1.5rem 0.75rem 0;

    /* Scroll containers are focusable */
    outline: 0;

    .SideNavRoot:has(&:focus-visible)::before {
      content: '';
      /* Avoid links' active state from being cut */
      inset: 0 0 0 -3px;
      pointer-events: none;
      position: absolute;
      border: 2px solid var(--gray-t2);
    }
  }

  .SideNavScrollbar {
    display: flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    /* Click target width */
    width: 1.5rem;

    opacity: 0;
    transition: opacity 200ms 500ms;

    &:active,
    &[data-scrolling],
    .SideNavViewport:focus-visible + & {
      transition-duration: 0ms;
      transition-delay: 0ms;
      opacity: 1;
    }
  }

  .SideNavScrollbarThumb {
    display: flex;
    justify-content: center;
    width: 100%;

    &::before {
      content: '';
      display: block;
      height: 100%;
      /* Visible thumb width */
      width: 0.25rem;
      border-radius: var(--radius-4);
      background-color: var(--gray-p2);
    }
  }

  .SideNavSection:not(:last-child) {
    margin-bottom: 1rem;
  }

  .SideNavHeading {
    display: inline-flex;
    padding-block: var(--side-nav-item-padding-y);
    font-weight: var(--font-weight-400);
    color: var(--gray-t1);
  }

  .SideNavItem {
    display: flex;
  }

  .SideNavLink {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-grow: 1;
    padding: calc(var(--side-nav-item-padding-y) - 1px) 0.75rem;
    border-block: 1px solid transparent; /* Maintain a 1px gap between active an inactive item */
    background-clip: padding-box;
    border-radius: var(--radius-6);
    -webkit-user-select: none;
    user-select: none;

    @media (--show-side-nav) {
      max-width: 10rem;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--gray-s2);
      }
    }

    &[data-active] {
      border: none;
      padding: var(--side-nav-item-padding-y) 0.75rem;
      background-color: var(--gray-s2);
      outline: 1px solid var(--gray-c2);
      outline-offset: -1px;
      font-weight: var(--font-weight-400);
      word-spacing: -0.005em;
      cursor: default;
    }

    &:focus-visible {
      z-index: 1;
      outline: 2px solid var(--gray-t2);
      outline-offset: -2px;
    }
  }

  .SideNavBadge {
    color: var(--poppy-t1);
    line-height: inherit;
    -webkit-user-select: none;
    user-select: none;
    text-transform: uppercase;
    font-size: 0.625rem;
    font-weight: var(--font-weight-700);
    letter-spacing: 0.035em;
    padding-inline: 2px;
    translate: 0 -2px;
    word-break: keep-all;
  }
}
