@layer components {
  .TableRoot {
    @apply text-sm;
    table-layout: fixed;
    width: 100%;
    vertical-align: top;
  }

  .TableHead,
  .TableBody {
    vertical-align: inherit;
  }

  .TableHeaderCell {
    text-align: initial;
    font-weight: normal;

    &[scope='col'],
    &[scope='colgroup'] {
      @apply text-xs;
      color: var(--color-gray);
    }
  }

  .TableCell,
  .TableHeaderCell {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    /* Not `border` because Safari renders transparent borders with glitches */
    box-shadow: 0 1px var(--color-border);
  }
}
