@layer components {
  .TableRoot {
    @apply text-sm;
    table-layout: fixed;
    width: 100%;
    vertical-align: top;
  }

  .TableHead,
  .TableBody {
    vertical-align: inherit;
  }

  .TableHeaderCell {
    text-align: initial;
    font-weight: normal;

    &[scope='col'],
    &[scope='colgroup'] {
      font-weight: 500;
    }
  }

  .TableCell,
  .TableHeaderCell {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;
    padding-right: 1rem;

    /* Not `border` because Safari renders transparent borders with glitches */
    box-shadow: 0 1px var(--color-border);

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
