@layer components {
  .ToolbarButton {
    @apply text-xs;
    color: var(--color-gray);
    cursor: default;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.375rem;
    margin: -0.5rem;
    padding: 0.5rem;
    outline: 0;
    -webkit-user-select: none;
    user-select: none;

    &::before {
      content: '';
      position: absolute;
      pointer-events: none;
      inset: 0.25rem 0.125rem;
      border-radius: 0.25rem;
    }

    &:not(:focus-visible) {
      @media (hover: hover) {
        &:hover {
          &::before {
            background-color: oklch(20% 12% 264 / 5%);
          }
          @media (prefers-color-scheme: dark) {
            &::before {
              background-color: oklch(90% 5% 264 / 8%);
            }
          }
        }
      }

      &[data-popup-open] {
        &::before {
          background-color: oklch(20% 12% 264 / 5%);
        }
        @media (prefers-color-scheme: dark) {
          &::before {
            background-color: oklch(90% 5% 264 / 8%);
          }
        }
      }

      &:active {
        &::before {
          background-color: oklch(20% 12% 264 / 9%);
        }
        @media (prefers-color-scheme: dark) {
          &::before {
            background-color: oklch(90% 5% 264 / 11%);
          }
        }
      }
    }

    &:focus-visible::before {
      content: '';
      position: absolute;
      pointer-events: none;
      inset: 0.125rem 0;
      outline: 2px solid var(--color-blue);
      outline-offset: -3px;
      border-radius: 0.375rem;
    }
  }
}
