@layer components {
  .FigureBlogRoot {
    margin-block: var(--space-20) var(--space-24);
    margin-inline: 0;
  }

  .FigureBlogFrame {
    border: 1px solid var(--color-border);
    border-radius: var(--radius-12);
    overflow: hidden;

    > img,
    > video {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  .FigureBlogCaption {
    padding: var(--space-8) var(--space-12);
    color: var(--gray-t1);
    font-size: var(--font-size-15);
    line-height: 22px;

    > p:last-child {
      margin-bottom: 0;
    }
  }
}
