.InputGroup {
  box-sizing: border-box;
  position: relative;
  width: 14rem;
  height: 2rem;
  border: 1px solid var(--color-neutral-950);
  background-color: white;

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    background-color: var(--color-neutral-950);
  }

  &:focus-within {
    outline: 2px solid var(--color-neutral-950);
    outline-offset: -1px;

    @media (prefers-color-scheme: dark) {
      outline-color: white;
    }
  }

  &:has(.Clear) .Input {
    padding: 0 calc(0.5rem + 2rem * 2) 0 0.5rem;
  }
}

.Input {
  box-sizing: border-box;
  padding: 0 calc(0.5rem + 2rem) 0 0.5rem;
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  background-color: white;
  color: var(--color-neutral-950);

  @media (any-pointer: coarse) {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-neutral-950);
    color: white;
  }

  &::placeholder {
    color: var(--color-neutral-500);

    @media (prefers-color-scheme: dark) {
      color: var(--color-neutral-400);
    }
  }

  &:focus {
    outline: none;
  }
}

.Label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: var(--color-neutral-950);
  position: relative;

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.ActionButtons {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 100%;
  right: 0;
  border: none;
  color: var(--color-neutral-500);
  padding: 0;

  @media (prefers-color-scheme: dark) {
    color: var(--color-neutral-400);
  }
}

.Trigger,
.Clear {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 100%;
  color: var(--color-neutral-950);
  border: none;
  padding: 0;
  background: none;

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.Positioner {
  outline: 0;
}

.Popup {
  box-sizing: border-box;
  background-color: white;
  color: var(--color-neutral-950);
  width: var(--anchor-width);
  max-width: var(--available-width);
  transition:
    opacity 0.1s,
    transform 0.1s;
  transform-origin: var(--transform-origin);

  border: 1px solid var(--color-neutral-950);
  box-shadow: 0.25rem 0.25rem 0 rgb(0 0 0 / 12%);

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-neutral-950);
    color: white;
    border: 1px solid white;
    box-shadow: none;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.95);
  }
}

.List {
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding-block: 0.25rem;
  scroll-padding-block: 0.25rem;
  outline: 0;
  max-height: min(22.5rem, var(--available-height));

  &[data-empty] {
    padding: 0;
  }
}

.Item {
  box-sizing: border-box;
  outline: 0;
  cursor: default;
  user-select: none;
  padding-block: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: 1rem 1fr;
  font-size: 0.875rem;
  line-height: 1rem;

  &[data-highlighted] {
    z-index: 0;
    position: relative;
    color: white;

    @media (prefers-color-scheme: dark) {
      color: var(--color-neutral-950);
    }
  }

  &[data-highlighted]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    background-color: var(--color-neutral-950);

    @media (prefers-color-scheme: dark) {
      background-color: white;
    }
  }
}

.ItemText {
  grid-column-start: 2;
}

.ItemIndicator {
  grid-column-start: 1;
}

.Empty {
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1rem;
  color: var(--color-neutral-500);

  @media (prefers-color-scheme: dark) {
    color: var(--color-neutral-400);
  }
}
