.Toolbar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 1px;
  border: 1px solid var(--color-neutral-950);
  background-color: white;
  padding: 1px;
  width: 37.5rem;

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    background-color: var(--color-neutral-950);
  }
}

.Group {
  display: flex;
}

.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  min-width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: var(--color-neutral-950);
  user-select: none;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;

  @media (prefers-color-scheme: dark) {
    color: white;
  }

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: var(--color-neutral-100);

      @media (prefers-color-scheme: dark) {
        background-color: var(--color-neutral-800);
      }
    }
  }

  &:active:not([data-disabled], [data-pressed]) {
    background-color: var(--color-neutral-200);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-neutral-700);
    }
  }

  &[aria-pressed] {
    padding: 0 0.75rem;
  }

  &[data-pressed] {
    background-color: var(--color-neutral-950);
    color: white;

    @media (prefers-color-scheme: dark) {
      background-color: white;
      color: var(--color-neutral-950);
    }
  }

  @media (hover: hover) {
    &[data-pressed]:hover:not([data-disabled]) {
      background-color: var(--color-neutral-950);
      color: white;

      @media (prefers-color-scheme: dark) {
        background-color: white;
        color: var(--color-neutral-950);
      }
    }
  }

  &[data-popup-open] {
    background-color: var(--color-neutral-100);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-neutral-800);
    }
  }

  &[role='combobox'] {
    min-width: 8rem;
    justify-content: space-between;
    padding: 0 0.5rem;
  }

  &:focus-visible {
    outline: 2px solid var(--color-neutral-950);
    outline-offset: -2px;

    @media (prefers-color-scheme: dark) {
      outline-color: white;
    }
  }
}

.Separator {
  width: 1px;
  height: 16px;
  margin: 0.25rem;
  background-color: var(--color-neutral-950);

  @media (prefers-color-scheme: dark) {
    background-color: white;
  }
}

.Link {
  color: var(--color-neutral-500);
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
  align-self: center;
  flex: 0 0 auto;
  margin-inline: auto 0.875rem;

  @media (prefers-color-scheme: dark) {
    color: var(--color-neutral-400);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-blue-700);

      @media (prefers-color-scheme: dark) {
        color: var(--color-blue-500);
      }
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-neutral-950);

    @media (prefers-color-scheme: dark) {
      outline-color: white;
    }
  }
}

.SelectIcon {
  display: flex;

  & svg {
    width: 0.75rem;
    height: 0.75rem;
  }
}

.Positioner {
  outline: none;
  user-select: none;
  z-index: 10;
}

.Popup {
  box-sizing: border-box;
  outline: 0;
  border: 1px solid var(--color-neutral-950);
  background-color: white;
  background-clip: padding-box;
  color: var(--color-neutral-950);
  min-width: var(--anchor-width);
  transform-origin: var(--transform-origin);
  box-shadow: 0.25rem 0.25rem 0 rgb(0 0 0 / 12%);
  transition:
    transform 100ms ease-out,
    opacity 100ms ease-out;
  overflow-y: auto;
  max-height: var(--available-height);

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    background-color: var(--color-neutral-950);
    color: white;
    box-shadow: none;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.98);
  }

  &[data-side='none'] {
    transition: none;
    transform: translateY(1px);
    opacity: 1;
    min-width: calc(var(--anchor-width) + 1rem);
  }
}

.Item {
  box-sizing: border-box;
  outline: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-block: 0.375rem;
  padding-left: 0.625rem;
  padding-right: 1rem;
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: 0.75rem 1fr;
  cursor: default;
  user-select: none;

  @media (pointer: coarse) {
    padding-block: 0.625rem;
  }

  [data-side='none'] & {
    padding-right: 3rem;
  }

  &[data-highlighted] {
    background-color: var(--color-neutral-950);
    color: white;

    @media (prefers-color-scheme: dark) {
      background-color: white;
      color: var(--color-neutral-950);
    }
  }
}

.ItemIndicator {
  grid-column-start: 1;
}

.ItemIndicatorIcon {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
}

.ItemText {
  grid-column-start: 2;
}
