@import 'docs/src/css/custom-media.css';

@layer base {
  /* Scope body styles to only apply when docs layout is present */
  body:has(.RootLayout) {
    position: relative; /* iOS 26 `position: absolute` backdrops */
    min-width: 320px;
    line-height: 1.5;
    color: var(--color-foreground);
    background-color: var(--color-content);
  }
}

@layer components {
  .RootLayout {
    --content-layout-gap: 2.5rem;
    --content-layout-max-width: 48rem;
    --root-layout-padding-inline: 1.5rem;

    z-index: 0;
    position: relative;
    padding-inline: var(--root-layout-padding-inline);

    @media (--md) {
      --content-layout-gap: 3rem;
      --root-layout-padding-inline: 3rem;
    }

    @media (--show-side-nav) {
      --content-layout-max-width: 92.5rem;
      --content-layout-width: min(
        var(--content-layout-max-width),
        calc(100% - var(--root-layout-padding-inline) - var(--root-layout-padding-inline))
      );
      --content-layout-inline-offset: calc((100% - var(--content-layout-width)) / 2);
      --content-layout-column-width: calc(
        (
            var(--content-layout-width) - var(--content-layout-gap) - var(--content-layout-gap) -
              var(--content-layout-gap) - var(--content-layout-gap) - var(--content-layout-gap) -
              var(--content-layout-gap) - var(--content-layout-gap)
          ) /
          8
      );
      --content-layout-sidebar-width: calc(
        var(--content-layout-column-width) + var(--content-layout-column-width) +
          var(--content-layout-gap)
      );
    }
  }

  .RootLayoutContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    min-height: 100dvh;
    max-width: var(--content-layout-max-width);

    @media (--show-side-nav) {
      padding-block: var(--header-height);
      padding-bottom: 0;
    }
  }

  .RootLayoutContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  .ContentLayoutRoot {
    display: grid;
    align-items: start;
    gap: var(--content-layout-gap);
    padding-top: var(--header-height);
    grid-template-columns: repeat(8, minmax(0, 1fr));

    @media (--show-side-nav) {
      padding-top: 0;
    }
  }

  .ContentLayoutMain {
    grid-column: 1 / -1;
    grid-row: 1;
    min-width: 0;
    width: 100%;

    margin: 0 auto;

    @media (--show-side-nav) {
      margin: 0;
    }
  }
}
