@import 'docs/src/css/custom-media.css';

@layer base {
  /* Scope body styles to only apply when docs layout is present */
  body:has(.RootLayout) {
    position: relative; /* iOS 26 `position: absolute` backdrops */
    min-width: 320px;
    line-height: 1.5;
    color: var(--color-foreground);
  }
}

@layer components {
  .RootLayout {
    --content-layout-gap: 2.5rem;
    --content-layout-max-width: 48rem;

    z-index: 0;
    position: relative;
    padding-inline: 1.5rem;

    @media (--md) {
      --content-layout-gap: 3rem;
      padding-inline: 3rem;
    }

    @media (--show-side-nav) {
      --content-layout-max-width: 92.5rem;

      &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: var(--header-height);
        right: 0;
        left: 0;
        height: 1px;
        margin-top: -1px;
        background-color: var(--color-gridline);
      }
    }
  }

  .RootLayoutContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    min-height: 100dvh;
    max-width: var(--content-layout-max-width);

    @media (--show-side-nav) {
      padding-block: var(--header-height);
      padding-bottom: 0;
    }
  }

  .RootLayoutContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: var(--color-content);
  }

  .ContentLayoutRoot {
    display: grid;
    align-items: start;
    gap: var(--content-layout-gap);
    padding-top: var(--header-height);
    grid-template-columns: repeat(8, minmax(0, 1fr));

    @media (--show-side-nav) {
      padding-top: 0;
    }
  }

  .ContentLayoutMain {
    grid-column: 1 / -1;
    grid-row: 1;
    min-width: 0;
    width: 100%;

    margin: 0 auto;

    @media (--show-side-nav) {
      margin: 0;
    }
  }
}
