.Collapsible {
  display: flex;
  width: 12rem;
  min-height: 9rem;
  flex-direction: column;
  justify-content: center;
  color: var(--color-neutral-950);

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.Icon {
  transition: transform 100ms ease-out;
}

.Trigger {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  height: 2rem;
  padding: 0 0.5rem 0 0.75rem;
  margin: 0;
  border: 1px solid var(--color-neutral-950);
  border-radius: 0;
  background-color: white;
  color: var(--color-neutral-950);
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  user-select: none;

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    background-color: var(--color-neutral-950);
    color: white;
  }

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: var(--color-neutral-100);

      @media (prefers-color-scheme: dark) {
        background-color: var(--color-neutral-800);
      }
    }
  }

  &:active:not([data-disabled]) {
    background-color: var(--color-neutral-200);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-neutral-700);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-neutral-950);
    outline-offset: -2px;

    @media (prefers-color-scheme: dark) {
      outline-color: white;
    }
  }

  &[data-panel-open] .Icon {
    transform: rotate(90deg);
  }

  &[data-disabled] {
    color: var(--color-neutral-500);
    border-color: var(--color-neutral-500);

    @media (prefers-color-scheme: dark) {
      color: var(--color-neutral-400);
      border-color: var(--color-neutral-400);
    }
  }
}

.Panel {
  display: flex;
  height: var(--collapsible-panel-height);
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition: height 150ms ease-out;

  &[hidden]:not([hidden='until-found']) {
    display: none;
  }

  &[data-starting-style],
  &[data-ending-style] {
    height: 0;
  }
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0.875rem;
}
