.button {
  --size: 2.5rem;
  --corner: 0.4rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: var(--size);
  width: var(--size);
  border: 1px solid var(--gray-outline-2);
  border-radius: var(--corner);
  background-color: var(--gray-container-1);
  color: var(--gray-text-1);
}

.button:hover {
  background-color: var(--gray-surface-1);
  color: var(--gray-text-2);
}

.button:focus-visible {
  outline: 2px solid var(--color-violet);
}

.icon {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.button[data-pressed] .icon {
  color: var(--gray-text-2);
  fill: currentColor;
  stroke-width: 0;
}
