:root {
  --syntax-default: var(--color-foreground);
  --syntax-comment: var(--color-gray);
  --syntax-constant: var(--color-blue);
  --syntax-entity: var(--color-violet);
  --syntax-parameter: var(--color-navy);
  --syntax-tag: var(--color-green);
  --syntax-keyword: var(--color-red);
  --syntax-string: var(--color-navy);
  --syntax-variable: var(--color-red);
  --syntax-invalid: var(--color-red);
}

/* Target CSS property names, ugly but works */
[data-language='css'] [style='color:var(--syntax-constant)']:first-child {
  --syntax-constant: var(--color-foreground);
}

[data-inline-code] {
  --syntax-entity: var(--color-blue);
  --syntax-parameter: var(--color-blue);
}
