.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  height: 2rem;
  padding: 0 0.75rem;
  margin: 0;
  outline: 0;
  border: 1px solid light-dark(var(--color-gray-950), white);
  border-radius: 0;
  background-color: light-dark(white, var(--color-gray-950));
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: light-dark(var(--color-gray-950), white);
  user-select: none;

  @media (hover: hover) {
    &:hover {
      background-color: light-dark(var(--color-gray-50), var(--color-gray-900));
    }
  }

  &:active {
    background-color: light-dark(var(--color-gray-100), var(--color-gray-800));
  }

  &[data-popup-open] {
    background-color: light-dark(var(--color-gray-100), var(--color-gray-800));
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue-800);
    outline-offset: -2px;
  }
}

.ButtonIcon {
  margin-right: -0.25rem;
}

.Positioner {
  outline: 0;
}

.Popup {
  box-sizing: border-box;
  position: relative;
  outline: 0;
  padding-block: 0.25rem;
  border: 1px solid light-dark(var(--color-gray-950), white);
  border-radius: 0;
  background-color: light-dark(white, var(--color-gray-950));
  color: light-dark(var(--color-gray-950), white);
  filter: drop-shadow(0.25rem 0.25rem 0 rgb(0 0 0 / 12%));
  transform-origin: var(--transform-origin);
  transition:
    transform 100ms ease-out,
    opacity 100ms ease-out;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.98);
  }

  @media (prefers-color-scheme: dark) {
    filter: none;
  }
}

.Arrow {
  display: block;
  position: relative;
  width: 12px;
  height: 6px;
  overflow: clip;

  &[data-side='top'] {
    bottom: -6px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -6px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -9px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -9px;
    rotate: -90deg;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    box-sizing: border-box;
    width: calc(6px * sqrt(2));
    height: calc(6px * sqrt(2));
    background-color: light-dark(white, var(--color-gray-950));
    border: 1px solid light-dark(var(--color-gray-950), white);
    transform: translate(-50%, 50%) rotate(45deg);
  }
}

.Item,
.SubmenuTrigger {
  outline: 0;
  cursor: default;
  user-select: none;
  padding-block: 0.5rem;
  padding-left: 1rem;
  padding-right: 2rem;
  display: flex;
  font-size: 0.875rem;
  line-height: 1rem;

  &[data-popup-open] {
    z-index: 0;
    position: relative;
  }

  &[data-highlighted] {
    z-index: 0;
    position: relative;
    color: light-dark(white, var(--color-gray-950));
  }

  &[data-popup-open]::before,
  &[data-highlighted]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
  }

  &[data-popup-open]::before {
    background-color: light-dark(var(--color-gray-100), var(--color-gray-800));
  }

  &[data-highlighted]::before {
    background-color: light-dark(var(--color-gray-950), white);
  }

  &[data-highlighted][data-popup-open]::before {
    background-color: light-dark(var(--color-gray-950), white);
  }

  &[data-disabled] {
    color: light-dark(var(--color-gray-500), var(--color-gray-400));
  }
}

.SubmenuTrigger {
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 1rem;
}

.Separator {
  margin: 0.25rem;
  height: 1px;
  background-color: light-dark(var(--color-gray-950), white);
}
