.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 2rem;
  padding: 0 0.75rem;
  margin: 0;
  border: 1px solid var(--color-neutral-950);
  background-color: white;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  color: var(--color-neutral-950);
  user-select: none;

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    background-color: var(--color-neutral-950);
    color: white;
  }

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: var(--color-neutral-100);

      @media (prefers-color-scheme: dark) {
        background-color: var(--color-neutral-800);
      }
    }
  }

  &:active:not([data-disabled]) {
    background-color: var(--color-neutral-200);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-neutral-700);
    }
  }

  &[data-disabled] {
    color: var(--color-neutral-500);
    border-color: var(--color-neutral-500);

    @media (prefers-color-scheme: dark) {
      color: var(--color-neutral-400);
      border-color: var(--color-neutral-400);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-neutral-950);
    outline-offset: -1px;

    @media (prefers-color-scheme: dark) {
      outline-color: white;
    }
  }
}

.Backdrop {
  position: fixed;
  min-height: 100dvh;
  inset: 0;
  background-color: black;
  opacity: 0.2;
  transition: opacity 150ms;

  /* iOS 26+: Ensure the backdrop covers the entire visible viewport. */
  @supports (-webkit-touch-callout: none) {
    position: absolute;
  }

  @media (prefers-color-scheme: dark) {
    opacity: 0.5;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.Popup {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24rem;
  max-width: calc(100vw - 3rem);
  margin-top: -2rem;
  padding: 1rem;
  border: 1px solid var(--color-neutral-950);
  background-color: white;
  color: var(--color-neutral-950);
  box-shadow: 0.25rem 0.25rem 0 rgb(0 0 0 / 12%);
  transition:
    transform 100ms ease-out,
    opacity 100ms ease-out;

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    background-color: var(--color-neutral-950);
    color: white;
    box-shadow: none;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.98);
  }
}

.Intro {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.Title {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.Description {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-neutral-600);

  @media (prefers-color-scheme: dark) {
    color: var(--color-neutral-400);
  }
}

.Actions {
  display: flex;
  justify-content: end;
  gap: 0.75rem;
}
