@layer components {
  .Content {
    box-sizing: content-box;
    max-width: 714px;
    padding-top: var(--space-9);
    padding-left: var(--space-6);
    padding-right: var(--space-6);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--space-9);

    @media (max-width: 1242px) {
      margin-right: calc((100vw - 240px - 762px) / 2);
    }

    @media (max-width: 1002px) {
      margin-left: auto;
      margin-right: auto;
    }

    p {
      margin: 0;
      margin-bottom: var(--space-4);
      font-size: var(--fs-4);
      line-height: 23px;
      font-family: var(--ff-sans);
      font-weight: var(--fw-1);
      color: var(--gray-text-2);
      scroll-margin-top: 80px;
    }

    ul {
      margin: 0;
      margin-bottom: var(--space-4);
      font-size: var(--fs-4);
      line-height: 23px;
      font-family: var(--ff-sans);
      font-weight: var(--fw-1);
      color: var(--gray-text-2);
      scroll-margin-top: 80px;
    }

    ul p {
      margin-bottom: 0;
    }

    h1 {
      margin: 0;
      font-family: var(--ff-sans);
      color: var(--gray-text-2);
      scroll-margin-top: 80px;
      font-size: var(--fs-8);
      line-height: 37px;
      font-weight: var(--fw-2);
      letter-spacing: -0.042em;
      text-indent: -1.1px;
      margin-bottom: var(--space-2);
    }

    h2 {
      margin: 0;
      font-family: var(--ff-sans);
      color: var(--gray-text-2);
      scroll-margin-top: 80px;
      margin-top: var(--space-7);
      margin-bottom: var(--space-3);
      font-size: var(--fs-6);
      line-height: 24px;
      font-weight: 500;
      letter-spacing: -0.018em;
    }

    h3 {
      margin: 0;
      font-family: var(--ff-sans);
      color: var(--gray-text-2);
      scroll-margin-top: 80px;
      margin-top: var(--space-7);
      margin-bottom: var(--space-2);
      font-size: var(--fs-5);
      line-height: 23px;
      font-weight: var(--fw-2);
      letter-spacing: -0.012em;
    }

    code {
      font-family: var(--ff-code);
    }

    :not(pre) > code {
      margin-left: 1px;
      margin-right: 1px;
      box-sizing: border-box;
      font-family: var(--ff-code);
      color: var(--gray-text-2);
      font-size: 0.89em;
      padding-right: var(--space-1);
      padding-bottom: 2px;
      padding-left: var(--space-1);
      white-space: break-spaces;
      border: 1px solid var(--gray-outline-1);
      border-radius: 6px;
      position: relative;
      top: -0.5px;
    }

    kbd {
      padding: 6px;
      display: inline-block;
      white-space: nowrap;
      margin: 0px 1px;
      font-family: var(--ff-code);
      font-size: var(--fs-1);
      color: var(--gray-text-2);
      line-height: 10px;
      vertical-align: middle;
      border-radius: 6px;
      border: 1px solid var(--gray-outline-2);
      background-color: var(--gray-container-1);
      box-shadow: inset 0 -2px 0 var(--gray-outline-2);
    }

    table {
      border-collapse: collapse;
      margin-bottom: var(--space-4);
    }

    th {
      font-weight: var(--fw-2);
    }

    th,
    td {
      border-bottom: 1px solid var(--gray-outline-2);
      padding: var(--space-3);
    }

    strong {
      font-weight: var(--fw-2);
    }

    a {
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-thickness: 1px;
      text-underline-offset: calc(0.1em + 3px);
      color: inherit;
      position: relative;
      z-index: 0;
    }

    @media screen and (hover: hover) {
      a:hover {
        text-decoration: none;
      }
    }

    @media screen and (hover: hover) {
      a:hover::after {
        content: '';
        width: calc(100% + 6px);
        height: calc(100% + 8px);
        top: -4px;
        left: -3px;
        position: absolute;
        background-color: var(--gray-container-1);
        z-index: -1;
      }
    }
  }

  .EditLink {
    padding-top: var(--space-9);
    padding-bottom: var(--space-9);
  }
}
