:root {
  --gray-950: #020617;
  --gray-900: #0f172a;
  --gray-800: #1e293b;
  --gray-700: #334155;
  --gray-600: #475569;
  --gray-500: #64748b;
  --gray-400: #94a3b8;
  --gray-300: #cbd5e1;
  --gray-200: #e2e8f0;
  --gray-100: #f1f5f9;
  --gray-50: #f8fafc;

  --cyan-900: #022127;
  --cyan-800: #043039;
  --cyan-700: #063c47;
  --cyan-600: #094855;
  --cyan-500: #0d5463;
  --cyan-400: #1f94ad;
  --cyan-300: #66bacc;
  --cyan-200: #99d8e5;
  --cyan-100: #bdebf4;
  --cyan-50: #e9f8fc;
}
