body {
  margin: 0;
  /* background-color: var(--gray-surface-2); */
  padding-top: 49px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background: var(--gray-container-3);
}
