:root {
  --gray-surface-1: hsl(0 0% 99%);
  --gray-surface-2: hsl(0 0% 97.5%);
  --gray-container-1: hsl(0 0% 96.5%);
  --gray-container-2: hsl(0 0% 95%);
  --gray-container-3: hsl(0 0% 92%);
  --gray-outline-1: hsl(0 0% 93%);
  --gray-outline-2: hsl(0 0% 88%);
  --gray-text-1: hsl(0 0% 45.75%);
  --gray-text-2: hsl(0 0% 15%);

  --grayA-surface-2: hsl(0 0% 97% / 86%);

  --code-1: #cc4e00;
  --code-2: #7d5e54;
  --code-3: #cb1d63;
  --code-4: #8145b5;
  --code-5: #9e6c00;
  --code-6: #00749e;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 32px;
  --space-8: 40px;
  --space-9: 48px;

  --fs-1: 12px;
  --fs-2: 13px;
  --fs-3: 14px;
  --fs-4: 16px;
  --fs-5: 18px;
  --fs-6: 20px;
  --fs-7: 26px;
  --fs-8: 36px;
  --fs-9: 58px;

  --fw-1: 400;
  --fw-2: 500;

  --br-circle: 50%;
  --br-pill: 9999px;

  --inter: 'Inter', sans-serif;
  --ff-sans: graphik, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --ff-code: Söhne mono, ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono',
    monospace;
}
