.Slider {
  --thumb-radius: 0.625rem;
  --track-height: calc(var(--thumb-radius) * 2);
  --track-width: 14rem;

  --indicator-bg: white;
  --track-bg: var(--color-gray-200);
  --track-outer-border-color: var(--color-gray-400);

  border: 1px solid var(--track-outer-border-color);
  border-radius: 9999px;
  background-color: var(--track-bg);

  @media (prefers-color-scheme: dark) {
    --track-bg: var(--color-gray-200);
  }
}

.Control {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  overflow-y: clip;
  touch-action: none;
  user-select: none;

  border-radius: 9999px;
  padding-inline: var(--thumb-radius);

  &:focus-within {
    overflow-y: revert-layer;
  }
}

.Track {
  width: var(--track-width);
  height: var(--track-height);
  user-select: none;
}

.Indicator {
  background-color: var(--indicator-bg);
  user-select: none;

  &:before {
    position: absolute;
    content: '';
    border-radius: 9999px 0 0 9999px;
    height: var(--track-height);
    width: var(--thumb-radius);
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: var(--indicator-bg);
  }
}

.Thumb {
  width: calc(var(--thumb-radius) * 2);
  height: calc(var(--thumb-radius) * 2);
  z-index: 1;
  border-radius: 9999px;
  background-color: white;
  box-shadow: 0px 0px 3px 0px var(--color-gray-300);
  user-select: none;

  &:focus-visible {
    outline: 2px solid var(--color-blue);
  }

  &[data-dragging] {
    box-shadow: 0px 0px 2px 1px var(--color-gray-300);
  }
}
