.Slider {
  --thumb-radius: 0.625rem;
  --track-height: 0.5rem;
  --track-width: 14rem;

  --indicator-bg: var(--color-blue);
  --thumb-bg: var(--color-blue);
  --track-outer-border-color: var(--color-gray-400);

  --track-bg: var(--color-gray-200);
  --dragging-color: oklch(69% 50% 264);

  border: 1px solid var(--track-outer-border-color);
  border-radius: 9999px;
  background-color: var(--track-bg);

  @media (prefers-color-scheme: dark) {
    --track-bg: var(--color-gray-200);
    --dragging-color: blue;
  }
}

.Control {
  box-sizing: border-box;
  position: relative;
  touch-action: none;
  user-select: none;
  z-index: 1;

  border-radius: 9999px;
  padding-inline: var(--thumb-radius);
}

.Track {
  width: var(--track-width);
  height: var(--track-height);
  user-select: none;
}

.Indicator {
  background-color: var(--indicator-bg);
  user-select: none;

  &:before {
    position: absolute;
    content: '';
    border-radius: 9999px 0 0 9999px;
    height: var(--track-height);
    width: var(--thumb-radius);
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: var(--indicator-bg);
  }

  &[data-dragging] {
    background-color: var(--dragging-color);

    &:before {
      background-color: var(--dragging-color);
    }
  }
}

.Thumb {
  width: calc(var(--thumb-radius) * 2);
  height: calc(var(--thumb-radius) * 2);
  z-index: 1;
  border-radius: 100%;
  background-color: var(--indicator-bg);

  user-select: none;

  &:focus-visible {
    outline: 2px solid var(--color-blue);
    outline-offset: 2px;
  }

  &[data-dragging] {
    background-color: var(--dragging-color);
    box-shadow: 0 0 0 1px var(--dragging-color);
  }
}
