.Slider {
  --thumb-radius: 0.625rem;
  --track-height: 0.625rem;
  --track-width: 6.25rem; /* 100px */

  --indicator-bg: var(--color-blue);
  --thumb-bg: var(--color-blue);
  --track-outer-border-color: var(--color-gray-400);

  --track-bg: var(--color-gray-200);
  --dragging-color: oklch(69% 50% 264);

  @media (prefers-color-scheme: dark) {
    --track-bg: var(--color-gray-200);
    --dragging-color: var(--color-blue);
  }
}

.Control {
  box-sizing: border-box;
  position: relative;
  width: var(--track-width);
  touch-action: none;
  user-select: none;
}

.Track {
  width: var(--track-width);
  height: var(--track-height);
  background-color: var(--track-bg);
  user-select: none;
}

.Indicator {
  background-color: var(--indicator-bg);
  user-select: none;

  &[data-dragging] {
    background-color: var(--dragging-color);

    &:before {
      background-color: var(--dragging-color);
    }
  }
}

.Thumb {
  width: calc(var(--thumb-radius) * 2);
  height: calc(var(--thumb-radius) * 2);
  z-index: 1;
  border-radius: 100%;
  background-color: var(--indicator-bg);

  user-select: none;

  opacity: 0.65;

  &:focus-visible {
    outline: 2px solid var(--color-blue);
    outline-offset: 2px;
  }

  &[data-dragging] {
    background-color: var(--dragging-color);
    box-shadow: 0 0 0 1px var(--dragging-color);
  }
}
