.Root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.25rem;
  grid-row-gap: 0.5rem;
  width: 14rem;
}

.Label {
  grid-column: 1 / 3;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-gray-900);
}

.Control {
  grid-column: 1 / 3;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem 0.25rem;
  touch-action: none;
  user-select: none;
}

.Track {
  width: 100%;
  height: 0.625rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  user-select: none;

  &::before {
    content: '';
    width: 100%;
    height: 0.25rem;
    position: absolute;
    top: 30%;
    background-color: var(--color-gray-200);
  }
}

.Indicator {
  border-radius: 0.25rem;
  background-color: var(--color-gray-700);
  user-select: none;
}

.Thumb {
  width: 0.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  background-color: white;
  outline: 1px solid var(--color-gray-300);
  user-select: none;

  &:has(:focus-visible) {
    outline: 2px solid var(--color-blue);
  }
}

.Mark {
  z-index: 0;
  width: 1px;
  height: 100%;
  background-color: var(--color-gray-500);
}

.Small {
  font-size: 0.75rem;

  &:last-of-type {
    text-align: end;
  }
}
