/* Website fonts - die grotesk */

@font-face {
  font-family: 'die grotesk a';
  font-weight: normal;
  src: url('./die-grotesk-a-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'die grotesk b';
  font-weight: normal;
  src: url('./die-grotesk-b-regular.woff2') format('woff2');
}
