.demo {
  --icon-size: 46px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.meter {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  color: var(--gray-text-2);
}

.track {
  position: relative;
  width: 48px;
  height: 26px;
  border-radius: 5px;
  border: 3px solid currentColor;
  padding: 2px;
  display: flex;
}

.track:after {
  content: '';
  background-color: currentColor;
  position: absolute;
  z-index: 1;
  top: 3px;
  right: -6px;
  width: 3px;
  height: 14px;
  border-radius: 0 6px 6px 0;
}

.icon {
  position: absolute;
  width: var(--icon-size);
  height: var(--icon-size);
  transform: translate(-3px, -14px);
}

.indicator {
  background-color: rgb(40, 205, 65);
  border-radius: 3px;
}
