.Root {
  overflow: clip;
  height: 312px;
  display: flex;
  flex-direction: column;
}

.Header {
  box-sizing: border-box;
  padding: 8px 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderLabelWrapper {
  width: 100%;
  display: grid;
  justify-content: center;
}

.HeaderLabel {
  grid-row: 1;
  grid-column: 1;
  min-width: 185px;
  text-align: center;
  overflow: clip;
}

.DayGrid {
  padding: 12px;
  height: 276px;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr;
  gap: 4px;
  position: relative;
}

.DayGridHeaderRow,
.DayGridRow {
  display: flex;
  justify-content: center;
}

.DayGridHeaderCell,
.DayGridCell {
  padding: 0;
  width: 36px;
  text-align: center;
}

.DayButton {
  width: 36px;
  height: 36px;
  padding: 0;
}

.DayGridBody {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  grid-row: 2;
  grid-column: 1;
  transform: translateX(0);
  opacity: 1;
}

.HeaderLabel[data-current],
.HeaderLabel[data-previous],
.DayGridBody[data-current],
.DayGridBody[data-previous] {
  transition:
    opacity 0.2s linear,
    transform 0.2s linear;
}

.DayGridBody[data-navigation-direction='next'][data-previous][data-ending-style] {
  transform: translateX(-100%);
  opacity: 0;
}

.DayGridBody[data-navigation-direction='next'][data-current][data-starting-style] {
  transform: translateX(100%);
  opacity: 0;
}

.DayGridBody[data-navigation-direction='previous'][data-previous][data-ending-style] {
  transform: translateX(100%);
  opacity: 0;
}

.DayGridBody[data-navigation-direction='previous'][data-current][data-starting-style] {
  transform: translateX(-100%);
  opacity: 0;
}
