.Panel {
  display: flex;
  border: 1px solid light-dark(var(--color-gray-950), white);
  background-color: light-dark(white, var(--color-gray-950));
}

.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: light-dark(var(--color-gray-950), white);
  user-select: none;

  &[data-popup-open] {
    background-color: light-dark(var(--color-gray-100), var(--color-gray-800));
  }

  &:focus-visible {
    background-color: transparent;
    outline: 2px solid var(--color-blue-800);
    outline-offset: -2px;
  }

  @media (hover: hover) {
    &:hover {
      background-color: light-dark(var(--color-gray-50), var(--color-gray-900));
    }
  }

  &:active {
    background-color: light-dark(var(--color-gray-100), var(--color-gray-800));
  }
}

.Icon {
  width: 1rem;
  height: 1rem;
}

.Popup {
  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  position: relative;
  border: 1px solid light-dark(var(--color-gray-950), white);
  background-color: light-dark(white, var(--color-gray-950));
  color: light-dark(var(--color-gray-950), white);
  filter: drop-shadow(0.25rem 0.25rem 0 rgb(0 0 0 / 12%));
  transform-origin: var(--transform-origin);
  transition:
    transform 100ms ease-out,
    opacity 100ms ease-out;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.98);
  }

  &[data-instant] {
    transition: none;
  }

  @media (prefers-color-scheme: dark) {
    filter: none;
  }
}

.Arrow {
  display: block;
  position: relative;
  width: 12px;
  height: 6px;
  overflow: clip;

  &[data-side='top'] {
    bottom: -6px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -6px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -9px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -9px;
    rotate: -90deg;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    box-sizing: border-box;
    width: calc(6px * sqrt(2));
    height: calc(6px * sqrt(2));
    background-color: light-dark(white, var(--color-gray-950));
    border: 1px solid light-dark(var(--color-gray-950), white);
    transform: translate(-50%, 50%) rotate(45deg);
  }
}
