.List {
  display: flex;
  position: relative;
  z-index: 1;
  gap: 0.25rem;
  margin-bottom: -1px;
}

.Tab {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  margin: 0;
  outline: 0;
  background: none;
  color: light-dark(var(--color-gray-600), var(--color-gray-300));
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  user-select: none;
  white-space: nowrap;
  word-break: keep-all;
  padding-inline: 0.5rem;
  padding-block: 0;
  height: calc(2rem + 1px);

  @media (hover: hover) {
    &:hover {
      color: light-dark(var(--color-gray-950), white);
    }
  }

  &[data-active] {
    color: light-dark(var(--color-gray-950), white);
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue-800);
    outline-offset: -2px;
  }
}

.Indicator {
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  translate: var(--active-tab-left);
  width: var(--active-tab-width);
  height: 100%;
  transition-property: translate, width;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  border-top: 1px solid light-dark(var(--color-gray-950), white);
  border-inline: 1px solid light-dark(var(--color-gray-950), white);
  background-color: light-dark(white, var(--color-gray-950));
}

.Panel {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  outline: 0;
  border-inline: 1px solid light-dark(var(--color-gray-950), white);
  border-block: 1px solid light-dark(var(--color-gray-950), white);
  background-color: light-dark(white, var(--color-gray-950));

  &:focus-visible {
    outline: 2px solid var(--color-blue-800);
    outline-offset: -2px;
    z-index: 1;
  }

  &[hidden] {
    display: none;
  }
}

.Icon {
  width: 2.5rem;
  height: 2.5rem;
  color: light-dark(var(--color-gray-400), var(--color-gray-500));
}
