.Root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-radius: 100%;
  user-select: none;
  font-weight: 400;
  color: light-dark(var(--color-gray-950), white);
  background-color: light-dark(var(--color-gray-200), var(--color-gray-800));
  font-size: 0.875rem;
  line-height: 1;
  overflow: hidden;
  height: 2rem;
  width: 2rem;
}

.Image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Fallback {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.875rem;
}
