.Positioner {
  --easing: cubic-bezier(0.22, 1, 0.36, 1);
  --animation-duration: 0.35s;

  width: var(--positioner-width);
  height: var(--positioner-height);
  max-width: var(--available-width);

  transition-property: top, left, right, bottom, transform;
  transition-timing-function: var(--easing);
  transition-duration: var(--animation-duration);

  &[data-instant] {
    transition: none;
  }
}

.Popup {
  position: relative;
  width: var(--popup-width, auto);
  height: var(--popup-height, auto);

  transition-property: width, height, opacity, transform;
  transition-timing-function: var(--easing);
  transition-duration: var(--animation-duration);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  &[data-instant] {
    transition: none;
  }
}

.Viewport {
  box-sizing: border-box;
  position: relative;
  overflow: clip;
  width: 100%;
  height: 100%;
  padding: 0;

  [data-previous],
  [data-current] {
    width: var(--popup-width);
    transform: translateX(0);
    opacity: 1;
    transition:
      transform var(--animation-duration) var(--easing),
      opacity calc(var(--animation-duration) / 2) var(--easing);
  }

  &[data-activation-direction~='right'] [data-previous][data-ending-style] {
    transform: translateX(-50%);
    opacity: 0;
  }

  &[data-activation-direction~='right'] [data-current][data-starting-style] {
    transform: translateX(50%);
    opacity: 0;
  }

  &[data-activation-direction~='left'] [data-previous][data-ending-style] {
    transform: translateX(50%);
    opacity: 0;
  }

  &[data-activation-direction~='left'] [data-current][data-starting-style] {
    transform: translateX(-50%);
    opacity: 0;
  }
}

.Arrow {
  transition: left calc(var(--animation-duration)) var(--easing);
}
