@layer components {
  .TypePropRefTrigger {
    cursor: default;
    border: 0;
    background: transparent;
    padding: 0;
    font: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--color-red);
    text-underline-offset: 2px;
  }

  .TypePropRefLink {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--color-red);
    text-underline-offset: 2px;
  }

  .TypePropRefPopup {
    max-width: min(32rem, var(--available-width));
    overflow: visible;
  }

  .TypePropRefHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-block: 0.5rem;
  }

  .TypePropRefDocsLink {
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
    letter-spacing: var(--text-xs--letter-spacing);
    color: var(--color-gray-600);
    text-decoration: underline;
    text-decoration-color: var(--color-gray-300);
  }

  .TypePropRefDocsLink:hover {
    color: var(--color-gray-900);
    text-decoration-color: var(--color-gray-500);
  }

  .TypePropRefArrow {
    &[data-side='bottom'] {
      top: -8px;
    }

    &[data-side='left'] {
      right: -13px;
      transform: rotate(90deg);
    }

    &[data-side='right'] {
      left: -13px;
      transform: rotate(-90deg);
    }

    &[data-side='top'] {
      bottom: -8px;
      transform: rotate(180deg);
    }
  }

  .TypePropRefArrowFill {
    fill: var(--color-popup);
  }

  .TypePropRefArrowStroke {
    fill: var(--color-gray-200);
  }

  .TypePropRefArrowStrokeDark {
    @media (prefers-color-scheme: dark) {
      fill: var(--color-gray-300);
    }
  }

  @media (prefers-color-scheme: dark) {
    .TypePropRefArrowStroke {
      fill: none;
    }
  }

  .TypePropRefList {
    margin: 0;
    padding: 0.5rem 1rem 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .TypePropRefHeader + .TypePropRefList {
    padding-top: 0;
  }

  .TypePropRefRow {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
  }

  .TypePropRefDescription {
    margin: 0;
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    letter-spacing: var(--text-sm--letter-spacing);
    color: var(--color-gray-700);

    & p {
      margin: 0;
    }
  }

  .TypePropRefLabel {
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
    letter-spacing: var(--text-xs--letter-spacing);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-gray-500);
  }

  .TypePropRefValue {
    margin: 0;
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    letter-spacing: var(--text-sm--letter-spacing);
    color: var(--color-gray-900);
  }
}
