.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 2rem;
  padding: 0 0.75rem;
  margin: 0;
  border: 1px solid oklch(14.5% 0 0deg);
  background-color: white;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  color: oklch(14.5% 0 0deg);
  -webkit-user-select: none;
  user-select: none;
}

.Backdrop {
  --backdrop-opacity: 0.2;
  position: fixed;
  min-height: 100dvh;
  inset: 0;
  background-color: black;
  opacity: var(--backdrop-opacity);
}

.Viewport {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: flex-end;
}

.Popup {
  --bleed: 3rem;
  box-sizing: border-box;
  width: calc(20rem + var(--bleed));
  max-width: calc(100vw - 3rem + var(--bleed));
  height: 100%;
  padding: 1.5rem;
  padding-right: calc(1.5rem + var(--bleed));
  margin-right: calc(-1 * var(--bleed));
  border-left: 1px solid oklch(14.5% 0 0deg);
  background-color: white;
  color: oklch(14.5% 0 0deg);
  outline: 0;
  box-shadow: 0.25rem 0.25rem 0 rgb(0 0 0 / 12%);
  overflow-y: auto;
}

.Content {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
}

.Title {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.Description {
  margin: 0 0 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: oklch(43.9% 0 0deg);
}

.Actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}
