.Label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: oklch(14.5% 0 0deg);
}

.Input {
  box-sizing: border-box;
  padding: 0 0.5rem;
  margin: 0;
  border-radius: 0;
  border: 1px solid oklch(14.5% 0 0deg);
  width: 10rem;
  height: 2rem;
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  background-color: white;
  color: oklch(14.5% 0 0deg);
}

.Input::placeholder {
  color: oklch(55.6% 0 0deg);
}

.Input:focus {
  outline: 2px solid oklch(14.5% 0 0deg);
  outline-offset: -1px;
}

.Input:disabled {
  opacity: 0.5;
  background-color: oklch(97% 0 0deg);
}
