.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.Label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: oklch(14.5% 0 0deg);
  cursor: default;
}

.Value[data-placeholder] {
  color: oklch(55.6% 0 0deg);
}

.Select {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.25rem;
  margin: 0;
  outline: 0;
  border: 1px solid oklch(14.5% 0 0deg);
  background-color: white;
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1;
  white-space: nowrap;
  font-weight: 400;
  color: oklch(14.5% 0 0deg);
  -webkit-user-select: none;
  user-select: none;
  min-width: 10rem;

  &[data-disabled] {
    color: oklch(55.6% 0 0deg);
    border-color: oklch(55.6% 0 0deg);
  }
}

.Positioner {
  outline: none;
  z-index: 10;
  -webkit-user-select: none;
  user-select: none;
}

.Popup {
  box-sizing: border-box;
  outline: 0;
  border: 1px solid oklch(14.5% 0 0deg);
  background-color: white;
  background-clip: padding-box;
  color: oklch(14.5% 0 0deg);
  min-width: var(--anchor-width);
  transform-origin: var(--transform-origin);
  box-shadow: 0.25rem 0.25rem 0 rgb(0 0 0 / 12%);

  &[data-side='none'] {
    transform: translateY(1px);
    min-width: calc(var(--anchor-width) + 1.75rem);
  }
}

.List {
  box-sizing: border-box;
  position: relative;
  padding-block: 0.25rem;
  overflow-y: auto;
  max-height: var(--available-height);
  scroll-padding-block: 1.5rem;
}

.Item {
  box-sizing: border-box;
  outline: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-block: 0.375rem;
  padding-left: 0.625rem;
  padding-right: 1rem;
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: 1rem 1fr;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;

  &[data-highlighted] {
    background-color: oklch(14.5% 0 0deg);
    color: white;
  }
}

.ItemIndicator {
  grid-column-start: 1;
}

.ItemText {
  grid-column-start: 2;
}
