.Positioner {
  height: var(--positioner-height);
  width: var(--positioner-width);
  max-width: var(--available-width);
}

.Popup {
  box-sizing: border-box;
  position: relative;
  width: var(--popup-width, auto);
  height: var(--popup-height, auto);
  border: 1px solid light-dark(var(--color-neutral-950), white);
  background-color: light-dark(white, var(--color-neutral-950));
  color: light-dark(var(--color-neutral-950), white);
  filter: drop-shadow(0.25rem 0.25rem 0 rgb(0 0 0 / 12%));
  transform-origin: var(--transform-origin);
  transition:
    transform 100ms ease-out,
    opacity 100ms ease-out;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.98);
  }

  @media (prefers-color-scheme: dark) {
    filter: none;
  }
}

.Arrow {
  display: block;
  position: relative;
  width: 12px;
  height: 6px;
  overflow: clip;

  &[data-side='top'] {
    bottom: -6px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -6px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -9px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -9px;
    rotate: -90deg;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    box-sizing: border-box;
    width: calc(6px * sqrt(2));
    height: calc(6px * sqrt(2));
    border: 1px solid light-dark(var(--color-neutral-950), white);
    background-color: light-dark(white, var(--color-neutral-950));
    transform: translate(-50%, 50%) rotate(45deg);
  }
}

.PopupContent {
  width: min-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.Image {
  display: block;
  max-width: none;
}

.Summary {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: light-dark(var(--color-neutral-600), var(--color-neutral-400));
  text-wrap: pretty;
}

.Container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.Paragraph {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: light-dark(var(--color-neutral-950), white);
  text-wrap: balance;
}

.Link {
  outline: 0;
  color: light-dark(var(--color-blue-800), var(--color-blue-500));
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: color-mix(
    in oklab,
    light-dark(var(--color-blue-800), var(--color-blue-500)),
    transparent 40%
  );
  text-underline-offset: 2px;

  @media (hover: hover) {
    &:hover {
      text-decoration-color: light-dark(var(--color-blue-800), var(--color-blue-500));
    }
  }

  &[data-popup-open] {
    text-decoration-color: light-dark(var(--color-blue-800), var(--color-blue-500));
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue-800);
    outline-offset: -2px;
    text-decoration-line: none;
  }
}

.LinkGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: baseline;
}

.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0 0.875rem;
  margin: 0;
  border: 1px solid light-dark(var(--color-neutral-950), white);
  background-color: light-dark(white, var(--color-neutral-950));
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: light-dark(var(--color-neutral-950), white);
  user-select: none;

  @media (hover: hover) {
    &:hover {
      background-color: light-dark(var(--color-neutral-100), var(--color-neutral-800));
    }
  }

  &:active {
    background-color: light-dark(var(--color-neutral-200), var(--color-neutral-700));
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue-800);
    outline-offset: -2px;
  }
}
