.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.ScrubArea {
  cursor: ew-resize;
  font-weight: 700;
  -webkit-user-select: none;
  user-select: none;
}

.ScrubAreaCursor {
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 50%));
}

.Label {
  cursor: ew-resize;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: oklch(14.5% 0 0deg);

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.Group {
  display: flex;
  height: 2rem;
}

.Input {
  box-sizing: border-box;
  margin: 0;
  padding: 0 0.5rem;
  border: 1px solid oklch(14.5% 0 0deg);
  border-radius: 0;
  width: 7ch;
  height: 100%;
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  background-color: white;
  color: oklch(14.5% 0 0deg);
  text-align: left;
  font-variant-numeric: tabular-nums;

  @media (any-pointer: coarse) {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    background-color: oklch(14.5% 0 0deg);
    color: white;
  }

  &:focus {
    z-index: 1;
    outline: 2px solid oklch(14.5% 0 0deg);
    outline-offset: -1px;

    @media (prefers-color-scheme: dark) {
      outline-color: white;
    }
  }
}

.Decrement,
.Increment {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  border: 1px solid oklch(14.5% 0 0deg);
  border-radius: 0;
  background-color: white;
  background-clip: padding-box;
  color: oklch(14.5% 0 0deg);
  -webkit-user-select: none;
  user-select: none;

  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
    background-color: oklch(14.5% 0 0deg);
    color: white;
  }

  &[data-disabled] {
    color: oklch(55.6% 0 0deg);
    border-color: oklch(55.6% 0 0deg);

    @media (prefers-color-scheme: dark) {
      color: oklch(70.8% 0 0deg);
      border-color: oklch(70.8% 0 0deg);
    }
  }
}

.Decrement {
  border-right: 0;
}

.Increment {
  border-left: 0;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
}

.Button {
  box-sizing: border-box;
  padding: 0.375rem 0.75rem;
  border: 1px solid oklch(14.5% 0 0deg);
  border-radius: 0.25rem;
  background-color: white;
  color: oklch(14.5% 0 0deg);
  font-size: 0.875rem;

  @media (prefers-color-scheme: dark) {
    border-color: white;
    background-color: oklch(14.5% 0 0deg);
    color: white;
  }
}

.Output {
  font-size: 0.875rem;
  color: oklch(43.9% 0 0deg);

  @media (prefers-color-scheme: dark) {
    color: oklch(70.8% 0 0deg);
  }
}

.Row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.Stack {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
}

.Error {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: oklch(50.5% 0.213 27.518deg);

  @media (prefers-color-scheme: dark) {
    color: oklch(70.4% 0.191 22.216deg);
  }
}

.Description {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: oklch(43.9% 0 0deg);

  @media (prefers-color-scheme: dark) {
    color: oklch(70.8% 0 0deg);
  }
}

.Log {
  margin: 0;
  padding: 0.5rem;
  border: 1px solid oklch(85% 0 0deg);
  min-width: 12rem;
  max-height: 6rem;
  overflow: auto;
  font-size: 0.75rem;
  font-family: monospace;
  color: oklch(43.9% 0 0deg);

  @media (prefers-color-scheme: dark) {
    border-color: oklch(35% 0 0deg);
    color: oklch(70.8% 0 0deg);
  }
}
